<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ApplyInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ApplyInfo" id="ApplyInfoResult">
        <result property="applyId"    column="apply_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="applyNumber"    column="apply_number"    />
        <result property="projectId"    column="project_id"    />
        <result property="regimenId"    column="regimen_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="approverName"    column="approver_name"    />
        <result property="costCenter"    column="cost_center"    />
        <result property="state"    column="state"    />
        <result property="reason"    column="reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
         <result property="applyType"    column="apply_type"    />
    </resultMap>

    <sql id="selectApplyInfoVo">
        select apply_id, journey_id,apply_number, project_id, regimen_id,apply_type, approver_name, cost_center, state, reason, create_by, create_time, update_by, update_time,company_id from apply_info
    </sql>

    <select id="selectApplyInfoList" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo" resultMap="ApplyInfoResult">
        <include refid="selectApplyInfoVo"/>
        <where>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="regimenId != null "> and regimen_id = #{regimenId}</if>
            <if test="approverName != null  and approverName != ''"> and approver_name like concat('%', #{approverName}, '%')</if>
            <if test="costCenter != null "> and cost_center = #{costCenter}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        </where>
    </select>

    <select id="selectApplyInfoById" parameterType="Long" resultMap="ApplyInfoResult">
        <include refid="selectApplyInfoVo"/>
        where apply_id = #{applyId}
    </select>

    <insert id="insertApplyInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo" useGeneratedKeys="true" keyProperty="applyId">
        <selectKey keyColumn="apply_id" keyProperty="applyId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into apply_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null ">apply_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="projectId != null ">project_id,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="regimenId != null ">regimen_id,</if>
            <if test="applyNumber != null ">apply_number,</if>
            <if test="applyType != null ">apply_type,</if>
            <if test="approverName != null  and approverName != ''">approver_name,</if>
            <if test="costCenter != null ">cost_center,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="carTypeId != null  and carTypeId != ''">car_type_id,</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">it_is_self_driver,</if>
            <if test="outerCarGroupId != null  and outerCarGroupId != ''">outer_car_group_id,</if>
            <if test="notes != null  and notes != ''">notes,</if>
            <if test="safeRemind != null  and safeRemind != ''">safe_remind,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null ">#{applyId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="companyId != null ">#{companyId},</if>
            <if test="regimenId != null ">#{regimenId},</if>
            <if test="applyNumber != null ">#{applyNumber},</if>
            <if test="applyType != null ">#{applyType},</if>
            <if test="approverName != null  and approverName != ''">#{approverName},</if>
            <if test="costCenter != null ">#{costCenter},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="carTypeId != null  and carTypeId != ''">#{carTypeId},</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">#{itIsSelfDriver},</if>
            <if test="outerCarGroupId != null  and outerCarGroupId != ''">#{outerCarGroupId},</if>
            <if test="notes != null  and notes != ''">#{notes},</if>
            <if test="safeRemind != null  and safeRemind != ''">#{safeRemind},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateApplyInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo">
        update apply_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="projectId != null ">project_id = #{projectId},</if>
            <if test="regimenId != null ">regimen_id = #{regimenId},</if>
            <if test="approverName != null  and approverName != ''">approver_name = #{approverName},</if>
            <if test="costCenter != null ">cost_center = #{costCenter},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="carTypeId != null  and carTypeId != ''">car_type_id = #{carTypeId},</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">it_is_self_driver = #{itIsSelfDriver},</if>
            <if test="outerCarGroupId != null  and outerCarGroupId != ''">outer_car_group_id = #{outerCarGroupId},</if>
            <if test="notes != null  and notes != ''">notes = #{notes},</if>
            <if test="safeRemind != null  and safeRemind != ''">safe_remind = #{safeRemind},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteApplyInfoById" parameterType="Long">
        delete from apply_info where apply_id = #{applyId}
    </delete>

    <delete id="deleteApplyInfoByIds" parameterType="String">
        delete from apply_info where apply_id in
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
    <select id="selectApplyInfoListByPage" parameterType="long" resultType="com.hq.ecmp.mscore.dto.ApplyInfoDTO">
        select t1.apply_id applyId,t1.state,t1.apply_type applyType,t2.title,t2.start_date startDate,t2.end_date endDate
        from apply_info t1
        left join journey_info t2 on t1.journey_id = t2.journey_id
        where t2.create_by = #{userId}
        order by
        CASE WHEN t1.state='S001' THEN t1.create_time END DESC,t1.update_time DESC
    </select>

    <!-- 手动编写sql  start-->
    <select id="getOrderCount" parameterType="Long" resultType="com.hq.ecmp.mscore.dto.MessageDto">
        SELECT messageId,messageType,messageTypeStr,count(*) messageCount from (
        select apply_id as messageId,1 as messageType,'申请'as messageTypeStr from apply_info
        where state!='S002' and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299')
        union (
        select approve_result_id as messageId,2 as messageType,'审批'as messageTypeStr from apply_approve_result_info
        where apply_id in (select apply_id from apply_info
        where state!='S002' and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299'))
        )
        union (
        select journey_id as messageId,3 as messageType,'行程'as messageTypeStr from journey_info
        where user_id = #{userId} and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299')
        )
        union (
        select order_id as messageId,4 as messageType,'派车'as messageTypeStr from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299'
        )) a group by a.messageType
    </select>

    <select id="getApplyMessage"  parameterType="Object" resultType="com.hq.ecmp.mscore.dto.MessageDto" >
        SELECT messageId,messageType,messageTypeStr,count(*) messageCount from (
        select apply_id as messageId,1 as messageType,'申请'as messageTypeStr from apply_info
        where state!='S002' and journey_id in (select journey_id from journey_info where user_id = #{userId})
           )  a group by a.messageType
    </select>

    <select id="getApplyApproveCount"  parameterType="Object" resultType="int" >
        SELECT count(*) from (
        select apply_id  from apply_info
        where create_by=#{userId} and state='S001'
        union all(
        select approve_result_id from apply_approve_result_info where state=#{state} and find_in_set(#{userId},approve_user_id) ) ) a
    </select>

    <select id="checkApplyExpiredList" parameterType="Object" resultMap="ApplyInfoResult" >
        <include refid="selectApplyInfoVo"/>
        where state=#{state} and
        journey_id in
        (select journey_id from journey_info where
            <![CDATA[ DATE_FORMAT(DATE_ADD(use_car_time ,INTERVAL 1 DAY), '%Y-%m-%d') = DATE_FORMAT(now() , '%Y-%m-%d') ]]>  or
            ( start_date is not null  and <![CDATA[ DATE_FORMAT(DATE_ADD(start_date ,INTERVAL 1 DAY), '%Y-%m-%d') = DATE_FORMAT(now() , '%Y-%m-%d') ]]>)
        )
    </select>

	<select id="queryApplyNumByRegimeId" parameterType="java.lang.Long"
		resultType="java.lang.Integer">
		select count(1) from apply_info where regimen_id=#{regimeId}
	</select>
    
    <select id="selectOrderInfoById" parameterType="java.lang.Long" resultType="java.lang.Long">

      SELECT DISTINCT
                        oi.order_id orderId
                    FROM
                        apply_info ai
                        LEFT JOIN journey_info ji ON ai.journey_id = ji.journey_id
                        LEFT JOIN order_info oi ON oi.journey_id = ji.journey_id
                    WHERE
                        ai.apply_id = #{applyId}

    </select>

    <select id="queryApplyUndoList" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.UndoSMSTemplate">

            SELECT
                          eu.nick_name nickName,
                          eu.phonenumber phonenumber,
                          jpi.name   vehicleUser ,
                          jpi.mobile   vehicleUserMobile,
                          ai.notes notes,
                          ji.use_time  useTime,
                          ji.start_date startDate,
                          oi.state  state,
                          euOne.phonenumber  innerPhonenumber,
                          euTwo.phonenumber outerPhonenumber,
                          di.mobile  driverMobile,
	                      oi.order_number orderNumber
                        FROM
                          apply_info ai
                          LEFT JOIN journey_info ji ON ai.journey_id = ji.journey_id
                          LEFT JOIN journey_passenger_info jpi ON jpi.journey_id = ji.journey_id
                          LEFT JOIN ecmp_user eu ON ai.create_by = eu.user_id
                          LEFT JOIN order_info oi ON oi.journey_id = ai.journey_id
                          LEFT JOIN order_dispatche_detail_info oddi ON  oi.order_id = oddi.order_id
                          LEFT JOIN ecmp_user euOne ON oddi.inner_dispatcher = euOne.user_id
                          LEFT JOIN ecmp_user euTwo ON oddi.outer_dispatcher = euTwo.user_id
                          LEFT JOIN driver_info di ON di.driver_id = oi.driver_id
                        WHERE
                            apply_id = #{applyId}

    </select>

    <select id="getApplyCarTypeIdWithOrderId" parameterType="java.lang.Long" resultType="java.lang.Long">
                select a.car_type_id  as carTypeId
                from order_info o
				left join apply_info a on o.journey_id=a.journey_id
				where o.order_id=#{orderId}

    </select>
    <select id="getDispatchApplyInfoByJourneyId" resultType="com.hq.ecmp.mscore.vo.DispatchVo" parameterType="java.lang.Long">
         select
         ecti.name carTypeName,
         ai.car_type_id carTypeId,
         ai.notes,
         ai.it_is_self_driver itIsSelfDriver,
         ai.reason reason,
         ai.safe_remind safeRemind,
         cgi.car_group_name  carGroupName
        from apply_info ai
        left join enterprise_car_type_info ecti on ecti.car_type_id=ai.car_type_id
        LEFT JOIN car_group_info cgi on cgi.car_group_id=ai.outer_car_group_id
        WHERE ai.journey_id=#{journeyId}
    </select>

    <insert id="insertJourneyAddressInfo" parameterType="com.hq.ecmp.mscore.dto.JourneyAddressInfoDto">

        insert into journey_address_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="journeyId != null ">journey_id,</if>
            <if test="addressInfo != null ">address_info,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="addressInfo != null ">#{addressInfo},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>

    </insert>
    <select id="getApplyStateCount" resultType="Map">
    select t.orderState,count(*) counts from (SELECT
        case
        when z.state='S100' then '待派车'
        when right (z.state,3)<![CDATA[ >= ]]>'299' and right (z.state,3)<![CDATA[ <= ]]>'900'   then '已派车'
        when ai.state='S004' OR z.state='S911' then '已撤销'
        when ai.state='S005' OR z.state='S921' then '已过期'
        when z.state='S930' then '已驳回'
        ELSE '' END orderState
        FROM
        apply_info ai
        LEFT JOIN  journey_info ji ON ai.journey_id = ji.journey_id
        LEFT JOIN  ecmp_user eu    ON eu.user_id = ji.user_id
        LEFT JOIN  order_info  oi  ON oi.journey_id = ji.journey_id
        LEFT JOIN (select order_id,state from order_state_trace_info where trace_id in (select Max(trace_id) traceId from order_state_trace_info  group by order_id))  z on z.order_id=oi.order_id
        where  ji.service_type='5000'
        <if test="deptId!=null ">
            and  eu.dept_id = #{deptId}
        </if>
        and (z.state='S100' or z.state='S911' OR z.state='S921' OR z.state='S930' or (right (z.state,3) BETWEEN '299' and '900') )
        ) t group by t.orderState
    </select>

    <select id="getApplyListPage" resultType="com.hq.ecmp.mscore.vo.UserApplySingleVo">
    SELECT DISTINCT
        -- 申请id
        ai.apply_id applyId,
        ai.safe_remind safeRemind,
        -- 申请人姓名
        eu.nick_name applyName,
        -- 申请人手机号
        eu.phonenumber applyPhoneNumber,
        -- 用车人姓名
        jpi.name vehicleUserName,
        -- 用车人手机号
        jpi.mobile	vehicleUserPhoneNumber,
        -- 同行人数
        jpi.peer_number  peerNumber,
        -- 用车单位
        eo.dept_name vehicleUserCompany,
        -- 服务类型
        case
        when right (ji.charter_car_type,3)='001' then '半日租(4小时)'
        when right (ji.charter_car_type,3)='002' then '整日租(8小时)'
        when right (ji.charter_car_type,3)='009' then  CONCAT('多日租','(',ji.use_time,'日',')')
        ELSE '' END charterCarType,
        -- 服务车型
        ecty.name carLevel,
        -- 车辆类型
        ci.car_type carType,
        -- 车辆车牌号
        ci.car_license carLicense,
        -- 车辆颜色
        ci.car_color  carColor,
        -- 用车时间
        ji.use_time useTime,
        -- 用车开始时间
        ji.start_date beginTime,
        -- 用车结束时间
        ji.end_date endTime,
        -- 申请事由
        ai.reason vehicleUseReason,
        -- 用车备注
        ai.notes vehicleRemarks,
        DATE_FORMAT(ai.create_time, '%Y年%m月%d日 %H:%i') createTime,
        -- 车辆归属
        cgi.car_group_name carCompany,
        -- 外部车队名称
        cgiThree.car_group_name outerCarGroupName,
        -- 是否自驾
        ai.it_is_self_driver  itIsSelfDriver,
        -- 状态
        oai1.address beginAddress,
        -- 出发地址
        if (jai.address_info is null,oai2.address,GROUP_CONCAT(oai2.address,',',jai.address_info)) endAddress,
        -- 到达地址
        oi.order_number orderNumber,
        -- 订单编号
        oi.use_car_mode useCarMode,
        oi.state,
        z.state labelState,
        -- 用车方式
        oi.order_id orderId,
        -- 费用合计
        case
        when z.state='S100' then '待派车'
        when right (z.state,3)<![CDATA[ >= ]]>'299' and right (z.state,3)<![CDATA[ <= ]]>'900'   then '已派车'
        when ai.state='S005' OR z.state='S921' then '已过期'
        when z.state='S930' then '已驳回'
        ELSE '' END orderState
        FROM
        apply_info ai
        LEFT JOIN  journey_info ji ON ai.journey_id = ji.journey_id
        LEFT JOIN  ecmp_user eu    ON eu.user_id = ji.user_id
        LEFT JOIN  journey_passenger_info jpi ON jpi.journey_id = ji.journey_id and jpi.it_is_peer = '00'
        LEFT JOIN  ecmp_org eo     ON eo.dept_id  = eu.dept_id
        LEFT JOIN  order_info  oi  ON oi.journey_id = ji.journey_id
        LEFT JOIN  car_info    ci  ON ci.car_id = oi.car_id
        LEFT JOIN  enterprise_car_type_info  ecty ON ecty.car_type_id = ai.car_type_id
        LEFT JOIN  car_group_info cgi ON cgi.car_group_id = ci.car_group_id
        LEFT JOIN  driver_info di  ON di.driver_id = oi.driver_id
        LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = di.driver_id
        LEFT JOIN  car_group_info cgiTwo ON cgiTwo.car_group_id = cgdr.car_group_id
        LEFT JOIN (select order_id,state from order_state_trace_info where trace_id in (select Max(trace_id) traceId from order_state_trace_info  group by order_id))  z on z.order_id=oi.order_id
        left join
        (select order_id,type,address,address_long from order_address_info where type = 'A000') oai1 on  oai1.order_id = oi.order_id
        left join
        (select order_id,type,address,address_long from order_address_info where type = 'A999') oai2 on  oai2.order_id = oi.order_id
        left join  order_settling_info osi on osi.order_id = oi.order_id
        LEFT JOIN car_group_info cgiThree ON  cgiThree.car_group_id = ai.outer_car_group_id
        LEFT JOIN  (select journey_id,group_concat(address_info) address_info from journey_address_info group by journey_id ) jai ON jai.journey_id = ji.journey_id
        where  oi.service_type='5000'
        <if test="deptId!=null ">
            and  eu.dept_id = #{deptId}
        </if>
        <if test="applyId!=null">
            and ai.apply_id=#{applyId}
        </if>
        and (z.state='S100' or (right (z.state,3) BETWEEN '299' and '900')
            or  z.state='S921'  or  z.state='S930')
        GROUP BY  ai.journey_id
        order by orderState='待派车' DESC ,orderState='已派车' DESC , beginTime ASC
</select>

    <select id="getApplySingleIdVO" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.vo.ApplySingleIdVO">

        SELECT
                ai.apply_id applyId,
                ai.journey_id journeyId,
                jucp.node_id nodeId,
                jpi.journey_passenger_id journeyPassengerId,
                jppi.price_id priceId,
                jucp.power_id powerId,
                oddi.dispatch_id   dispatchId,
                jppi.order_id orderId
            FROM
                apply_info ai LEFT JOIN journey_user_car_power jucp ON ai.apply_id = jucp.apply_id
                LEFT JOIN journey_plan_price_info jppi ON jppi.journey_id = ai.journey_id
                LEFT JOIN journey_passenger_info jpi ON jpi.journey_id = ai.journey_id
                LEFT JOIN order_dispatche_detail_info oddi ON oddi.order_id = jppi.order_id
                where ai.apply_id = #{applyId}

    </select>

    <delete id="deleteJourneyAddressInfo" parameterType="java.lang.Long">

        delete from journey_address_info where journey_id = #{journeyId}
    </delete>
    <select id="getApplyInfoDetail" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.vo.ApplySingleVO">

        SELECT
            ai.apply_id AS applyId,
            ai.journey_id AS journeyId,
            ji.start_date AS applyDate,
            ji.use_time   AS applyDays,
            jpi.`name` AS userName,
            jpi.mobile AS userPhone,
            ai.reason AS reason,
            ai.notes  AS notes,
            jpi.peer_number AS peerNumber,
            ai.car_type_id AS carTypeId,
            ai.it_is_self_driver AS itIsSelfDriver,
            ai.outer_car_group_id AS outerCarGroupId,
            ai.safe_remind AS safeRemind
        FROM
            apply_info ai
            LEFT JOIN journey_info ji ON ai.journey_id = ji.journey_id
            LEFT JOIN journey_passenger_info jpi ON jpi.journey_id = ai.journey_id
            WHERE ai.apply_id = #{applyId}
    </select>

    <select id="getJourneyAddressInfoByJourneyId" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.vo.AddressVO">

        select address_info address from journey_address_info  where  journey_id =#{journeyId}

    </select>
</mapper>
