<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ApplyApproveResultInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ApplyApproveResultInfo" id="ApplyApproveResultInfoResult">
        <result property="approveResultId"    column="approve_result_id"    />
        <result property="applyId"    column="apply_id"    />
        <result property="approveTemplateId"    column="approve_template_id"    />
        <result property="approveNodeId"    column="approve_node_id"    />
        <result property="approver"    column="approver"    />
        <result property="approverMobile"    column="approver_mobile"    />
        <result property="approveResult"    column="approve_result"    />
        <result property="state"    column="state"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectApplyApproveResultInfoVo">
        select approve_result_id, apply_id, approve_template_id, approve_node_id, approver, approver_mobile, approve_result, state, content, create_by, create_time, update_by, update_time from apply_approve_result_info
    </sql>

    <select id="selectApplyApproveResultInfoList" parameterType="com.hq.ecmp.mscore.domain.ApplyApproveResultInfo" resultMap="ApplyApproveResultInfoResult">
        <include refid="selectApplyApproveResultInfoVo"/>
        <where>
            <if test="applyId != null "> and apply_id = #{applyId}</if>
            <if test="approveTemplateId != null "> and approve_template_id = #{approveTemplateId}</if>
            <if test="approveNodeId != null "> and approve_node_id = #{approveNodeId}</if>
            <if test="approver != null  and approver != ''"> and approver = #{approver}</if>
            <if test="approverMobile != null  and approverMobile != ''"> and approver_mobile = #{approverMobile}</if>
            <if test="approveResult != null  and approveResult != ''"> and approve_result = #{approveResult}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectApplyApproveResultInfoById" parameterType="Long" resultMap="ApplyApproveResultInfoResult">
        <include refid="selectApplyApproveResultInfoVo"/>
        where approve_result_id = #{approveResultId}
    </select>

    <insert id="insertApplyApproveResultInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyApproveResultInfo">
        insert into apply_approve_result_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="approveResultId != null ">approve_result_id,</if>
            <if test="applyId != null ">apply_id,</if>
            <if test="approveTemplateId != null ">approve_template_id,</if>
            <if test="approveNodeId != null ">approve_node_id,</if>
            <if test="approver != null  and approver != ''">approver,</if>
            <if test="approverMobile != null  and approverMobile != ''">approver_mobile,</if>
            <if test="approveResult != null  and approveResult != ''">approve_result,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="approveResultId != null ">#{approveResultId},</if>
            <if test="applyId != null ">#{applyId},</if>
            <if test="approveTemplateId != null ">#{approveTemplateId},</if>
            <if test="approveNodeId != null ">#{approveNodeId},</if>
            <if test="approver != null  and approver != ''">#{approver},</if>
            <if test="approverMobile != null  and approverMobile != ''">#{approverMobile},</if>
            <if test="approveResult != null  and approveResult != ''">#{approveResult},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateApplyApproveResultInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyApproveResultInfo">
        update apply_approve_result_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyId != null ">apply_id = #{applyId},</if>
            <if test="approveTemplateId != null ">approve_template_id = #{approveTemplateId},</if>
            <if test="approveNodeId != null ">approve_node_id = #{approveNodeId},</if>
            <if test="approver != null  and approver != ''">approver = #{approver},</if>
            <if test="approverMobile != null  and approverMobile != ''">approver_mobile = #{approverMobile},</if>
            <if test="approveResult != null  and approveResult != ''">approve_result = #{approveResult},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where approve_result_id = #{approveResultId}
    </update>

    <delete id="deleteApplyApproveResultInfoById" parameterType="Long">
        delete from apply_approve_result_info where approve_result_id = #{approveResultId}
    </delete>

    <delete id="deleteApplyApproveResultInfoByIds" parameterType="String">
        delete from apply_approve_result_info where approve_result_id in
        <foreach item="approveResultId" collection="array" open="(" separator="," close=")">
            #{approveResultId}
        </foreach>
    </delete>


    <!--手动编写sql start-->
    <select id="getApproveMessage" parameterType="Object" resultType="com.hq.ecmp.mscore.dto.MessageDto">
        SELECT messageId,messageType,messageTypeStr,count(*) messageCount from (
        select approve_result_id as messageId,3 as messageType,'审批'as messageTypeStr from apply_approve_result_info
        where state='ST01' and approve_node_id in (select approve_node_id from approve_template_node_info where user_id = #{userId})
           )  a group by a.messageType
    </select>

    <select id="selectResultList" parameterType="Object" resultType="com.hq.ecmp.mscore.domain.ApplyApproveResultInfo">
        select
        apply_id applyId,approve_node_id approveNodeId,approver,approver_mobile approverMobile,
        approve_result approveResult,content,
        if (approve_result='pass' or approve_result='fail',approve_result,state) state
        from apply_approve_result_info
        where
        approve_node_id in (select approve_node_id from approve_template_node_info where user_id=#{userId})
        <if test="state!=null and state!=''">and state!=#{state}</if>
        order by
        case when state='ST01' then create_time end asc,update_time desc
    </select>

    <select id="getApproveResultList" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.ApprovalInfoVO">
       select a.approve_result_id approveResultId,a.apply_id applyId,a.approve_node_id approvalNodeId,approver approval,
       approver_mobile approvalMobile,approve_result approveResult,state approveState,content,b.next_node_id nextNodeId ,a.update_time time
        from apply_approve_result_info a
        inner join approve_template_node_info b on b.approve_node_id=a.approve_node_id
        where apply_id=#{applyId}
        <if test="approveTemplateId!=null">
           and approve_template_id=#{approveTemplateId}
        </if>
    </select>

    <select id="selectApproveResultByNodeids" parameterType="Object" resultMap="ApplyApproveResultInfoResult">
        <include refid="selectApplyApproveResultInfoVo"/>
        where approve_node_id in (#{nextNodeIds})
        <if test="state!=null">
            state =#{state}
        </if>
    </select>

</mapper>
