<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ApplyInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ApplyInfo" id="ApplyInfoResult">
        <result property="applyId"    column="apply_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="applyNumber"    column="apply_number"    />
        <result property="projectId"    column="project_id"    />
        <result property="regimenId"    column="regimen_id"    />
        <result property="approverName"    column="approver_name"    />
        <result property="costCenter"    column="cost_center"    />
        <result property="state"    column="state"    />
        <result property="reason"    column="reason"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
         <result property="applyType"    column="apply_type"    />
    </resultMap>

    <sql id="selectApplyInfoVo">
        select apply_id, journey_id,apply_number, project_id, regimen_id,apply_type, approver_name, cost_center, state, reason, create_by, create_time, update_by, update_time from apply_info
    </sql>

    <select id="selectApplyInfoList" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo" resultMap="ApplyInfoResult">
        <include refid="selectApplyInfoVo"/>
        <where>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="regimenId != null "> and regimen_id = #{regimenId}</if>
            <if test="approverName != null  and approverName != ''"> and approver_name like concat('%', #{approverName}, '%')</if>
            <if test="costCenter != null "> and cost_center = #{costCenter}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
        </where>
    </select>

    <select id="selectApplyInfoById" parameterType="Long" resultMap="ApplyInfoResult">
        <include refid="selectApplyInfoVo"/>
        where apply_id = #{applyId}
    </select>

    <insert id="insertApplyInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo" useGeneratedKeys="true" keyProperty="applyId">
        <selectKey keyColumn="apply_id" keyProperty="applyId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into apply_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="applyId != null ">apply_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="projectId != null ">project_id,</if>
            <if test="regimenId != null ">regimen_id,</if>
            <if test="applyNumber != null ">apply_number,</if>
            <if test="applyType != null ">apply_type,</if>
            <if test="approverName != null  and approverName != ''">approver_name,</if>
            <if test="costCenter != null ">cost_center,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="applyId != null ">#{applyId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="projectId != null ">#{projectId},</if>
            <if test="regimenId != null ">#{regimenId},</if>
            <if test="applyNumber != null ">#{applyNumber},</if>
            <if test="applyType != null ">#{applyType},</if>
            <if test="approverName != null  and approverName != ''">#{approverName},</if>
            <if test="costCenter != null ">#{costCenter},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateApplyInfo" parameterType="com.hq.ecmp.mscore.domain.ApplyInfo">
        update apply_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="projectId != null ">project_id = #{projectId},</if>
            <if test="regimenId != null ">regimen_id = #{regimenId},</if>
            <if test="approverName != null  and approverName != ''">approver_name = #{approverName},</if>
            <if test="costCenter != null ">cost_center = #{costCenter},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where apply_id = #{applyId}
    </update>

    <delete id="deleteApplyInfoById" parameterType="Long">
        delete from apply_info where apply_id = #{applyId}
    </delete>

    <delete id="deleteApplyInfoByIds" parameterType="String">
        delete from apply_info where apply_id in
        <foreach item="applyId" collection="array" open="(" separator="," close=")">
            #{applyId}
        </foreach>
    </delete>
    <select id="selectApplyInfoListByPage" parameterType="long" resultType="com.hq.ecmp.mscore.dto.ApplyInfoDTO">
        select t1.apply_id applyId,t1.state,t1.apply_type applyType,t2.title,t2.start_date startDate,t2.end_date endDate
        from apply_info t1
        left join journey_info t2 on t1.journey_id = t2.journey_id
        where t2.create_by = #{userId}
        order by
        CASE WHEN t1.state='S001' THEN t1.create_time END DESC,t1.update_time DESC
    </select>

    <!-- 手动编写sql  start-->
    <select id="getOrderCount" parameterType="Long" resultType="com.hq.ecmp.mscore.dto.MessageDto">
        SELECT messageId,messageType,messageTypeStr,count(*) messageCount from (
        select apply_id as messageId,1 as messageType,'申请'as messageTypeStr from apply_info
        where state!='S002' and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299')
        union (
        select approve_result_id as messageId,2 as messageType,'审批'as messageTypeStr from apply_approve_result_info
        where apply_id in (select apply_id from apply_info
        where state!='S002' and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299'))
        )
        union (
        select journey_id as messageId,3 as messageType,'行程'as messageTypeStr from journey_info
        where user_id = #{userId} and journey_id in (select journey_id from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299')
        )
        union (
        select order_id as messageId,4 as messageType,'派车'as messageTypeStr from order_info
        where journey_id in (select journey_id from journey_info where user_id = #{userId}) and state!='S299'
        )) a group by a.messageType
    </select>

    <select id="getApplyMessage"  parameterType="Object" resultType="com.hq.ecmp.mscore.dto.MessageDto" >
        SELECT messageId,messageType,messageTypeStr,count(*) messageCount from (
        select apply_id as messageId,1 as messageType,'申请'as messageTypeStr from apply_info
        where state!='S002' and journey_id in (select journey_id from journey_info where user_id = #{userId})
           )  a group by a.messageType
    </select>

    <select id="getApplyApproveCount"  parameterType="Object" resultType="int" >
        SELECT count(*) from (
        select apply_id  from apply_info
        where create_by=#{userId}
        union all(
        select approve_result_id from apply_approve_result_info where state=#{state} and find_in_set(#{userId},approve_user_id) ) ) a
    </select>

    <select id="checkApplyExpiredList" parameterType="Object" resultMap="ApplyInfoResult" >
        <include refid="selectApplyInfoVo"/>
        where state=#{state} and
        journey_id in
        (select journey_id from journey_info where
            <![CDATA[ DATE_FORMAT(DATE_ADD(use_car_time ,INTERVAL 1 DAY), '%Y-%m-%d') = DATE_FORMAT(now() , '%Y-%m-%d') ]]>  or
            <![CDATA[ DATE_FORMAT(DATE_ADD(start_date ,INTERVAL 1 DAY), '%Y-%m-%d') = DATE_FORMAT(now() , '%Y-%m-%d') ]]>
        )
    </select>
</mapper>
