<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ApproveTemplateNodeInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ApproveTemplateNodeInfo" id="ApproveTemplateNodeInfoResult">
        <result property="approveNodeId"    column="approve_node_id"    />
        <result property="approveTemplateId"    column="approve_template_id"    />
        <result property="approverType"    column="approver_type"    />
        <result property="leaderLevel"    column="leader_level"    />
        <result property="roleId"    column="role_id"    />
        <result property="userId"    column="user_id"    />
        <result property="nextNodeId"    column="next_node_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectApproveTemplateNodeInfoVo">
        select approve_node_id, approve_template_id, approver_type, leader_level, role_id, user_id,next_node_id, create_by, create_time, update_by, update_time from approve_template_node_info
    </sql>

    <select id="selectApproveTemplateNodeInfoList" parameterType="com.hq.ecmp.mscore.domain.ApproveTemplateNodeInfo" resultMap="ApproveTemplateNodeInfoResult">
        <include refid="selectApproveTemplateNodeInfoVo"/>
        <where>
            <if test="approveTemplateId != null "> and approve_template_id = #{approveTemplateId}</if>
            <if test="approverType != null  and approverType != ''"> and approver_type = #{approverType}</if>
            <if test="leaderLevel != null  and leaderLevel != ''"> and leader_level = #{leaderLevel}</if>
            <if test="roleId != null  and roleId != ''"> and role_id = #{roleId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="nextNodeId != null "> and next_node_id = #{nextNodeId}</if>
        </where>
    </select>

    <select id="selectApproveTemplateNodeInfoById" parameterType="Long" resultMap="ApproveTemplateNodeInfoResult">
        <include refid="selectApproveTemplateNodeInfoVo"/>
        where approve_node_id = #{approveNodeId}
    </select>

    <insert id="insertApproveTemplateNodeInfo" parameterType="com.hq.ecmp.mscore.domain.ApproveTemplateNodeInfo">
        insert into approve_template_node_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="approveNodeId != null ">approve_node_id,</if>
            <if test="approveTemplateId != null ">approve_template_id,</if>
            <if test="approverType != null  and approverType != ''">approver_type,</if>
            <if test="leaderLevel != null  and leaderLevel != ''">leader_level,</if>
            <if test="roleId != null  and roleId != ''">role_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="nextNodeId != null ">next_node_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="approveNodeId != null ">#{approveNodeId},</if>
            <if test="approveTemplateId != null ">#{approveTemplateId},</if>
            <if test="approverType != null  and approverType != ''">#{approverType},</if>
            <if test="leaderLevel != null  and leaderLevel != ''">#{leaderLevel},</if>
            <if test="roleId != null  and roleId != ''">#{roleId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="nextNodeId != null ">#{nextNodeId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateApproveTemplateNodeInfo" parameterType="com.hq.ecmp.mscore.domain.ApproveTemplateNodeInfo">
        update approve_template_node_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="approveTemplateId != null ">approve_template_id = #{approveTemplateId},</if>
            <if test="approverType != null  and approverType != ''">approver_type = #{approverType},</if>
            <if test="leaderLevel != null  and leaderLevel != ''">leader_level = #{leaderLevel},</if>
            <if test="roleId != null  and roleId != ''">role_id = #{roleId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="nextNodeId != null ">next_node_id = #{nextNodeId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where approve_node_id = #{approveNodeId}
    </update>

    <delete id="deleteApproveTemplateNodeInfoById" parameterType="Long">
        delete from approve_template_node_info where approve_node_id = #{approveNodeId}
    </delete>

    <delete id="deleteApproveTemplateNodeInfoByIds" parameterType="String">
        delete from approve_template_node_info where approve_node_id in
        <foreach item="approveNodeId" collection="array" open="(" separator="," close=")">
            #{approveNodeId}
        </foreach>
    </delete>


    <!--手动编写sql start-->
    <select id="getListByNodeIds" parameterType="Object" resultType="String">
        select group_concat(distinct user_id) from approve_template_node_info
        <if test="nodeIds!=null">
            where approve_node_id in
            <foreach item="approveNodeId" collection="list" open="(" separator="," close=")">
                #{approveNodeId}
            </foreach>
        </if>
    </select>
</mapper>
