<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarContractInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarContractInfo" id="CarContractInfoResult">
        <result property="contractId"    column="contract_id"    />
        <result property="carId"    column="car_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarContractInfoVo">
        select contract_id, car_id, create_by, create_time, update_by, update_time from car_contract_info
    </sql>

    <select id="selectCarContractInfoList" parameterType="com.hq.ecmp.mscore.domain.CarContractInfo" resultMap="CarContractInfoResult">
        <include refid="selectCarContractInfoVo"/>
        <where>
            <if test="carId != null "> and car_id = #{carId}</if>
        </where>
    </select>

    <select id="selectCarContractInfoById" parameterType="Long" resultMap="CarContractInfoResult">
        <include refid="selectCarContractInfoVo"/>
        where contract_id = #{contractId}
    </select>

    <insert id="insertCarContractInfo" parameterType="com.hq.ecmp.mscore.domain.CarContractInfo">
        insert into car_contract_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractId != null ">contract_id,</if>
            <if test="carId != null ">car_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractId != null ">#{contractId},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarContractInfo" parameterType="com.hq.ecmp.mscore.domain.CarContractInfo">
        update car_contract_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where contract_id = #{contractId}
    </update>

    <delete id="deleteCarContractInfoById" parameterType="Long">
        delete from car_contract_info where contract_id = #{contractId}
    </delete>

    <delete id="deleteCarContractInfoByIds" parameterType="String">
        delete from car_contract_info where contract_id in
        <foreach item="contractId" collection="array" open="(" separator="," close=")">
            #{contractId}
        </foreach>
    </delete>

</mapper>
