<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarGroupDispatcherInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarGroupDispatcherInfo" id="CarGroupDispatcherInfoResult">
        <result property="dispatcherId"    column="dispatcher_id"    />
        <result property="carGroupId"    column="car_group_id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarGroupDispatcherInfoVo">
        select dispatcher_id, car_group_id, user_id, name, create_by, create_time, update_by, update_time from car_group_dispatcher_info
    </sql>

    <select id="selectCarGroupDispatcherInfoList" parameterType="com.hq.ecmp.mscore.domain.CarGroupDispatcherInfo" resultMap="CarGroupDispatcherInfoResult">
        <include refid="selectCarGroupDispatcherInfoVo"/>
        <where>
            <if test="carGroupId != null "> and car_group_id = #{carGroupId}</if>
            <if test="userId != null and userId !=0 "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>

    <select id="selectCarGroupDispatcherInfoById" parameterType="Long" resultMap="CarGroupDispatcherInfoResult">
        <include refid="selectCarGroupDispatcherInfoVo"/>
        where dispatcher_id = #{dispatcherId}
    </select>

    <insert id="insertCarGroupDispatcherInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupDispatcherInfo">
        insert into car_group_dispatcher_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="dispatcherId != null ">dispatcher_id,</if>
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="dispatcherId != null ">#{dispatcherId},</if>
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarGroupDispatcherInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupDispatcherInfo">
        update car_group_dispatcher_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="carGroupId != null ">car_group_id = #{carGroupId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where dispatcher_id = #{dispatcherId}
    </update>

    <delete id="deleteCarGroupDispatcherInfoById" parameterType="Long">
        delete from car_group_dispatcher_info where dispatcher_id = #{dispatcherId}
    </delete>

    <delete id="deleteCarGroupDispatcherInfoByIds" parameterType="String">
        delete from car_group_dispatcher_info where dispatcher_id in
        <foreach item="dispatcherId" collection="array" open="(" separator="," close=")">
            #{dispatcherId}
        </foreach>
    </delete>

    <select id="queryCarGroupIdList" parameterType="java.lang.Long" resultType="java.lang.Long">
    select car_group_id from car_group_dispatcher_info  where user_id=#{userId}
    </select>

    <select id="queryUserByCarGroup" resultType="java.lang.Long">
    select user_id from car_group_dispatcher_info where car_group_id in
    <foreach collection="list" separator="," open="(" close=")" item="item">
    #{item}
    </foreach>

    </select>
    <delete id="removeCarGroupDispatcher">
        delete from car_group_dispatcher_info where car_group_id = #{carGroupId} and user_id = #{dispatcherId}
    </delete>
    <delete id="deleteCarGroupDispatcherInfoByGroupId" parameterType="long">
         delete from car_group_dispatcher_info where car_group_id = #{carGroupId}
    </delete>

    <select id="findByCityCode" resultType="Long">
        select user_id userId from car_group_dispatcher_info
        where car_group_id in (select car_group_id from car_group_info where find_in_set(city,#{cityCode}))
    </select>

</mapper>
