<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarGroupServeScopeInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarGroupServeScopeInfo" id="CarGroupServeScopeInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="carGroupId" column="car_group_id" jdbcType="INTEGER"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="CarGroupServeScopeInfoMap">
        select
          id, car_group_id, province, city, create_by, create_time, update_by, update_time
        from ecmp.car_group_serve_scope_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="CarGroupServeScopeInfoMap">
        select
          id, car_group_id, province, city, create_by, create_time, update_by, update_time
        from ecmp.car_group_serve_scope_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="CarGroupServeScopeInfoMap">
        select
        id, car_group_id, province, city, create_by, create_time, update_by, update_time
        from ecmp.car_group_serve_scope_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="carGroupId != null">
                and car_group_id = #{carGroupId}
            </if>
            <if test="province != null and province != ''">
                and province = #{province}
            </if>
            <if test="city != null and city != ''">
                and city = #{city}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ecmp.car_group_serve_scope_info(car_group_id, province, city, create_by, create_time, update_by, update_time)
        values (#{carGroupId}, #{province}, #{city}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ecmp.car_group_serve_scope_info
        <set>
            <if test="carGroupId != null">
                car_group_id = #{carGroupId},
            </if>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ecmp.car_group_serve_scope_info where id = #{id}
    </delete>

    <select id="queryCarGroupByCity" parameterType="string" resultType="java.lang.Long">
  	  select car_group_id from car_group_serve_scope_info where city=#{city}
    </select>
    <update id="updateInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupServeScopeInfo">
        update ecmp.car_group_serve_scope_info
        <set>
            <if test="province != null and province != ''">
                province = #{province},
            </if>
            <if test="city != null and city != ''">
                city = #{city},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where car_group_id = #{carGroupId}
    </update>

    <!--通过车队ID删除-->
    <delete id="deleteByCarGroupId">
        delete from ecmp.car_group_serve_scope_info where car_group_id = #{carGroupId}
    </delete>

    <select id="findByCityAndGroupId" parameterType="Object" resultMap="CarGroupServeScopeInfoMap">
        select
          id, car_group_id, province, city, create_by, create_time, update_by, update_time
        from car_group_serve_scope_info
        <where>
            <if test="groupIds!=null">
                and  car_group_id in
                <foreach collection="groupIds" item="groupId" open="(" separator="," close=")">
                    #{groupId}
                </foreach>
            </if>
            <if test="city!=null">
                and find_in_set(city,#{city})
            </if>
        </where>
    </select>

    <select id="selectObtainDispatcherCity" parameterType="java.lang.String" resultType="com.hq.ecmp.mscore.vo.CityInfo">

        SELECT DISTINCT
                cc.CITY_ID cityId,
                cc.city_code cityCode,
                cc.SHORT_NAME cityName
            FROM
                car_group_info cpi
                LEFT JOIN car_group_serve_scope_info cgssi ON  cpi.car_group_id = cgssi.car_group_id
                LEFT JOIN china_city cc ON cgssi.city = cc.CITY_CODE
                where cpi.car_group_id in (#{carGroupId})
    </select>
</mapper>
