<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarGroupInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarGroupInfo" id="CarGroupInfoResult">
        <result property="carGroupId"    column="car_group_id"    />
        <result property="city"    column="city"    />
        <result property="cityName"    column="city_name"    />
        <result property="ownerOrg"    column="owner_org"    />
        <result property="leader"    column="leader"    />
        <result property="telephone"    column="telephone"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarGroupInfoVo">
        select car_group_id, city, owner_org, leader,telephone,create_by, create_time, update_by, update_time from car_group_info
    </sql>

    <select id="selectCarGroupInfoList" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        <where>
            <if test="city != null "> and city = #{city}</if>
            <if test="ownerOrg != null "> and owner_org = #{ownerOrg}</if>
            <if test="leader != null "> and leader = #{leader}</if>
        </where>
    </select>

    <select id="selectCarGroupInfoById" parameterType="Long" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        where car_group_id = #{carGroupId}
    </select>

    <insert id="insertCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        <selectKey  keyColumn="car_group_id" keyProperty="carGroupId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into car_group_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="city != null ">city,</if>
            <if test="cityName != null  and cityName != ''">city_name,</if>
            <if test="ownerOrg != null ">owner_org,</if>
            <if test="leader != null ">leader,</if>
            <if test="province != null ">province,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="telephone != null ">telephone,</if>
            <if test="carGroupName != null ">car_group_name,</if>
            <if test="carGroupCode != null ">car_group_code,</if>
            <if test="shortAddress != null ">short_address,</if>
            <if test="fullAddress != null ">full_address,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="city != null ">#{city},</if>
            <if test="cityName != null  and cityName != ''">#{cityName},</if>
            <if test="ownerOrg != null ">#{ownerOrg},</if>
            <if test="leader != null ">#{leader},</if>
            <if test="province != null ">#{province},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="telephone != null ">#{telephone},</if>
            <if test="carGroupName != null ">#{carGroupName},</if>
            <if test="carGroupCode != null ">#{carGroupCode},</if>
            <if test="shortAddress != null ">#{shortAddress},</if>
            <if test="fullAddress != null ">#{fullAddress},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        update car_group_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="city != null ">city = #{city},</if>
            <if test="cityName != null  and cityName != ''">city_name = #{cityName},</if>
            <if test="ownerOrg != null ">owner_org = #{ownerOrg},</if>
            <if test="leader != null ">leader = #{leader},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where car_group_id = #{carGroupId}
    </update>

    <delete id="deleteCarGroupInfoById" parameterType="Long">
        delete from car_group_info where car_group_id = #{carGroupId}
    </delete>

    <delete id="deleteCarGroupInfoByIds" parameterType="String">
        delete from car_group_info where car_group_id in
        <foreach item="carGroupId" collection="array" open="(" separator="," close=")">
            #{carGroupId}
        </foreach>
    </delete>
    <!--查询该组织下的车队信息-->
    <select id="selectCountByOrgdeptId"  resultType="Integer">
        select count(1) from  car_group_info where car_group_id in (select car_group_id from  car_info where dept_id=#{deptId})
    </select>

    <select id="selectAllByPage" resultType="com.hq.ecmp.mscore.vo.CarGroupListVO">
            select car_group_id as carGroupId, car_group_name as carGroupName,
                car_group_code as carGroupCode,owner_org as ownerOrg,
                state,city
             from car_group_info
        <where>
            <if test="search != null ">
                car_group_name like concat('%', #{search}, '%')
                or car_group_id like concat('%', #{search}, '%')
            </if>
        </where>
             and order by car_group_name
    </select>

    <select id="selectSubCarGroupInfoList" resultType="com.hq.ecmp.mscore.vo.CarGroupListVO" parameterType="long">
        select car_group_id as carGroupId, car_group_name as carGroupName,
                car_group_code as carGroupCode,owner_org as ownerOrg,
                state,city
             from car_group_info
             inner join ecmp_org on car_group_info.owner_org = ecmp_org.dept_id
             where ecmp_org.dept_id = #{deptId}
    </select>
    <select id="selectValidCarGroupListByCity" resultType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        select car_group_id as carGroupId,car_group_name as carGroupName, telephone
         from car_group_info
         where city = #{cityCode}
    </select>

</mapper>
