<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarGroupDriverRelationMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarGroupDriverRelation" id="CarGroupDriverRelationResult">
        <result property="driverId"    column="driver_id"    />
        <result property="carGroupId"    column="car_group_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarGroupDriverRelationVo">
        select driver_id, car_group_id, create_by, create_time, update_by, update_time from car_group_driver_relation
    </sql>

    <select id="selectCarGroupDriverRelationList" parameterType="com.hq.ecmp.mscore.domain.CarGroupDriverRelation" resultMap="CarGroupDriverRelationResult">
        <include refid="selectCarGroupDriverRelationVo"/>
        <where>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="carGroupId != null "> and car_group_id = #{carGroupId}</if>
        </where>
    </select>

    <select id="selectCarGroupDriverRelationById" parameterType="Long" resultMap="CarGroupDriverRelationResult">
        <include refid="selectCarGroupDriverRelationVo"/>
        where driver_id = #{driverId}
    </select>

    <insert id="insertCarGroupDriverRelation" parameterType="com.hq.ecmp.mscore.domain.CarGroupDriverRelation">
        insert into car_group_driver_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="driverId != null ">driver_id,</if>
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="driverId != null ">#{driverId},</if>
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarGroupDriverRelation" parameterType="com.hq.ecmp.mscore.domain.CarGroupDriverRelation">
        update car_group_driver_relation
        <trim prefix="SET" suffixOverrides=",">
            <if test="carGroupId != null ">car_group_id = #{carGroupId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where driver_id = #{driverId}
    </update>

    <delete id="deleteCarGroupDriverRelationById" parameterType="Long">
        delete from car_group_driver_relation where driver_id = #{driverId}
    </delete>

    <delete id="deleteCarGroupDriverRelationByIds" parameterType="String">
        delete from car_group_driver_relation where driver_id in
        <foreach item="driverId" collection="array" open="(" separator="," close=")">
            #{driverId}
        </foreach>
    </delete>
    <select id="selectCountDriver" resultType="int" parameterType="long">
        select count(*) from car_group_driver_relation where car_group_id = #{carGroupId}
    </select>

</mapper>
