<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarGroupInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarGroupInfo" id="CarGroupInfoResult">
        <result property="carGroupId"    column="car_group_id"    />
        <result property="carGroupName"    column="car_group_name"    />
        <result property="carGroupCode"    column="car_group_code"    />
        <result property="city"    column="city"    />
        <result property="fullAddress"    column="full_address"    />
        <result property="shortAddress"    column="short_address"    />
        <result property="companyId"    column="company_id"    />
        <result property="leader"    column="leader"    />
        <result property="telephone"    column="telephone"    />
        <result property="province"    column="province"    />
        <result property="latitude"    column="latitude"    />
        <result property="longitude"    column="longitude"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="parentCarGroupId"    column="parent_car_group_id"    />
    </resultMap>

    <sql id="selectCarGroupInfoVo">
        select car_group_id,parent_car_group_id,car_group_name,car_group_code, city,full_address,short_address,company_id,
         leader,telephone,create_by,province,latitude,longitude,state, create_time, update_by, update_time from car_group_info
    </sql>

    <select id="selectCarGroupInfoList" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        <where>
            state != 'S444'
            <if test="city != null "> and city = #{city}</if>
            <if test="leader != null "> and leader = #{leader}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="parentCarGroupId != null "> and parent_car_group_id = #{parentCarGroupId}</if>
        </where>
    </select>

    <select id="selectCarGroupInfoById" parameterType="Long" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        where car_group_id = #{carGroupId} and state != 'S444'
    </select>

    <insert id="insertCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        <selectKey  keyColumn="car_group_id" keyProperty="carGroupId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into car_group_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="parentCarGroupId != null ">parent_car_group_id,</if>
            <if test="city != null ">city,</if>
            <if test="cityName != null  and cityName != ''">city_name,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="leader != null ">leader,</if>
            <if test="province != null ">province,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="telephone != null ">telephone,</if>
            <if test="carGroupName != null ">car_group_name,</if>
            <if test="carGroupCode != null ">car_group_code,</if>
            <if test="shortAddress != null ">short_address,</if>
            <if test="fullAddress != null ">full_address,</if>
            <if test="state != null ">state,</if>
            <if test="allowOuterDispatch != null ">allow_outer_dispatch,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="parentCarGroupId != null ">#{parentCarGroupId},</if>
            <if test="city != null ">#{city},</if>
            <if test="cityName != null  and cityName != ''">#{cityName},</if>
            <if test="companyId != null ">#{companyId},</if>
            <if test="leader != null ">#{leader},</if>
            <if test="province != null ">#{province},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="telephone != null ">#{telephone},</if>
            <if test="carGroupName != null ">#{carGroupName},</if>
            <if test="carGroupCode != null ">#{carGroupCode},</if>
            <if test="shortAddress != null ">#{shortAddress},</if>
            <if test="fullAddress != null ">#{fullAddress},</if>
            <if test="state != null ">#{state},</if>
            <if test="allowOuterDispatch != null ">#{allowOuterDispatch},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        update car_group_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="city != null ">city = #{city},</if>
            <if test="carGroupName != null  and carGroupName != ''">car_group_name = #{carGroupName},</if>
            <if test="carGroupCode != null  and carGroupCode != ''">car_group_code = #{carGroupCode},</if>
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="parentCarGroupId != null ">parent_car_group_id = #{parentCarGroupId},</if>
            <if test="leader != null ">leader = #{leader},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="shortAddress != null and shortAddress != ''">short_address = #{shortAddress},</if>
            <if test="fullAddress != null and fullAddress != ''">full_address = #{fullAddress},</if>
            <if test="telephone != null and telephone != ''">telephone = #{telephone},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="allowOuterDispatch != null ">allow_outer_dispatch = #{allowOuterDispatch},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where car_group_id = #{carGroupId}
    </update>

    <delete id="deleteCarGroupInfoById" parameterType="Long">
        delete from car_group_info where car_group_id = #{carGroupId}
    </delete>

    <delete id="deleteCarGroupInfoByIds" parameterType="String">
        delete from car_group_info where car_group_id in
        <foreach item="carGroupId" collection="array" open="(" separator="," close=")">
            #{carGroupId}
        </foreach>
    </delete>
    <!--查询该组织下的车队信息-->
    <select id="selectCountByOrgdeptId"  resultType="Integer">
        select count(1) from  car_group_info where car_group_id in (select car_group_id from  car_info where dept_id=#{deptId})
    </select>

    <select id="selectAllByPage" resultType="com.hq.ecmp.mscore.vo.CarGroupListVO">
            select c.car_group_id as carGroupId, c.car_group_name as carGroupName,
        c.car_group_code as carGroupCode,
        c.company_id as companyId,
                e1.dept_name as ownerCompanyName,
                e1.dept_id as ownerOrg,
        c.state,c.city,ch.SHORT_NAME as cityName
             from car_group_info c
            left join ecmp_org e1 on e1.dept_id = c.company_id
            left join china_city ch on ch.CITY_CODE = c.city
        <where>
            c.state != 'S444'
            <if test="search != null and search != '' ">
                and (c.car_group_name like concat('%',#{search},'%')
                or c.car_group_code like concat('%',#{search},'%'))
            </if>
            <if test="state != null and state != ''">
                and c.state = #{state}
            </if>
            <if test="deptId != null">
                and c.company_id = #{deptId} and c.parent_car_group_id = 0
            </if>
            <if test="carGroupId != null">
                and c.parent_car_group_id = #{carGroupId}
            </if>
            <if test="companyId != null">
                and c.company_id = #{companyId}
            </if>
        </where>
             order by c.car_group_name
    </select>

    <select id="selectSubCarGroupInfoList" resultType="com.hq.ecmp.mscore.vo.CarGroupListVO" parameterType="long">
        select car_group_id as carGroupId, car_group_name as carGroupName,
                car_group_code as carGroupCode,
                state,city
             from car_group_info
             where state != 'S444'
    </select>
    <select id="selectValidCarGroupListByCity" resultType="com.hq.ecmp.mscore.domain.CarGroupInfo">
        select car_group_id as carGroupId,car_group_name as carGroupName, telephone
         from car_group_info
         where city = #{cityCode} and state = 'Y000'
    </select>
    <select id="selectCarGroupPhones" resultType="com.hq.ecmp.mscore.vo.CarGroupFixedPhoneVO" parameterType="long">
            select car_group_name as carGroupName, telephone as phone
            from car_group_info
            where car_group_id in
        <foreach collection="list" item="groupId" index="index" open="(" close=")" separator=",">
            #{groupId}
        </foreach>
         and state = 'Y000'
    </select>

    <select id="selectCarGroupsByDriverId" resultType="com.hq.ecmp.mscore.domain.CarGroupInfo" parameterType="long">
        SELECT
            DISTINCTROW
                cgi.*
        FROM  driver_info  dri
        LEFT JOIN  car_group_driver_relation cgd  ON cgd.driver_id=dri.driver_id
        LEFT JOIN  car_group_info cgi ON cgi.car_group_id=cgd.car_group_id
        WHERE 1=1
        AND cgi.car_group_id IS NOT NULL
        AND dri.driver_id=#{driverId}
    </select>

    <select id="selectFirstLevelCarGroupList" resultType="com.hq.ecmp.mscore.vo.CarGroupTreeVO">
         select car_group_id as deptId,
               car_group_name as deptName
        from   car_group_info
        where  company_id = #{deptId} and parent_car_group_id = 0 and  state != 'S444'
    </select>
    <select id="getCarGroupTree" resultType="com.hq.ecmp.mscore.vo.CarGroupTreeVO">
        select car_group_id as deptId,
               car_group_name as deptName
        from   car_group_info
        where  parent_car_group_id = #{carGroupId} and state != 'S444'
    </select>
    <select id="selectAllCarGroupCode" resultType="java.lang.String" parameterType="long">
        SELECT car_group_code FROM car_group_info where state != 'S444' and company_id = #{companyId}
    </select>

    <select id="selectCountByParentId" resultType="int">
        select count(1) from car_group_info where parent_car_group_id = #{parentId} and state != 'S444'
    </select>
    <select id="selectAllCarGroupNameByCompany" resultType="java.lang.String">
        select distinct car_group_name from car_group_info where company_id = #{companyId} and state != 'S444'
    </select>
    <select id="selectEnableCarGroupInfoList" parameterType="com.hq.ecmp.mscore.domain.CarGroupInfo" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        <where>
            state = 'Y000'
            <if test="city != null "> and city = #{city}</if>
            <if test="leader != null "> and leader = #{leader}</if>
            <if test="companyId != null "> and company_id = #{companyId}</if>
        </where>
    </select>

    <select id="getCarGroupList" resultType="com.hq.ecmp.mscore.vo.CarGroupListVO">
        select car_group_id carGroupId,car_group_name carGroupName,car_group_code carGroupCode,company_id ownerCompany from car_group_info
        where car_group_id in (select car_group_id from car_group_dispatcher_info where user_id=#{userId})
        or parent_car_group_id in (select car_group_id from car_group_dispatcher_info where user_id=#{userId})
    </select>

    <select id="selectCarGroupInfoByDeptId" resultMap="CarGroupInfoResult">
        <include refid="selectCarGroupInfoVo"/>
        <where>
            car_group_id in (
            select distinct car_group_id from car_group_serve_org_relation
            where (dept_id=#{deptId} and type='N100') or (dept_id=#{orgComcany} and type='W200' )
            )
        </where>
    </select>

    <select id="findCarTypeByGroupIds" resultType="com.hq.ecmp.mscore.vo.CarLevelVO" parameterType="Object">
        SELECT car_group_id ,level groupId,name groupName from (SELECT
            a.car_group_id,
            b.NAME name ,
            b.LEVEL level,
            b.car_type_id
        FROM
            car_info a
            INNER JOIN enterprise_car_type_info b ON b.car_type_id = a.car_type_id
        WHERE 1=1
            <if test="groupIds!=null">
                and find_in_set(a.car_group_id,#{groupIds})
            </if>
            ) t
             group by t.car_type_id
    </select>
    <select id="getCarGroupTreeByDeptIds" resultType="map">
        select car_group_id id,car_group_name showname,company_id pid,1 type,CONCAT(car_group_id,'-','1') onlyId,CONCAT(company_id,'-','0') onlyPid from car_group_info
		where state = 'Y000' and company_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <select id="getCarGroupTreeByCarIds" resultType="map">
        select car_group_id id,car_group_name showname,company_id pid,1 type,CONCAT(car_group_id,'-','1') onlyId,CONCAT(company_id,'-','0') onlyPid from car_group_info
        where state = 'Y000' and car_group_id in
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryCarGroupIdInnerCompany" resultType="java.lang.Long">
        select ci.car_group_id from car_group_info ci
            left join car_group_serve_scope_info cgssi on cgssi.car_group_id=ci.car_group_id
            left join car_group_serve_org_relation s on ci.car_group_id=s.car_group_id
            where s.dept_id=#{deptId}
            and find_in_set(cgssi.city,#{cityCode})
            and ci.company_id=#{companyId}
            and ci.state='Y000'
            and s.type='N100'
    </select>

    <select id="queryCarGroupIdOuterCompany" resultType="java.lang.Long">
        select ci.car_group_id from car_group_info ci
            left join car_group_serve_scope_info cgssi on cgssi.car_group_id=ci.car_group_id
            left join car_group_serve_org_relation s on ci.car_group_id=s.car_group_id
            where s.type='W200'
            and find_in_set(cgssi.city,#{cityCode})
            and ci.company_id!=#{companyId}
            and ci.allow_outer_dispatch='Y000'
            and ci.state='Y000'
    </select>
    <select id="queryAllDispatchersByCompanyId" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select s.user_id from car_group_info c
        left join car_group_dispatcher_info s on c.car_group_id=s.car_group_id
        where c.company_id=#{companyId}
        and c.state='Y000'
    </select>
</mapper>
