<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarHeartbeatInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarHeartbeatInfo" id="CarHeartbeatInfoResult">
        <result property="carHeartbeatId"    column="car_heartbeat_id"    />
        <result property="attribute9"    column="Attribute9"    />
    </resultMap>

    <sql id="selectCarHeartbeatInfoVo">
        select car_heartbeat_id, Attribute9 from car_heartbeat_info
    </sql>

    <select id="selectCarHeartbeatInfoList" parameterType="com.hq.ecmp.mscore.domain.CarHeartbeatInfo" resultMap="CarHeartbeatInfoResult">
        <include refid="selectCarHeartbeatInfoVo"/>
        <where>
            <if test="attribute9 != null  and attribute9 != ''"> and Attribute9 = #{attribute9}</if>
        </where>
    </select>

    <select id="selectCarHeartbeatInfoById" parameterType="String" resultMap="CarHeartbeatInfoResult">
        <include refid="selectCarHeartbeatInfoVo"/>
        where car_heartbeat_id = #{carHeartbeatId}
    </select>

    <insert id="insertCarHeartbeatInfo" parameterType="com.hq.ecmp.mscore.domain.CarHeartbeatInfo">
        insert into car_heartbeat_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="carHeartbeatId != null  and carHeartbeatId != ''">car_heartbeat_id,</if>
            <if test="attribute9 != null  and attribute9 != ''">Attribute9,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="carHeartbeatId != null  and carHeartbeatId != ''">#{carHeartbeatId},</if>
            <if test="attribute9 != null  and attribute9 != ''">#{attribute9},</if>
         </trim>
    </insert>

    <update id="updateCarHeartbeatInfo" parameterType="com.hq.ecmp.mscore.domain.CarHeartbeatInfo">
        update car_heartbeat_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="attribute9 != null  and attribute9 != ''">Attribute9 = #{attribute9},</if>
        </trim>
        where car_heartbeat_id = #{carHeartbeatId}
    </update>

    <delete id="deleteCarHeartbeatInfoById" parameterType="String">
        delete from car_heartbeat_info where car_heartbeat_id = #{carHeartbeatId}
    </delete>

    <delete id="deleteCarHeartbeatInfoByIds" parameterType="String">
        delete from car_heartbeat_info where car_heartbeat_id in
        <foreach item="carHeartbeatId" collection="array" open="(" separator="," close=")">
            #{carHeartbeatId}
        </foreach>
    </delete>

</mapper>
