<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarIllegalInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarIllegalInfo" id="CarIllegalInfoResult">
        <result property="illegalId"    column="illegal_id"    />
        <result property="carId"    column="car_id"    />
        <result property="address"    column="address"    />
        <result property="score"    column="score"    />
        <result property="driverId"    column="driver_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarIllegalInfoVo">
        select illegal_id, car_id, address, score, driver_id, create_by, create_time, update_by, update_time from car_illegal_info
    </sql>

    <select id="selectCarIllegalInfoList" parameterType="com.hq.ecmp.mscore.domain.CarIllegalInfo" resultMap="CarIllegalInfoResult">
        <include refid="selectCarIllegalInfoVo"/>
        <where>
            <if test="carId != null "> and car_id = #{carId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="score != null  and score != ''"> and score = #{score}</if>
            <if test="driverId != null  and driverId != ''"> and driver_id = #{driverId}</if>
        </where>
    </select>

    <select id="selectCarIllegalInfoById" parameterType="Long" resultMap="CarIllegalInfoResult">
        <include refid="selectCarIllegalInfoVo"/>
        where illegal_id = #{illegalId}
    </select>

    <insert id="insertCarIllegalInfo" parameterType="com.hq.ecmp.mscore.domain.CarIllegalInfo">
        insert into car_illegal_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="illegalId != null ">illegal_id,</if>
            <if test="carId != null ">car_id,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="score != null  and score != ''">score,</if>
            <if test="driverId != null  and driverId != ''">driver_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="illegalId != null ">#{illegalId},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="score != null  and score != ''">#{score},</if>
            <if test="driverId != null  and driverId != ''">#{driverId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarIllegalInfo" parameterType="com.hq.ecmp.mscore.domain.CarIllegalInfo">
        update car_illegal_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="score != null  and score != ''">score = #{score},</if>
            <if test="driverId != null  and driverId != ''">driver_id = #{driverId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where illegal_id = #{illegalId}
    </update>

    <delete id="deleteCarIllegalInfoById" parameterType="Long">
        delete from car_illegal_info where illegal_id = #{illegalId}
    </delete>

    <delete id="deleteCarIllegalInfoByIds" parameterType="String">
        delete from car_illegal_info where illegal_id in
        <foreach item="illegalId" collection="array" open="(" separator="," close=")">
            #{illegalId}
        </foreach>
    </delete>

</mapper>
