<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarMaintenanceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CarMaintenanceInfo" id="CarMaintenanceInfoResult">
        <result property="maintenanceId"    column="maintenance_id"    />
        <result property="carId"    column="car_id"    />
        <result property="maintenanceAddress"    column="maintenance_address"    />
        <result property="price"    column="price"    />
        <result property="nextMaintenanceDate"    column="next_maintenance_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCarMaintenanceInfoVo">
        select maintenance_id, car_id, maintenance_address, price, next_maintenance_date, create_by, create_time, update_by, update_time from car_maintenance_info
    </sql>

    <select id="selectCarMaintenanceInfoList" parameterType="com.hq.ecmp.mscore.domain.CarMaintenanceInfo" resultMap="CarMaintenanceInfoResult">
        <include refid="selectCarMaintenanceInfoVo"/>
        <where>
            <if test="carId != null "> and car_id = #{carId}</if>
            <if test="maintenanceAddress != null  and maintenanceAddress != ''"> and maintenance_address = #{maintenanceAddress}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="nextMaintenanceDate != null "> and next_maintenance_date = #{nextMaintenanceDate}</if>
        </where>
    </select>

    <select id="selectCarMaintenanceInfoById" parameterType="Long" resultMap="CarMaintenanceInfoResult">
        <include refid="selectCarMaintenanceInfoVo"/>
        where maintenance_id = #{maintenanceId}
    </select>

    <insert id="insertCarMaintenanceInfo" parameterType="com.hq.ecmp.mscore.domain.CarMaintenanceInfo">
        insert into car_maintenance_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="maintenanceId != null ">maintenance_id,</if>
            <if test="carId != null ">car_id,</if>
            <if test="maintenanceAddress != null  and maintenanceAddress != ''">maintenance_address,</if>
            <if test="price != null ">price,</if>
            <if test="nextMaintenanceDate != null ">next_maintenance_date,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="maintenanceId != null ">#{maintenanceId},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="maintenanceAddress != null  and maintenanceAddress != ''">#{maintenanceAddress},</if>
            <if test="price != null ">#{price},</if>
            <if test="nextMaintenanceDate != null ">#{nextMaintenanceDate},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCarMaintenanceInfo" parameterType="com.hq.ecmp.mscore.domain.CarMaintenanceInfo">
        update car_maintenance_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="maintenanceAddress != null  and maintenanceAddress != ''">maintenance_address = #{maintenanceAddress},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="nextMaintenanceDate != null ">next_maintenance_date = #{nextMaintenanceDate},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where maintenance_id = #{maintenanceId}
    </update>

    <delete id="deleteCarMaintenanceInfoById" parameterType="Long">
        delete from car_maintenance_info where maintenance_id = #{maintenanceId}
    </delete>

    <delete id="deleteCarMaintenanceInfoByIds" parameterType="String">
        delete from car_maintenance_info where maintenance_id in
        <foreach item="maintenanceId" collection="array" open="(" separator="," close=")">
            #{maintenanceId}
        </foreach>
    </delete>

</mapper>
