<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ChinaCityMapper">

	<select id="queryCityCodeByCityName" parameterType="string"
		resultType="string">
		select CITY_CODE from china_city where (CITY_NAME= #{cityName} or SHORT_NAME
		= #{cityName}) and data_state = 1 limit 1
	</select>
	<select id="findByCityCode" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.CityInfo">
		select CITY_ID cityId,CITY_CODE cityCode,CITY_NAME cityName from china_city where find_in_set(CITY_CODE,#{cityCode})
	</select>

	<select id="queryCityInfoListByCityName"
	resultType="com.hq.ecmp.mscore.vo.CityInfo">
	select CITY_ID as cityId, CITY_CODE as cityCode,SHORT_NAME as cityName
	from
	china_city
	<where>
		1=1 and data_state = 1
		<if test="null !=cityName and cityName != ''">
			and SHORT_NAME like concat('%',#{cityName},'%')
		</if>
		<if test="flag==1">
			<if test="citys!=null">
				and CITY_CODE in
				<foreach collection="citys" open="(" close=")" separator="," item="cityCode">
					#{cityCode}
				</foreach>
			</if>
		</if>
		<if test="flag==0">
			<if test="citys!=null">
				and CITY_CODE not in
				<foreach collection="citys" open="(" close=")" separator="," item="cityCode">
					#{cityCode}
				</foreach>
			</if>
		</if>
	</where>
	</select>

	<select id="queryCityByCityCode" resultType="com.hq.ecmp.mscore.vo.CityInfo">
		select CITY_ID as cityId, CITY_CODE as cityCode,SHORT_NAME as cityName,PROVINCE_CODE as provinceCode
	from
	china_city where CITY_CODE=#{cityCode} and data_state = 1
	</select>
</mapper>
