<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CollectionQuittanceInfoMapper">

    <resultMap id="ApplyApproveResultInfoResult" type="com.hq.ecmp.mscore.domain.ReckoningInfo">

        <result property="ecmpId"     column="create_by" jdbcType="INTEGER"/>
        <result property="startDate"  column="create_time" jdbcType="TIMESTAMP"/>
        <result property="endDate"    column="update_by" jdbcType="TIMESTAMP"/>
        <result property="offDate"    column="update_time" jdbcType="TIMESTAMP"/>




    </resultMap>



    <insert id="add" parameterType="com.hq.ecmp.mscore.domain.ReckoningInfo">
        insert into collection_quittance_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="car_group_id != null ">,</if>
            <if test="company_id != null ">,</if>
            <if test="begin_date != null ">,</if>
            <if test="end_date != null ">,</if>
            <if test="collection_end_time != null ">,</if>
            <if test="state != null ">,</if>
            <if test="applicant != null ">,</if>
            <if test="verifier != null ">,</if>
            <if test="create_by != null ">,</if>
            <if test="create_time != null ">,</if>
            <if test="update_by != null ">,</if>
            <if test="update_time != null ">,</if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test=" != null ">#{carGroupId},</if>
            <if test=" != null ">#{companyId},</if>
            <if test=" != null ">#{beginDate},</if>
            <if test=" != null ">#{endDate},</if>
            <if test=" != null ">#{collectionEndTime},</if>
            <if test=" != null ">#{state},</if>
            <if test=" != null ">#{applicant},</if>
            <if test=" != null ">#{verifier},</if>
            <if test=" != null ">#{createBy},</if>
            <if test=" != null ">#{createTime},</if>
            <if test=" != null ">#{updateBy},</if>
            <if test=" != null ">#{updateTime},</if>
        </trim>



    </insert>


</mapper>
