<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CollectionQuittanceInfoMapper">


    <insert id="add" parameterType="com.hq.ecmp.mscore.domain.ReckoningInfo">
        insert into collection_quittance_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collectionNumber != null ">collection_number,</if>
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="beginDate != null ">begin_date,</if>
            <if test="endDate != null ">end_date,</if>
            <if test="collectionEndTime != null ">collection_end_time,</if>
            <if test="state != null ">state,</if>
            <if test="applicant != null ">applicant,</if>
            <if test="verifier !=null ">verifier,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime!= null ">update_time,</if>
            <if test="serviceOrg != null ">service_org,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="collectionNumber != null ">#{collectionNumber},</if>
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="companyId != null ">#{companyId},</if>
            <if test="beginDate != null ">#{beginDate},</if>
            <if test="endDate != null ">#{endDate},</if>
            <if test="collectionEndTime != null ">#{collectionEndTime},</if>
            <if test="state != null ">#{state},</if>
            <if test="applicant != null ">#{applicant},</if>
            <if test="verifier != null ">#{verifier},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="serviceOrg != null ">#{serviceOrg},</if>
        </trim>
    </insert>

    <update id="updateReckoningStatus" parameterType="com.hq.ecmp.mscore.dto.ReckoningDto">
        update collection_quittance_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null ">state = #{status},</if>
        </trim>
        where collection_number = #{collectionNumber}
    </update>

    <select id="getOrdinaryUserList" parameterType="com.hq.ecmp.mscore.dto.lease.LeaseSettlementDto" resultType="com.hq.ecmp.mscore.dto.lease.LeaseSettlementDto">
       select
            cqi.collection_id collectionId,
            cqi.company_id companyId,
            cqi.collection_number collectionNumber,
            cqi.collection_end_time collectionEndTime,
            eo.dept_name deptName,
            cgi.car_group_name carGroupName,
            cgi.car_group_id carGroupId,
            cqi.begin_date beginDate,
            cqi.end_date endDate,
		    cqi.state state,
            eu.nick_name verifierName,
            cqi.create_time createTime
       from collection_quittance_info cqi
        left join car_group_info cgi on cgi.car_group_id = cqi.car_group_id
        left join ecmp_user eu on eu.user_id = cqi.verifier
        left join ecmp_org eo on eo.dept_id = cqi.service_org
        where 1=1
        <if test="companyId!=null and companyId!=''" >
            cqi.company_id=#{companyId}
        </if>
        <if test="deptName!=null and deptName!=''" >
            and  eo.dept_name  like concat('%',#{deptName},'%')
        </if>
        <if test="carGroupName!=null and carGroupName!=''" >
            and  cgi.car_group_name  like concat('%',#{carGroupName},'%')
        </if>
        <if test="collectionNumber!=null and collectionNumber!=''" >
            and  cqi.collection_number like concat('%',#{collectionNumber},'%')
        </if>
        <if test="state!=null and state!=''" >
            and  cqi.state =#{state}
        </if>
    </select>
    <select id="getOrdinaryUserById" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.dto.lease.LeaseSettlementDto">
        select
        cqi.collection_id collectionId,
        cqi.car_group_id carGroupId,
        cqi.begin_date beginDate,
        cqi.end_date endDate,
        cqi.state state,
        cqi.verifier verifier,
        cqi.create_time createTime
        from collection_quittance_info cqi where cqi.collection_id = #{collectionId}
    </select>

    <select id="getCollectionNumber" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.dto.lease.LeaseSettlementDto">
        select
        cqi.car_group_id carGroupId,
        cqi.begin_date beginDate,
        cqi.end_date endDate,
        cqi.company_id companyId,
        cqi.state state,
        cqi.verifier verifier,
        cqi.create_time createTime
        from collection_quittance_info cqi where cqi.collection_number = #{collectionNumber}
    </select>

    <update id="ordinaryUserConfirmCost" parameterType="com.hq.ecmp.mscore.dto.lease.LeaseSettlementDto">
        update collection_quittance_info
            <trim prefix="SET" suffixOverrides=",">
                <if test="state != null ">state = #{state},</if>
                <if test="verifier != null ">verifier = #{verifier},</if>
                <if test="createBy != null ">create_by = #{createBy},</if>
                <if test="createTime != null ">create_time = #{createTime},</if>
                <if test="updateBy != null ">update_by = #{updateBy},</if>
                <if test="updateTime != null ">update_time = #{updateTime},</if>
            </trim>
        where collection_id=#{collectionId}
    </update>


</mapper>
