<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CostConfigCarGroupInfoMapper">
    
    <resultMap type="com.hq.ecmp.mscore.domain.CostConfigCarGroupInfo" id="CostConfigCarGroupInfoResult">
        <result property="id"    column="id"    />
        <result property="costId"    column="cost_id"    />
        <result property="carGroupId"    column="car_group_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCostConfigCarGroupInfoVo">
        select id, cost_id, car_group_id, create_by, create_time, update_by, update_time from cost_config_car_group_info
    </sql>

    <select id="selectCostConfigCarGroupInfoList" parameterType="com.hq.ecmp.mscore.domain.CostConfigCarGroupInfo" resultMap="CostConfigCarGroupInfoResult">
        <include refid="selectCostConfigCarGroupInfoVo"/>
        <where>  
            <if test="costId != null "> and cost_id = #{costId}</if>
            <if test="carGroupId != null "> and car_group_id = #{carGroupId}</if>
        </where>
    </select>
    
    <select id="selectCostConfigCarGroupInfoById" parameterType="Long" resultMap="CostConfigCarGroupInfoResult">
        <include refid="selectCostConfigCarGroupInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCostConfigCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CostConfigCarGroupInfo" useGeneratedKeys="true" keyProperty="id">
        insert into cost_config_car_group_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costId != null ">cost_id,</if>
            <if test="carGroupId != null ">car_group_id,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costId != null ">#{costId},</if>
            <if test="carGroupId != null ">#{carGroupId},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCostConfigCarGroupInfo" parameterType="com.hq.ecmp.mscore.domain.CostConfigCarGroupInfo">
        update cost_config_car_group_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="costId != null ">cost_id = #{costId},</if>
            <if test="carGroupId != null ">car_group_id = #{carGroupId},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCostConfigCarGroupInfoById" parameterType="Long">
        delete from cost_config_car_group_info where id = #{id}
    </delete>

    <delete id="deleteCostConfigCarGroupInfoByIds" parameterType="String">
        delete from cost_config_car_group_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteCostConfigCarGroupInfoByCostId" parameterType="Long">
        delete from cost_config_car_group_info where cost_id = #{costId}
    </delete>

    <insert id="insertCostConfigCarGroupInfoBatch">
        INSERT INTO cost_config_car_group_info(cost_id, car_group_id, create_by, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{costId},
            #{item.carGroupId},
            #{userId},
            #{createTime}
            )
        </foreach>
    </insert>

    <select id="selectGroupByCityCode" parameterType="com.hq.ecmp.mscore.dto.cost.CostConfigQueryPriceDto" resultType="com.hq.ecmp.mscore.vo.CarGroupCostVO">
        select distinct car_group_id carGroupId,car_group_name carGroupName,it_is_inner itIsInner,telephone
        from car_group_info
        where 1=1
        and company_id=#{companyId}
        <if test="carGroupId!=null">
            and car_group_id=#{carGroupId}
        </if>
        <if test="flag==3">
            and car_group_id in (select car_group_id from car_group_serve_scope_info where city=#{cityCode})
        </if>
        <if test="flag==2">
            and (car_group_id in (select car_group_id from car_group_dispatcher_info where car_group_id in (select car_group_id from car_group_serve_scope_info where city=#{cityCode}) and user_id=#{userId})
            or car_group_id in (select car_group_id from car_group_serve_org_relation where car_group_id in (select car_group_id from car_group_serve_scope_info where city=#{cityCode}) and dept_id=#{deptId}))
        </if>
        <if test="flag==1">
            and car_group_id in (select car_group_id from car_group_serve_org_relation where car_group_id in (select car_group_id from car_group_serve_scope_info where city=#{cityCode}) and dept_id=#{deptId})
        </if>
    </select>
    
</mapper>