<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CostConfigInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.CostConfigInfo" id="CostConfigInfoResult">
        <result property="costId"    column="cost_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="costConfigName"    column="cost_config_name"    />
        <result property="serviceType"    column="service_type"    />
        <result property="rentType"    column="rent_type"    />
        <result property="startPrice"    column="start_price"    />
        <result property="combosPrice"    column="combos_price"    />
        <result property="combosMileage"    column="combos_mileage"    />
        <result property="combosTimes"    column="combos_times"    />
        <result property="beyondPriceEveryKm"    column="beyond_price_every_km"    />
        <result property="beyondPriceEveryMinute"    column="beyond_price_every_minute"    />
        <result property="waitPriceEreryMinute"    column="wait_price_erery_minute"    />
        <result property="state"    column="state"    />
        <result property="carGroupUserMode"    column="car_group_user_mode"    />

        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.hq.ecmp.mscore.vo.CostConfigDetailInfoVo" id="CostConfigInfoDetailResult">
        <result property="costId"    column="cost_id"    />
        <result property="companyId"    column="company_id"    />
        <result property="costConfigName"    column="cost_config_name"    />
        <result property="serviceType"    column="service_type"    />
        <result property="rentType"    column="rent_type"    />
        <result property="startPrice"    column="start_price"    />
        <result property="combosPrice"    column="combos_price"    />
        <result property="combosMileage"    column="combos_mileage"    />
        <result property="combosTimes"    column="combos_times"    />
        <result property="beyondPriceEveryKm"    column="beyond_price_every_km"    />
        <result property="beyondPriceEveryMinute"    column="beyond_price_every_minute"    />
        <result property="waitPriceEreryMinute"    column="wait_price_erery_minute"    />
        <result property="state"    column="state"    />
        <result property="carGroupUserMode"    column="car_group_user_mode"    />

        <result property="carGroupId"    column="car_group_id"/>
        <result property="cityCode"    column="city_code"/>
        <result property="carTypeId"    column="city_name"/>
        <result property="carTypeLevel"    column="level"/>

        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCostConfigInfoVo">
        select cost_id, company_id, cost_config_name, service_type, rent_type, start_price, combos_price, combos_mileage, combos_times, beyond_price_every_km, beyond_price_every_minute, wait_price_erery_minute, state, car_group_user_mode,create_by, create_time, update_by, update_time from cost_config_info
    </sql>

    <select id="selectCostConfigInfoById" resultType="com.hq.ecmp.mscore.dto.cost.CostConfigListResult">
         select c.cost_id as costId,
            c.company_id as companyId,
            c.cost_config_name as costConfigName,
            cc.city_name as cityName,
            cc.city_code as cityCode,
            c.service_type as serviceType,
            c.car_group_user_mode as carGroupUserMode,
            c.rent_type as rentType,
            cccgi.car_group_id carGroupId,
            (select car_group_name from car_group_info cgi where cgi.car_group_id =cccgi.car_group_id ) carGroupName,
            c.start_price as startPrice,
            c.combos_price as combosPrice,
            c.combos_mileage as combosMileage,
            c.combos_times as combosTimes,
            c.beyond_price_every_km as beyondPriceEveryKm,
            c.beyond_price_every_minute as beyondPriceEveryMinute,
            c.wait_price_erery_minute as waitPriceEreryMinute,
            c.create_time as createTime,
            c.update_time as updateTime
            from cost_config_info c
            left join cost_config_city_info  cc on cc.cost_id=c.cost_id
            left join cost_config_car_group_info  cccgi on cccgi.cost_id=c.cost_id
        where c.cost_id = #{costId}
         group by c.company_id,cc.city_name,c.service_type
    </select>

    <insert id="insertCostConfigInfo" parameterType="com.hq.ecmp.mscore.domain.CostConfigInfo">
        <selectKey keyColumn="cost_id" keyProperty="costId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into cost_config_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="costId != null ">cost_id,</if>
            <if test="companyId != null ">company_id,</if>
            <if test="costConfigName != null  and costConfigName != ''">cost_config_name,</if>
            <if test="serviceType != null  and serviceType != ''">service_type,</if>
            <if test="rentType != null  and rentType != ''">rent_type,</if>
            <if test="startPrice != null ">start_price,</if>
            <if test="combosPrice != null ">combos_price,</if>
            <if test="combosMileage != null ">combos_mileage,</if>
            <if test="combosTimes != null ">combos_times,</if>
            <if test="beyondPriceEveryKm != null ">beyond_price_every_km,</if>
            <if test="beyondPriceEveryMinute != null ">beyond_price_every_minute,</if>
            <if test="waitPriceEreryMinute != null ">wait_price_erery_minute,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">car_group_user_mode,</if>
            <if test="createBy != null and createBy != '' ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="costId != null ">#{costId},</if>
            <if test="companyId != null ">#{companyId},</if>
            <if test="costConfigName != null  and costConfigName != ''">#{costConfigName},</if>
            <if test="serviceType != null  and serviceType != ''">#{serviceType},</if>
            <if test="rentType != null  and rentType != ''">#{rentType},</if>
            <if test="startPrice != null ">#{startPrice},</if>
            <if test="combosPrice != null ">#{combosPrice},</if>
            <if test="combosMileage != null ">#{combosMileage},</if>
            <if test="combosTimes != null ">#{combosTimes},</if>
            <if test="beyondPriceEveryKm != null ">#{beyondPriceEveryKm},</if>
            <if test="beyondPriceEveryMinute != null ">#{beyondPriceEveryMinute},</if>
            <if test="waitPriceEreryMinute != null ">#{waitPriceEreryMinute},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">#{carGroupUserMode},</if>
            <if test="createBy != null and createBy != '' ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCostConfigInfo" parameterType="com.hq.ecmp.mscore.domain.CostConfigInfo">
        update cost_config_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null ">company_id = #{companyId},</if>
            <if test="costConfigName != null  and costConfigName != ''">cost_config_name = #{costConfigName},</if>
            <if test="serviceType != null  and serviceType != ''">service_type = #{serviceType},</if>
            <if test="rentType != null  and rentType != ''">rent_type = #{rentType},</if>
            <if test="startPrice != null ">start_price = #{startPrice},</if>
            <if test="combosPrice != null ">combos_price = #{combosPrice},</if>
            <if test="combosMileage != null ">combos_mileage = #{combosMileage},</if>
            <if test="combosTimes != null ">combos_times = #{combosTimes},</if>
            <if test="beyondPriceEveryKm != null ">beyond_price_every_km = #{beyondPriceEveryKm},</if>
            <if test="beyondPriceEveryMinute != null ">beyond_price_every_minute = #{beyondPriceEveryMinute},</if>
            <if test="waitPriceEreryMinute != null ">wait_price_erery_minute = #{waitPriceEreryMinute},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">car_group_user_mode = #{carGroupUserMode},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where cost_id = #{costId}
    </update>

    <delete id="deleteCostConfigInfoById" parameterType="Long">
        delete from cost_config_info where cost_id = #{costId}
    </delete>

    <delete id="deleteCostConfigInfoByIds" parameterType="String">
        delete from cost_config_info where cost_id in
        <foreach item="costId" collection="array" open="(" separator="," close=")">
            #{costId}
        </foreach>
    </delete>

    <select id="selectCostConfigInfoList" parameterType="com.hq.ecmp.mscore.dto.cost.CostConfigQueryDto" resultType="com.hq.ecmp.mscore.dto.cost.CostConfigListResult">
            select c.cost_id as costId,
            cc.id as  costConfigCityId,
            c.company_id as companyId,
            c.cost_config_name as costConfigName,
            c.rent_type as rentType,
            c.car_group_user_mode as carGroupUserMode,
            cc.city_name as cityName,
            cc.city_code as cityCode,
            c.service_type as serviceType,
            cccgi.car_group_id carGroupId,
            (select car_group_name from car_group_info cgi where cgi.car_group_id =cccgi.car_group_id ) carGroupName,
            c.create_time as createTime,
            c.update_time as updateTime
            from cost_config_info c
            left join cost_config_city_info  cc on cc.cost_id=c.cost_id
            left join cost_config_car_group_info  cccgi on cccgi.cost_id=c.cost_id
            <where>
            <if test="costConfigName != null and costConfigName!=''">
                and c.cost_config_name like  CONCAT('%',#{costConfigName},'%')
            </if>
            <if test="cityCode != null and cityCode!=''">
                and cc.city_code=#{cityCode}
            </if>
            <if test="serviceType != null and serviceType!='' ">
                and c.service_type=#{serviceType}
            </if>
            <if test="companyId != null and companyId!=''">
                and c.company_id=#{companyId}
            </if>
            <if test="carGroupId!=null">
                and cccgi.car_group_id=#{carGroupId}
            </if>
            <if test="rentType != null and rentType!=''">
                and c.rent_type=#{rentType}
            </if>
            </where>
            --  group by c.cost_id,c.company_id,c.cost_config_name,cc.city_name,c.service_type
        order by IFNULL(c.update_time,c.create_time) desc

    </select>

    <select id="checkDoubleByServiceTypeCityCarType" resultType="java.lang.Integer">
          select count(1)
            from cost_config_info c
            left join cost_config_city_info  cc on cc.cost_id=c.cost_id
            left join cost_config_car_type_info ct on ct.cost_id=c.cost_id
            where   cc.city_code=#{cityCode} and c.service_type=#{serviceType}
            <if test="serviceType=='5000'">
                and c.rent_type=#{rentType}
            </if>
           and ct.car_type_id = #{carTypeId}
    </select>

    <select id="selectCostConfigInfo" parameterType="com.hq.ecmp.mscore.dto.cost.CostConfigQueryDto" resultType="com.hq.ecmp.mscore.domain.CostConfigInfo">
            select c.cost_id as costId,
            c.company_id as companyId,
            c.cost_config_name as costConfigName,
            cc.city_code as cityCode,
            cc.city_name as cityName,
            c.service_type as serviceType,
            c.car_group_user_mode as carGroupUserMode,
            c.rent_type as rentType,
            c.start_price as startPrice,
            c.combos_price as combosPrice,
            c.combos_times as combosTimes,
            c.combos_mileage as combosMileage,
            c.beyond_price_every_km as beyondPriceEveryKm,
            c.beyond_price_every_minute as beyondPriceEveryMinute,
            c.wait_price_erery_minute as waitPriceEreryMinute
            from cost_config_info c
            left join cost_config_city_info  cc on cc.cost_id=c.cost_id
            left join cost_config_car_type_info ct on ct.cost_id=c.cost_id
            left join cost_config_car_group_info cccgi on c.cost_id = cccgi.cost_id
        <where>
            <if test="costId != null and costId!=''">
                and c.cost_id =#{costId}
            </if>
            <if test="cityCode != null and cityCode!=''">
                and cc.city_code=#{cityCode}
            </if>
            <if test="serviceType != null and serviceType!='' ">
                and c.service_type=#{serviceType}
            </if>
            <if test="companyId != null and companyId!=''">
                and c.company_id=#{companyId}
            </if>
            <if test="rentType != null and rentType!=''">
                and c.rent_type=#{rentType}
            </if>
            <if test="carTypeId != null and carTypeId!=''">
                and ct.car_type_id=#{carTypeId}
            </if>
            <if test="carGroupUserMode != null and carGroupUserMode!=''">
                and c.car_group_user_mode=#{carGroupUserMode}
            </if>
            <if test="carGroupId != null and carGroupId!=''">
                and cccgi.car_group_id=#{carGroupId}
            </if>
        </where>
         group by c.company_id,cc.city_name,c.service_type
    </select>

    <select id="getTotalNum" resultType="java.lang.Integer" parameterType="com.hq.ecmp.mscore.dto.cost.CostConfigQueryDto">
        select count(*)
            from cost_config_info c
            left join cost_config_city_info  cc on cc.cost_id=c.cost_id
            left join cost_config_car_group_info  cccgi on cccgi.cost_id=c.cost_id
            <where>
            <if test="costConfigName != null and costConfigName!=''">
                and c.cost_config_name like  CONCAT('%',#{costConfigName},'%')
            </if>
            <if test="cityCode != null and cityCode!=''">
                and cc.city_code=#{cityCode}
            </if>
            <if test="serviceType != null and serviceType!='' ">
                and c.service_type=#{serviceType}
            </if>
            <if test="companyId != null and companyId!=''">
                and c.company_id=#{companyId}
            </if>
            <if test="carGroupId!=null">
                and cccgi.car_group_id=#{carGroupId}
            </if>
            <if test="rentType != null and rentType!=''">
                and c.rent_type=#{rentType}
            </if>
            </where>
    </select>


    <select id="selectCostConfigList" parameterType="com.hq.ecmp.mscore.domain.CostConfigInfo" resultMap="CostConfigInfoResult">
        <include refid="selectCostConfigInfoVo"/>
        <where>
            <if test="companyId != null "> and company_id = #{companyId}</if>
            <if test="costConfigName != null  and costConfigName != ''"> and cost_config_name = #{costConfigName}</if>
            <if test="serviceType != null  and serviceType != ''"> and service_type = #{serviceType}</if>
            <if test="rentType != null  and rentType != ''"> and rent_type = #{rentType}</if>
            <if test="startPrice != null "> and start_price = #{startPrice}</if>
            <if test="combosPrice != null "> and combos_price = #{combosPrice}</if>
            <if test="combosMileage != null "> and combos_mileage = #{combosMileage}</if>
            <if test="combosTimes != null "> and combos_times = #{combosTimes}</if>
            <if test="beyondPriceEveryKm != null "> and beyond_price_every_km = #{beyondPriceEveryKm}</if>
            <if test="beyondPriceEveryMinute != null "> and beyond_price_every_minute = #{beyondPriceEveryMinute}</if>
            <if test="waitPriceEreryMinute != null "> and wait_price_erery_minute = #{waitPriceEreryMinute}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>

    <select id="checkCharteredCost" resultType="com.hq.ecmp.mscore.dto.cost.ValidDoubleDtoResult">
        select a.cost_id costId,c.city_code cityCode,c.city_name cityName,
                a.rent_type charterCarType,a.car_group_user_mode carGroupUserMode,
                b.car_group_id carGroupId ,
                (select car_group_name from car_group_info z where z.car_group_id=b.car_group_id) carGroupName,
                (select group_concat(distinct car_type_id) from cost_config_car_type_info zz where zz.cost_id=a.cost_id) carTypeIds
        from cost_config_info a
        left join cost_config_car_group_info b on b.cost_id=a.cost_id
        left join cost_config_city_info c on c.cost_id=a.cost_id
        where b.car_group_id=#{carGroupId}
        and a.rent_type=#{rentType} and a.car_group_user_mode=#{carGroupUserMode}
    </select>
    <select id="getDriverInfo" resultType="map" parameterType="long">
        SELECT c.it_is_inner driverIsInner,c.car_group_id driverCarGroupId
        from car_group_driver_relation r
                 left join car_group_info c on c.car_group_id = r.car_group_id
        where r.driver_id  = #{driver_id};
    </select>

    <select id="getCarInfo" resultType="map" parameterType="long">
        SELECT g.it_is_inner carIsInner ,c.car_group_id carCarGroupId
        from car_info c
                 left join car_group_info g on c.car_group_id = g.car_group_id
        where c.car_id = #{car_id};
    </select>

    <select id="selectCostConfigDetailInfo" resultMap="CostConfigInfoDetailResult"  parameterType="com.hq.ecmp.mscore.bo.CarGroupPricePlanInfoBo">
        SELECT  cci.*,
                cccg.car_group_id,
                chc.city_code,
                chc.city_name,
                ecti.`level`
        FROM cost_config_info cci
        LEFT JOIN  cost_config_car_group_info cccg ON cccg.cost_id=cci.cost_id
        LEFT JOIN  cost_config_city_info ccci ON ccci.cost_id=cci.cost_id
        LEFT JOIN  cost_config_car_type_info cccti ON  cccti.cost_id=cci.cost_id
        LEFT JOIN  china_city chc ON chc.city_code=ccci.city_code
        LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id=cccti.car_type_id
        LEFT JOIN  car_group_info cgi ON  cgi.car_group_id=cccg.car_group_id
        <where>
            1=1
            AND cci.state='Y000'
            AND ecti.`status`='S000'
            <if test="carGroupId != null">
                AND cccg.car_group_id = #{carGroupId}
            </if>
            <if test="cityCode != null and cityCode != '' ">
                AND chc.city_code=#{cityCode}
             </if>
            <if test="companyId != null ">
                AND cci.company_id=#{companyId}
             </if>
        </where>
    </select>

</mapper>