<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CostConfigCityInfoMapper">

    <resultMap type="CostConfigCityInfo" id="CostConfigCityInfoResult">
        <result property="id"    column="id"    />
        <result property="costId"    column="cost_id"    />
        <result property="cityCode"    column="city_code"    />
        <result property="cityName"    column="city_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCostConfigCityInfoVo">
        select id, cost_id, city_code, city_name, create_by, create_time, update_by, update_time from cost_config_city_info
    </sql>

    <select id="selectCostConfigCityInfoList" parameterType="CostConfigCityInfo" resultMap="CostConfigCityInfoResult">
        <include refid="selectCostConfigCityInfoVo"/>
        <where>
            <if test="costId != null "> and cost_id = #{costId}</if>
            <if test="cityCode != null  and cityCode != ''"> and city_code = #{cityCode}</if>
            <if test="cityName != null  and cityName != ''"> and city_name like concat('%', #{cityName}, '%')</if>
        </where>
    </select>

    <select id="selectCostConfigCityInfoById" parameterType="String" resultMap="CostConfigCityInfoResult">
        <include refid="selectCostConfigCityInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertCostConfigCityInfo" parameterType="CostConfigCityInfo">
        insert into cost_config_city_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="costId != null ">cost_id,</if>
            <if test="cityCode != null  and cityCode != ''">city_code,</if>
            <if test="cityName != null  and cityName != ''">city_name,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="costId != null ">#{costId},</if>
            <if test="cityCode != null  and cityCode != ''">#{cityCode},</if>
            <if test="cityName != null  and cityName != ''">#{cityName},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCostConfigCityInfo" parameterType="CostConfigCityInfo">
        update cost_config_city_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="costId != null ">cost_id = #{costId},</if>
            <if test="cityCode != null  and cityCode != ''">city_code = #{cityCode},</if>
            <if test="cityName != null  and cityName != ''">city_name = #{cityName},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCostConfigCityInfoById" parameterType="String">
        delete from cost_config_city_info where id = #{id}
    </delete>


    <delete id="deleteCostConfigCityInfoByIds" parameterType="String">
        delete from cost_config_city_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="insertCostConfigCityInfoBatch">
        INSERT INTO cost_config_city_info(cost_id, city_code, city_name, create_by, create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{costId},
            #{item.cityCode},
            #{item.cityName},
            #{userId},
            #{createTime}
           )
        </foreach>
    </insert>

    <select id="queryOtherDataByCostIdAndCityCode" resultType="java.lang.Integer">
        select count(1) from cost_config_city_info
        where cost_id = #{costId}
        and city_code!=#{cityCode}
    </select>

    <delete id="deleteCostConfigCityInfoByCostId" parameterType="Long">
        delete from cost_config_city_info where cost_id = #{costId}
    </delete>

    <select id="selectCostConfigCity" resultType="java.lang.String">
        select DISTINCT city_name cityName from cost_config_city_info where city_code=#{cityCode}
    </select>

    <select id="findGroupByCity" resultType="com.hq.ecmp.mscore.vo.CarGroupCostVO">
        select distinct
            cci.rent_type rentType,
            cci.car_group_user_mode carGroupUserMode,
            cccti.car_type_id carTypeId,
            cccti.car_type_name carTypeName,
            ccci.cost_id costId,
            ccci.city_code cityCode,
            ccci.city_name cityName,
            cccgi.car_group_id carGroupId,
            (select car_group_name from car_group_info z where z.car_group_id=cccgi.car_group_id) carGroupName,
            (select telephone from car_group_info z where z.car_group_id=cccgi.car_group_id) telephone,
            (select it_is_inner from car_group_info z where z.car_group_id=cccgi.car_group_id) itIsInner,
            cci.combos_price combosPrice,
            cci.combos_mileage combosMileage,
            cci.combos_times/60 combosTimes,
            cci.beyond_price_every_km beyondPriceEveryKm,
            cci.beyond_price_every_minute beyondPriceEveryMinute
        from cost_config_city_info ccci
        left join cost_config_car_group_info cccgi on cccgi.cost_id=ccci.cost_id
        left join cost_config_car_type_info cccti on cccti.cost_id=ccci.cost_id
        left join cost_config_info cci on cci.cost_id=ccci.cost_id
        where
         ccci.city_code=#{cityCode} and cci.service_type=5000
         and  cci.company_id=#{companyId}
    </select>

    <select id="getCostCityList" resultType="com.hq.ecmp.mscore.vo.CityInfo">
        select distinct city_code cityCode,city_name cityName
        from cost_config_city_info
        where cost_id in (select cost_id from cost_config_info where company_id=#{companyId})
    </select>
</mapper>