<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.DriverHeartbeatInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.DriverHeartbeatInfo" id="DriverHeartbeatInfoResult">
        <result property="heartId"    column="heart_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDriverHeartbeatInfoVo">
        select heart_id, driver_id, order_id, longitude, latitude, create_by, create_time, update_by, update_time from driver_heartbeat_info
    </sql>

    <select id="selectDriverHeartbeatInfoList" parameterType="com.hq.ecmp.mscore.domain.DriverHeartbeatInfo" resultMap="DriverHeartbeatInfoResult">
        <include refid="selectDriverHeartbeatInfoVo"/>
        <where>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
        </where>
        order by create_time
    </select>

    <select id="selectDriverHeartbeatInfoById" parameterType="Long" resultMap="DriverHeartbeatInfoResult">
        <include refid="selectDriverHeartbeatInfoVo"/>
        where heart_id = #{heartId}
    </select>

    <insert id="insertDriverHeartbeatInfo" parameterType="com.hq.ecmp.mscore.domain.DriverHeartbeatInfo">
        insert into driver_heartbeat_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="heartId != null ">heart_id,</if>
            <if test="driverId != null ">driver_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="heartId != null ">#{heartId},</if>
            <if test="driverId != null ">#{driverId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDriverHeartbeatInfo" parameterType="com.hq.ecmp.mscore.domain.DriverHeartbeatInfo">
        update driver_heartbeat_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where heart_id = #{heartId}
    </update>

    <delete id="deleteDriverHeartbeatInfoById" parameterType="Long">
        delete from driver_heartbeat_info where heart_id = #{heartId}
    </delete>

    <delete id="deleteDriverHeartbeatInfoByIds" parameterType="String">
        delete from driver_heartbeat_info where heart_id in
        <foreach item="heartId" collection="array" open="(" separator="," close=")">
            #{heartId}
        </foreach>
    </delete>


    <!--手动编写sql start-->
    <select id="findNowLocation" parameterType="Object" resultMap="DriverHeartbeatInfoResult">
        <include refid="selectDriverHeartbeatInfoVo"/>
        <where>
            driver_id = #{driverId}
            <if test="orderId!=null">
                and order_id = #{orderId}
            </if>
            order by create_time desc limit 1
        </where>
    </select>
</mapper>
