<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.DriverWorkInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.DriverWorkInfo" id="DriverWorkInfoResult">
        <result property="workId"    column="work_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="leaveStatus"    column="leave_status"    />
        <result property="leaveConfirmStatus"    column="leave_confirm_status"    />
        <result property="caledarDate"    column="caledar_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDriverWorkInfoVo">
        select work_id, driver_id, leave_status, leave_confirm_status, caledar_date, create_by, create_time, update_by, update_time from driver_work_info
    </sql>

    <select id="selectDriverWorkInfoList" parameterType="com.hq.ecmp.mscore.domain.DriverWorkInfo" resultMap="DriverWorkInfoResult">
        <include refid="selectDriverWorkInfoVo"/>
        <where>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="leaveStatus != null  and leaveStatus != ''"> and leave_status = #{leaveStatus}</if>
            <if test="leaveConfirmStatus != null  and leaveConfirmStatus != ''"> and leave_confirm_status = #{leaveConfirmStatus}</if>
            <if test="caledarDate != null "> and caledar_date = #{caledarDate}</if>
        </where>
    </select>

    <select id="selectDriverWorkInfoById" parameterType="Long" resultMap="DriverWorkInfoResult">
        <include refid="selectDriverWorkInfoVo"/>
        where work_id = #{workId}
    </select>

    <update id="updateDriverWorkInfo" parameterType="com.hq.ecmp.mscore.domain.DriverWorkInfo">
        update driver_work_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="leaveStatus != null  and leaveStatus != ''">leave_status = #{leaveStatus},</if>
            <if test="leaveConfirmStatus != null  and leaveConfirmStatus != ''">leave_confirm_status = #{leaveConfirmStatus},</if>
            <if test="caledarDate != null ">caledar_date = #{caledarDate},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where work_id = #{workId}
    </update>

    <delete id="deleteDriverWorkInfoById" parameterType="Long">
        delete from driver_work_info where work_id = #{workId}
    </delete>

    <delete id="deleteDriverWorkInfoByIds" parameterType="String">
        delete from driver_work_info where work_id in
        <foreach item="workId" collection="array" open="(" separator="," close=")">
            #{workId}
        </foreach>
    </delete>

    <select id="selectDriverShouldDutyDays" resultType="int">
        SELECT COUNT(1) FROM driver_work_info
        WHERE  driver_id = #{driverId}
        and leave_status = "X999" and DATE_FORMAT(caledar_date,'%Y-%m') = #{scheduleDate}
    </select>

    <select id="selectDriverWorkInfoByMonth" resultType="com.hq.ecmp.mscore.vo.DriverDutyPlanVO">
        SELECT t1.caledar_date dutyDate,t2.state status
        FROM driver_work_info t1
        LEFT JOIN driver_service_state_info t2
        ON t1.`driver_id` = t2.`driver_id` AND t1.`caledar_date` =  DATE(t2.`create_time`)
        WHERE t1.`leave_status` =  "X999" AND DATE_FORMAT(t1.caledar_date,'%Y-%m') = #{scheduleDate}
        AND t1.`driver_id` = #{driverId}
    </select>
    <select id="selectDutyDateByMonth" resultType="java.lang.String">
        select DATE_FORMAT(caledar_date,'%Y-%m-%d')
        from driver_work_info
        where leave_status = 'X999' and driver_id = #{driverId}
        <if test="scheduleDate != null ">and DATE_FORMAT(caledar_date,'%Y-%m') = #{scheduleDate}</if>
    </select>
    <select id="selectHolidaysByMonth" resultType="String">
        select DATE_FORMAT(caledar_date,'%Y-%m-%d')
        from driver_work_info
        where leave_status != 'X999' and driver_id = #{driverId}
        <if test="scheduleDate != null and scheduleDate != ''">and DATE_FORMAT(caledar_date,'%Y-%m') = #{scheduleDate}</if>
    </select>
    <select id="selectDriverAlreadyDutyDays" resultType="int">
          select count(1) from driver_work_info
          where driver_id = #{driverId}
          and DATE_FORMAT(caledar_date,'%Y-%m') = #{scheduleDate}
          and today_it_is_on_duty = '0000'
          and leave_status = 'X999'
    </select>

    <select id="getDriverWorkInfoMonthList"   resultType="com.hq.ecmp.mscore.vo.DriverWorkInfoMonthVo">
        select work_id workId,
        driver_id driverId,
        DATE_FORMAT(caledar_date,'%Y-%m-%d') calendarDate,
        leave_status workState
        from driver_work_info
        <where>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="month != null and month !='' "> and date_format(caledar_date,'%Y-%m') = #{month}</if>
        </where>
        order by caledar_date
    </select>

    <update id="updateDriverWorkDetailMonth">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update driver_work_info
            set leave_status=#{item.workState},
            update_by=#{userId},
            update_time=#{updateTime}
            where work_id=#{item.workId}
            and driver_id=#{item.driverId}
        </foreach>
    </update>

    <select id="getWorkInfoMonthList"  resultType="com.hq.ecmp.mscore.vo.WorkInfoMonthVo">
        select
        DATE_FORMAT(calendar_date,'%Y-%m-%d') calendarDate,
        it_is_work as workState
        from cloud_work_date_info
        <where>
            <if test="month != null and month !='' "> and date_format(calendar_date,'%Y-%m') = #{month}</if>
        </where>
        order by calendar_date
    </select>
    <update id="updateWorkDetailMonth">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update driver_work_info
            set today_it_is_on_duty=#{item.workState},
            update_by=#{userId},
            update_time=#{updateTime}
            where
            caledar_date=#{item.calendarDate}

        </foreach>
    </update>
    <select id="getCloudWorkDateList" parameterType="String" resultType="com.hq.ecmp.mscore.vo.CloudWorkIDateVo">
      select calendar_date as calendarDate,it_is_work as itIsWork,work_start as workStart,work_end as workEnd from cloud_work_date_info
    </select>
    <insert id="insertDriverWorkInfo" parameterType="com.hq.ecmp.mscore.vo.DriverWorkInfoVo">
        insert into driver_work_info (driver_id,caledar_date,on_duty_registe_time,off_duty_registe_time,today_it_is_on_duty,leave_status,create_by,create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.driverId},
            #{item.calendarDate},
            #{item.onDutyRegisteTime},
            #{item.offDutyRegisteTime},
            #{item.todayItIsOnDuty},
            #{item.leaveStatus},
            #{item.creatBy},
            #{item.creatTime})
        </foreach>
    </insert>
    <update id="updateDriverWork" parameterType="Long">
            update driver_work_info
            set leave_status='X003',today_it_is_on_duty='1111'
            where  driver_id=#{driverId} and caledar_date <![CDATA[<=]]>NOW()

    </update>
</mapper>
