<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.DriverCarRelationInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.DriverCarRelationInfo" id="DriverCarRelationInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="carId"    column="car_id"    />
    </resultMap>

    <sql id="selectDriverCarRelationInfoVo">
        select user_id, driver_id, car_id from driver_car_relation_info
    </sql>

    <select id="selectDriverCarRelationInfoList" parameterType="com.hq.ecmp.mscore.domain.DriverCarRelationInfo" resultMap="DriverCarRelationInfoResult">
        <include refid="selectDriverCarRelationInfoVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="carId != null "> and car_id = #{carId}</if>
        </where>
    </select>

    <select id="selectDriverCarRelationInfoById" parameterType="Long" resultMap="DriverCarRelationInfoResult">
        <include refid="selectDriverCarRelationInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertDriverCarRelationInfo" parameterType="com.hq.ecmp.mscore.domain.DriverCarRelationInfo">
        insert into driver_car_relation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="driverId != null ">driver_id,</if>
            <if test="carId != null ">car_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="driverId != null ">#{driverId},</if>
            <if test="carId != null ">#{carId},</if>
         </trim>
    </insert>

    <update id="updateDriverCarRelationInfo" parameterType="com.hq.ecmp.mscore.domain.DriverCarRelationInfo">
        update driver_car_relation_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="carId != null ">car_id = #{carId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteDriverCarRelationInfoById" parameterType="Long">
        delete from driver_car_relation_info where user_id = #{userId}
    </delete>

    <delete id="deleteDriverCarRelationInfoByIds" parameterType="String">
        delete from driver_car_relation_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
    <insert id="batchDriverCarList" parameterType="com.hq.ecmp.mscore.domain.DriverCarRelationInfo">
          insert into driver_car_relation_info  (user_id,driver_id,car_id)
          values
          <foreach collection="carIdList" item="item" separator=",">
          (#{userId},#{driverId},#{item})
          </foreach>
    </insert>
    <delete id="deleteCarByDriverId" parameterType="Long">
        delete from driver_car_relation_info where driver_id = #{driverId}
    </delete>
    <delete id="deleteCarByCarId" parameterType="Long">
        delete from driver_car_relation_info where car_id = #{carId}
    </delete>

    <update id="updateBatchDriverCarList">
        <foreach collection="carIdList" item="item" index="index" open="" close="" separator=";">
            update driver_car_relation_info
            set user_id=#{userId},
            car_id=#{carId}
            where
            driver_id=#{driverId}

        </foreach>
    </update>
    
    <select id="queryDriverUseCarCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
   select count(1) from (select DISTINCT(car_id) from driver_car_relation_info where driver_id=#{driverId}) a
    </select>

    <delete id="deleteCarDriver">
        delete from driver_car_relation_info where user_id = #{userId}
        and driver_id = #{driverId} and car_id = #{carId}
    </delete>

    <select id="queryCountCarByDriverId" resultType="java.lang.Integer">
        select count(1)  from driver_car_relation_info where car_id=#{driverId}
    </select>

    <select id="selectDriverInfo" parameterType="com.hq.ecmp.mscore.domain.DriverCarRelationInfo" resultMap="DriverCarRelationInfoResult">
        <include refid="selectDriverCarRelationInfoVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="carId != null "> and car_id = #{carId}</if>
        </where>
    </select>

</mapper>
