<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.EcmpLogininforMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.EcmpLogininfor" id="EcmpLogininforResult">
        <result property="infoId"    column="info_id"    />
        <result property="userName"    column="user_name"    />
        <result property="ipaddr"    column="ipaddr"    />
        <result property="loginLocation"    column="login_location"    />
        <result property="browser"    column="browser"    />
        <result property="os"    column="os"    />
        <result property="status"    column="status"    />
        <result property="msg"    column="msg"    />
        <result property="loginTime"    column="login_time"    />
    </resultMap>

    <sql id="selectEcmpLogininforVo">
        select info_id, user_name, ipaddr, login_location, browser, os, status, msg, login_time from ecmp_logininfor
    </sql>

    <select id="selectEcmpLogininforList" parameterType="com.hq.ecmp.mscore.domain.EcmpLogininfor" resultMap="EcmpLogininforResult">
        <include refid="selectEcmpLogininforVo"/>
        <where>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="ipaddr != null  and ipaddr != ''"> and ipaddr = #{ipaddr}</if>
            <if test="loginLocation != null  and loginLocation != ''"> and login_location = #{loginLocation}</if>
            <if test="browser != null  and browser != ''"> and browser = #{browser}</if>
            <if test="os != null  and os != ''"> and os = #{os}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
            <if test="loginTime != null "> and login_time = #{loginTime}</if>
        </where>
    </select>

    <select id="selectEcmpLogininforById" parameterType="Long" resultMap="EcmpLogininforResult">
        <include refid="selectEcmpLogininforVo"/>
        where info_id = #{infoId}
    </select>

    <insert id="insertEcmpLogininfor" parameterType="com.hq.ecmp.mscore.domain.EcmpLogininfor" useGeneratedKeys="true" keyProperty="infoId">
        insert into ecmp_logininfor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="ipaddr != null  and ipaddr != ''">ipaddr,</if>
            <if test="loginLocation != null  and loginLocation != ''">login_location,</if>
            <if test="browser != null  and browser != ''">browser,</if>
            <if test="os != null  and os != ''">os,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="msg != null  and msg != ''">msg,</if>
            <if test="loginTime != null ">login_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="ipaddr != null  and ipaddr != ''">#{ipaddr},</if>
            <if test="loginLocation != null  and loginLocation != ''">#{loginLocation},</if>
            <if test="browser != null  and browser != ''">#{browser},</if>
            <if test="os != null  and os != ''">#{os},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="msg != null  and msg != ''">#{msg},</if>
            <if test="loginTime != null ">#{loginTime},</if>
         </trim>
    </insert>

    <update id="updateEcmpLogininfor" parameterType="com.hq.ecmp.mscore.domain.EcmpLogininfor">
        update ecmp_logininfor
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="ipaddr != null  and ipaddr != ''">ipaddr = #{ipaddr},</if>
            <if test="loginLocation != null  and loginLocation != ''">login_location = #{loginLocation},</if>
            <if test="browser != null  and browser != ''">browser = #{browser},</if>
            <if test="os != null  and os != ''">os = #{os},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="msg != null  and msg != ''">msg = #{msg},</if>
            <if test="loginTime != null ">login_time = #{loginTime},</if>
        </trim>
        where info_id = #{infoId}
    </update>

    <delete id="deleteEcmpLogininforById" parameterType="Long">
        delete from ecmp_logininfor where info_id = #{infoId}
    </delete>

    <delete id="deleteEcmpLogininforByIds" parameterType="String">
        delete from ecmp_logininfor where info_id in
        <foreach item="infoId" collection="array" open="(" separator="," close=")">
            #{infoId}
        </foreach>
    </delete>

</mapper>
