<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.EcmpEnterpriseInvitationInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.EcmpEnterpriseInvitationInfo" id="EcmpEnterpriseInvitationInfoMap">
    <result property="invitationId" column="invitation_id" jdbcType="INTEGER"/>
    <result property="name" column="name" jdbcType="VARCHAR"/>
    <result property="enterpriseId" column="company_id" jdbcType="INTEGER"/>
    <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
    <result property="carGroupId" column="car_group_id" jdbcType="INTEGER"/>
    <result property="type" column="type" jdbcType="VARCHAR"/>
    <result property="roseId" column="rose_id" jdbcType="INTEGER"/>
    <result property="regimeIds" column="regime_ids" jdbcType="VARCHAR"/>
    <result property="url" column="url" jdbcType="VARCHAR"/>
    <result property="state" column="state" jdbcType="VARCHAR"/>
    <result property="createBy" column="create_by" jdbcType="INTEGER"/>
    <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
    <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
</resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="EcmpEnterpriseInvitationInfoMap">
        select
          invitation_id, name, company_id, department_id, car_group_id, type, rose_id, regime_ids, url, state, create_by, create_time, update_by, update_time
        from ecmp_enterprise_invitation_info
        where invitation_id = #{invitationId}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="EcmpEnterpriseInvitationInfoMap">
        select
          invitation_id, name, company_id, department_id, car_group_id, type, rose_id, regime_ids, url, state, create_by, create_time, update_by, update_time
        from ecmp.ecmp_enterprise_invitation_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="EcmpEnterpriseInvitationInfoMap">
        select
          invitation_id, name, company_id, department_id, car_group_id, type, rose_id, regime_ids, url, state, create_by, create_time, update_by, update_time
        from ecmp.ecmp_enterprise_invitation_info
        <where>
            <if test="invitationId != null">
                and invitation_id = #{invitationId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="enterpriseId != null">
                and company_id = #{enterpriseId}
            </if>
            <if test="departmentId != null">
                and department_id = #{departmentId}
            </if>
            <if test="carGroupId != null">
                and car_group_id = #{carGroupId}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="roseId != null">
                and rose_id = #{roseId}
            </if>
            <if test="regimeIds != null and regimeIds != ''">
                and regime_ids = #{regimeIds}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="invitationId" useGeneratedKeys="true">
        insert into ecmp.ecmp_enterprise_invitation_info(name, company_id, department_id, car_group_id, type, rose_id, regime_ids, url, state, create_by, create_time, update_by, update_time)
        values (#{name}, #{enterpriseId}, #{departmentId}, #{carGroupId}, #{type}, #{roseId}, #{regimeIds}, #{url}, #{state}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ecmp.ecmp_enterprise_invitation_info
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="enterpriseId != null">
                company_id = #{enterpriseId},
            </if>
            <if test="departmentId != null">
                department_id = #{departmentId},
            </if>
            <if test="carGroupId != null">
                car_group_id = #{carGroupId},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="roseId != null">
                rose_id = #{roseId},
            </if>
            <if test="regimeIds != null and regimeIds != ''">
                regime_ids = #{regimeIds},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where invitation_id = #{invitationId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ecmp.ecmp_enterprise_invitation_info where invitation_id = #{invitationId}
    </delete>

    <!--邀请员工列表-->
    <select id="queryInvitationUser" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.InvitationUserVO">
      SELECT
      a.invitation_id AS invitationId,
      a.NAME AS yqName,
      a.url AS url,
      (SELECT dept_name from ecmp_org where dept_id=a.company_id) AS companyName,
      (SELECT dept_name from ecmp_org where dept_id=a.department_id)  AS deptName,
      (SELECT GROUP_CONCAT(name) from  regime_info where find_in_set(regimen_id,a.regime_ids)) AS regimeUser,
      (select count(*) as amountPass from ecmp_enterprise_register_info d where invitation_id=a.invitation_id and d.state='S001') AS amountPass,
      (select count(*) as amountPass from ecmp_enterprise_register_info d where invitation_id=a.invitation_id and d.state='S000') AS amountWait,
       a.state AS state,
       a.rose_id AS roseId,
       f.role_name AS roseName,
          CASE
        a.state
        WHEN 'Y000' THEN
        '有效'
        WHEN 'N000' THEN
        '失效' ELSE '无状态'
        END AS stateValue
         FROM
        ecmp_enterprise_invitation_info a
     left join ecmp_role f on f.role_id = a.rose_id
    where a.type='T001'
    order by a.create_time desc
    </select>

    <select id="queryInvitationUserCount" resultType="Long">
        select count(*) from ecmp_enterprise_invitation_info  a
        where a.type=#{type}
    </select>
    <!--邀请员工详情-->
    <select id="queryInvitationUserDetial" parameterType="Long" resultType="com.hq.ecmp.mscore.vo.InvitationUserVO">
        select a.invitation_id as invitationId ,a.name as yqName,c.dept_name as companyName,e.dept_name as deptName,group_concat(b.name) as regimeUser ,d_amountPass.amountPass as amountPass ,d_amountWait.amountWait as amountWait,
a.state as state,a.rose_id as roseId,f.role_name as roseName,
      CASE a.state
                      WHEN 'Y000' THEN '有效'
                      WHEN 'N000' THEN '失效'
                      else '无状态' END as stateValue
        from ecmp_enterprise_invitation_info  a
        left join regime_info b
        on find_in_set(b.regimen_id,a.regime_ids)
        left join ecmp_org c on c.dept_id = a.company_id
        left join ecmp_role f on f.role_id = a.rose_id
        left join ecmp_org e on e.dept_id = a.department_id
        left join (select d.invitation_id, count(*) as amountPass from ecmp_enterprise_register_info d where d.state='S001' group by d.invitation_id) d_amountPass on d_amountPass.invitation_id = a.invitation_id
        left join (select d.invitation_id, count(*) as amountWait from ecmp_enterprise_register_info d where d.state='S000' group by d.invitation_id) d_amountWait on d_amountWait.invitation_id = a.invitation_id
        where a.type='T001'and a.invitation_id = #{invitationId}
        group by a.name,a.company_id,a.department_id
    </select>
    <!--驾驶员工列表-->
    <select id="queryInvitationDriver" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.InvitationDriverVO">
        select a.invitation_id as invitationId,
        a.name as yqName,
        a.url AS url,
        (SELECT dept_name from ecmp_org where dept_id=a.company_id) AS companyName,
        (SELECT car_group_name from car_group_info where car_group_id= a.car_group_id) AS carGroupName,
        (select count(*) as carNum from car_info b where b.car_group_id = a.car_group_id and b.state='S000') as carNum,
        (select count(*) as amountPass from ecmp_enterprise_register_info d where d.invitation_id=a.invitation_id and d.state='S001')as amountPass,
        (select count(*) as amountWait from ecmp_enterprise_register_info d where d.invitation_id=a.invitation_id and d.state='S000')as amountWait,
        a.state as state,a.rose_id as roseId,f.role_name as roseName,
        CASE
	    a.state
        WHEN 'Y000' THEN '有效'
        WHEN 'N000' THEN '失效'
        else '无状态' END as stateValue
        from ecmp_enterprise_invitation_info  a
        left join ecmp_role f on f.role_id = a.rose_id
        where a.type='T002'
        order by a.create_time desc
    </select>
    <!--驾驶员工详情-->
    <select id="queryInvitationDriverDetial" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.InvitationDriverVO">

        select a.invitation_id as invitationId, a.name as yqName,c.dept_name as companyName,e.car_group_name as carGroupName,b_amountCar.carNum as carNum ,d_amountPass.amountPass as amountPass ,d_amountWait.amountWait as amountWait,
       a.state as state,a.rose_id as roseId,f.role_name as roseName,a.car_group_id as carGroupId,
       CASE a.state
                      WHEN 'Y000' THEN '有效'
                      WHEN 'N000' THEN '失效'
                      else '无状态' END as stateValue
        from ecmp_enterprise_invitation_info  a
        left join (select b.car_group_id,count(*) as carNum from car_info b where b.state='S000' group by b.car_group_id ) b_amountCar on b_amountCar.car_group_id=a.car_group_id
        left join ecmp_org c on c.dept_id = a.company_id
        left join ecmp_role f on f.role_id = a.rose_id
        left join car_group_info e on e.car_group_id= a.car_group_id
        left join (select d.invitation_id, count(*) as amountPass from ecmp_enterprise_register_info d where d.state='S001' group by d.invitation_id) d_amountPass on d_amountPass.invitation_id = a.invitation_id
        left join (select d.invitation_id, count(*) as amountWait from ecmp_enterprise_register_info d where d.state='S000' group by d.invitation_id) d_amountWait on d_amountWait.invitation_id = a.invitation_id
        where a.type='T002'and a.invitation_id = #{invitationId}
        group by a.name,a.company_id,a.car_group_id

    </select>
   <!-- <insert id="insertDriverInvitation"  parameterType="com.hq.ecmp.mscore.dto.DriverInvitationDTO">
        insert into ecmp_enterprise_invitation_info(name, company_id, car_group_id, type, rose_id, regime_ids, url, state, create_time)
        values (#{name}, #{enterpriseId}, #{carGroupId}, #{type}, #{roseId}, #{regimeIds}, #{url}, #{state},  #{createTime})
    </insert>-->
  <!--  <insert id="insertUserInvitation"  parameterType="com.hq.ecmp.mscore.dto.UserInvitationDTO">
        insert into ecmp_enterprise_invitation_info(name, company_id, department_id, type, rose_id, regime_ids, url, state, create_time)
        values (#{name}, #{enterpriseId}, #{departmentId}, #{type}, #{roseId}, #{regimeIds}, #{url}, #{state}, #{createTime})
    </insert>-->
    <!--通过主键修改数据-->
    <update id="updateInvitationState" parameterType="com.hq.ecmp.mscore.dto.InvitationDto">
        update ecmp_enterprise_invitation_info
        <set>
            <if test="state != null and state != ''">
                state = #{state},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where invitation_id = #{invitationId}
    </update>

    <select id="queryInvitationUserUrl" parameterType="Long" resultType="com.hq.ecmp.mscore.vo.InvitationUrlVO">
        select  url from ecmp_enterprise_invitation_info
        where invitation_id = #{invitationId}
    </select>

    <delete id="invitationDel">
        delete from ecmp_enterprise_invitation_info where invitation_id = #{invitationId}
    </delete>

    <insert id="insertUserInvitation" parameterType="com.hq.ecmp.mscore.dto.UserInvitationDTO" useGeneratedKeys="true" keyProperty="invitationId">
        insert into ecmp_enterprise_invitation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null ">name,</if>
            <if test="enterpriseId != null  and enterpriseId != ''">company_id,</if>
            <if test="departmentId != null  and departmentId != ''">department_id,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="roseId != null  and roseId != ''">rose_id,</if>
            <if test="regimeIds != null  and regimeIds != ''">regime_ids,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null ">#{name},</if>
            <if test="enterpriseId != null  and enterpriseId != ''">#{enterpriseId},</if>
            <if test="departmentId != null  and departmentId != ''">#{departmentId},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="roseId != null  and roseId != ''">#{roseId},</if>
            <if test="regimeIds != null  and regimeIds != ''">#{regimeIds},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>

    </insert>
    <insert id="insertDriverInvitation" parameterType="com.hq.ecmp.mscore.dto.DriverInvitationDTO" useGeneratedKeys="true" keyProperty="invitationId">
        insert into ecmp_enterprise_invitation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null ">name,</if>
            <if test="enterpriseId != null  and enterpriseId != ''">enterprise_id,</if>
            <if test="carGroupId != null  and carGroupId != ''">car_group_id,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="roseId != null  and roseId != ''">rose_id,</if>
            <if test="regimeIds != null  and regimeIds != ''">regime_ids,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="url != null  and url != ''">url,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="companyId != null ">company_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null ">#{name},</if>
            <if test="enterpriseId != null  and enterpriseId != ''">#{enterpriseId},</if>
            <if test="carGroupId != null  and carGroupId != ''">#{carGroupId},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="roseId != null  and roseId != ''">#{roseId},</if>
            <if test="regimeIds != null  and regimeIds != ''">#{regimeIds},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="url != null  and url != ''">#{url},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="companyId != null ">#{companyId},</if>
        </trim>

    </insert>
    <update id="updateInvitationUrl" parameterType="com.hq.ecmp.mscore.dto.UserInvitationUrlDTO">
        update ecmp_enterprise_invitation_info
        <set>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
        </set>
        where invitation_id = #{invitationId}
    </update>


</mapper>