<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.EcmpCityTrafficNodeInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.EcmpCityTrafficNodeInfo" id="EcmpCityTrafficNodeInfoResult">
        <result property="trafficNodeId"    column="traffic_node_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="cityLevel"    column="city_level"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEcmpCityTrafficNodeInfoVo">
        select traffic_node_id, city_id, city_level, name, type, longitude, latitude, create_by, create_time, update_by, update_time from ecmp_city_traffic_node_info
    </sql>

    <select id="selectEcmpCityTrafficNodeInfoList" parameterType="com.hq.ecmp.mscore.domain.EcmpCityTrafficNodeInfo" resultMap="EcmpCityTrafficNodeInfoResult">
        <include refid="selectEcmpCityTrafficNodeInfoVo"/>
        <where>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="cityLevel != null  and cityLevel != ''"> and city_level = #{cityLevel}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
        </where>
    </select>

    <select id="selectEcmpCityTrafficNodeInfoById" parameterType="Long" resultMap="EcmpCityTrafficNodeInfoResult">
        <include refid="selectEcmpCityTrafficNodeInfoVo"/>
        where traffic_node_id = #{trafficNodeId}
    </select>

    <insert id="insertEcmpCityTrafficNodeInfo" parameterType="com.hq.ecmp.mscore.domain.EcmpCityTrafficNodeInfo">
        insert into ecmp_city_traffic_node_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="trafficNodeId != null ">traffic_node_id,</if>
            <if test="cityId != null ">city_id,</if>
            <if test="cityLevel != null  and cityLevel != ''">city_level,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="trafficNodeId != null ">#{trafficNodeId},</if>
            <if test="cityId != null ">#{cityId},</if>
            <if test="cityLevel != null  and cityLevel != ''">#{cityLevel},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEcmpCityTrafficNodeInfo" parameterType="com.hq.ecmp.mscore.domain.EcmpCityTrafficNodeInfo">
        update ecmp_city_traffic_node_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="cityId != null ">city_id = #{cityId},</if>
            <if test="cityLevel != null  and cityLevel != ''">city_level = #{cityLevel},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where traffic_node_id = #{trafficNodeId}
    </update>

    <delete id="deleteEcmpCityTrafficNodeInfoById" parameterType="Long">
        delete from ecmp_city_traffic_node_info where traffic_node_id = #{trafficNodeId}
    </delete>

    <delete id="deleteEcmpCityTrafficNodeInfoByIds" parameterType="String">
        delete from ecmp_city_traffic_node_info where traffic_node_id in
        <foreach item="trafficNodeId" collection="array" open="(" separator="," close=")">
            #{trafficNodeId}
        </foreach>
    </delete>

</mapper>
