<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.InvoiceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.InvoiceInfo" id="InvoiceInfoResult">
        <result property="invoiceId"    column="invoice_id"    />
        <result property="amount"    column="amount"    />
        <result property="header"    column="header"    />
        <result property="tin"    column="tin"    />
        <result property="bankName"    column="bank_name"    />
        <result property="bankCardNo"    column="bank_card_no"    />
        <result property="registedAddress"    column="registed_address"    />
        <result property="telephone"    column="telephone"    />
        <result property="acceptAddress"    column="accept_address"    />
        <result property="applyer"    column="applyer"    />
        <result property="content"    column="content"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="email"    column="email"    />
        <result property="invoiceUrl"    column="invoice_url"    />
    </resultMap>

    <sql id="selectInvoiceInfoVo">
        select invoice_id, amount, header, tin, bank_name, bank_card_no, registed_address, telephone, accept_address, applyer, content, type, status, create_by, create_time, update_by, update_time from invoice_info
    </sql>

    <select id="selectInvoiceInfoById" parameterType="Long" resultMap="InvoiceInfoResult">
        <include refid="selectInvoiceInfoVo"/>
        where invoice_id = #{invoiceId}
    </select>

    <insert id="insertInvoiceInfo" parameterType="com.hq.ecmp.mscore.dto.InvoiceInsertDTO" useGeneratedKeys="true" keyProperty="invoiceId">
        insert into invoice_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="amount != null ">amount,</if>
            <if test="header != null  and header != ''">header,</if>
            <if test="tin != null  and tin != ''">tin,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="acceptAddress != null  and acceptAddress != ''">accept_address,</if>
            <if test="status != null  and status != ''">status,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="amount != null ">#{amount},</if>
            <if test="header != null  and header != ''">#{header},</if>
            <if test="tin != null  and tin != ''">#{tin},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="acceptAddress != null  and acceptAddress != ''">#{acceptAddress},</if>
            <if test="status != null  and status != ''">#{status},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="bankName != null ">#{bankName},</if>
            <if test="bankCardNo != null ">#{bankCardNo},</if>
            <if test="telephone != null ">#{telephone},</if>
            <if test="registedAddress != null ">#{registedAddress},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="email != null ">#{email},</if>
        </trim>

    </insert>

    <update id="updateInvoiceInfo" parameterType="com.hq.ecmp.mscore.domain.InvoiceInfo">
        update invoice_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="amount != null ">amount = #{amount},</if>
            <if test="header != null  and header != ''">header = #{header},</if>
            <if test="tin != null  and tin != ''">tin = #{tin},</if>
            <if test="bankName != null  and bankName != ''">bank_name = #{bankName},</if>
            <if test="bankCardNo != null  and bankCardNo != ''">bank_card_no = #{bankCardNo},</if>
            <if test="registedAddress != null  and registedAddress != ''">registed_address = #{registedAddress},</if>
            <if test="telephone != null  and telephone != ''">telephone = #{telephone},</if>
            <if test="acceptAddress != null  and acceptAddress != ''">accept_address = #{acceptAddress},</if>
            <if test="applyer != null ">applyer = #{applyer},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="status != null  and status != ''">status = #{status},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where invoice_id = #{invoiceId}
    </update>

    <delete id="deleteInvoiceInfoById" parameterType="Long">
        delete from invoice_info where invoice_id = #{invoiceId}
    </delete>

    <delete id="deleteInvoiceInfoByIds" parameterType="String">
        delete from invoice_info where invoice_id in
        <foreach item="invoiceId" collection="array" open="(" separator="," close=")">
            #{invoiceId}
        </foreach>
    </delete>

    <select id="queryInvoiceById" resultType="com.hq.ecmp.mscore.vo.InvoiceRecordVO"  parameterType="Long">
        select create_time as createTime,header as header,amount as amount, content as content,tin as tin,
        accept_address as acceptAddress,
       bank_name as bankName,
       bank_card_no as bankCardNo,
       telephone ,
       email ,
       registed_address as  registedAddress,
       invoice_url as invoiceUrl
        from invoice_info where invoice_id = #{invoiceId}
    </select>
    <!--根据时间区间、开票状态查询发票信息-->
    <select id="queryAllByTimeState" resultType="com.hq.ecmp.mscore.vo.InvoiceRecordVO"  parameterType="com.hq.ecmp.mscore.dto.InvoiceByTimeStateDTO">
        select invoice_id as invoiceId,create_time as createTime,header as header,amount as amount, content as content,
        accept_address as acceptAddress,
        CASE status WHEN '11' THEN '未开票'
        WHEN '00' THEN '已开票'
        else '无开票状态' END as status
        from invoice_info
        <where>
            <if test="startTime != null and startTime != '' ">
                and DATE_FORMAT(create_time, '%Y-%m-%d')   <![CDATA[>=]]> DATE_FORMAT (#{startTime}, '%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != '' ">
                and DATE_FORMAT(create_time, '%Y-%m-%d')   <![CDATA[<=]]> DATE_FORMAT (#{endTime}, '%Y-%m-%d')
            </if>
            <if test="status != null and status != '' ">
                and status = #{status}
            </if>
        </where>
    </select>

    <select id="queryCountByTimeState" resultType="Long">
        select count(*) from invoice_info
        <where>
            <if test="startTime != null and startTime != '' ">
                and DATE_FORMAT(create_time, '%Y-%m-%d')   <![CDATA[>=]]> DATE_FORMAT (#{startTime}, '%Y-%m-%d')
            </if>
            <if test="endTime != null and endTime != '' ">
                and DATE_FORMAT(create_time, '%Y-%m-%d')   <![CDATA[<=]]> DATE_FORMAT (#{endTime}, '%Y-%m-%d')
            </if>
            <if test="status != null and status != '' ">
                and status = #{status}
            </if>
        </where>
    </select>
    <insert id="insertInvoiceHeader" parameterType="com.hq.ecmp.mscore.dto.InvoiceHeaderDTO">
        insert into invoice_header_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="header != null  and header != ''">header,</if>
            <if test="tin != null  and tin != ''">tin,</if>
            <if test="bankName != null  and bankName != ''">bank_name,</if>
            <if test="bankCardNo != null  and bankCardNo != ''">bank_card_no,</if>
            <if test="registedAddress != null  and registedAddress != ''">registed_address,</if>
            <if test="telephone != null  and telephone != ''">telephone,</if>
            <if test="createTime != null ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="header != null  and header != ''">#{header},</if>
            <if test="tin != null  and tin != ''">#{tin},</if>
            <if test="bankName != null  and bankName != ''">#{bankName},</if>
            <if test="bankCardNo != null  and bankCardNo != ''">#{bankCardNo},</if>
            <if test="registedAddress != null  and registedAddress != ''">#{registedAddress},</if>
            <if test="telephone != null  and telephone != ''">#{telephone},</if>
            <if test="createTime != null ">#{createTime},</if>
        </trim>
    </insert>
    <select id="queryInvoiceHeader" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.vo.InvoiceHeaderVO">
        select create_time as createTime,header as header,tin as tin,bank_name as bankName,bank_card_no as bankCardNo,
        registed_address as registedAddress,telephone as telephone
        from invoice_header_info
        where company_id = #{companyId}
        ORDER BY create_time
    </select>
    <delete id="deleteInvoiceHeader">
        delete from invoice_header_info
    </delete>
    <insert id="addInvoicePeriod">
        insert into invoice_period_info(invoice_id, period_id) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.invoiceId},#{item.periodId})
        </foreach>
    </insert>

    <select id="getPeriodListByInvoiceId" resultType="com.hq.ecmp.mscore.vo.PeriodsVO">
     SELECT begin_date as beginDate,end_date as endDate,total as total  from order_account_period_info
     where period_id in (select period_id from invoice_period_info where invoice_id=#{invoiceId})
    </select>

</mapper>
