<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.InvoiceAddressMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.InvoiceAddress" id="InvoiceAddressResult">
        <result property="addressId"    column="address_id"    />
        <result property="accepter"    column="accepter"    />
        <result property="mobile"    column="mobile"    />
        <result property="address"    column="address"    />
        <result property="itIsDefault"    column="it_is_default"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectInvoiceAddressVo">
        select address_id, accepter, mobile, address, it_is_default, create_by, create_time, update_by, update_time from invoice_address
    </sql>



    <select id="selectInvoiceAddressById" parameterType="Long" resultMap="InvoiceAddressResult">
        <include refid="selectInvoiceAddressVo"/>
        where address_id = #{addressId}
    </select>

    <insert id="insertInvoiceAddress" parameterType="com.hq.ecmp.mscore.dto.InvoiceAddressDTO">
        insert into invoice_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="accepter != null  and accepter != ''">accepter,</if>
            <if test="mobile != null  and mobile != ''">mobile,</if>
            <if test="companyId != null  and companyId != ''">company_id,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="createTime != null ">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="accepter != null  and accepter != ''">#{accepter},</if>
            <if test="mobile != null  and mobile != ''">#{mobile},</if>
            <if test="companyId != null  and companyId != ''">#{companyId},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="createTime != null ">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateInvoiceAddress" parameterType="com.hq.ecmp.mscore.dto.InvoiceAddressDTO">
        update invoice_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="accepter != null  and accepter != ''">accepter = #{accepter},</if>
            <if test="mobile != null  and mobile != ''">mobile = #{mobile},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where address_id = #{addressId}
    </update>

    <delete id="deleteInvoiceAddressById" parameterType="java.lang.Long">
        delete from invoice_address where address_id = #{addressId}
    </delete>

    <delete id="deleteInvoiceAddressByIds" parameterType="java.lang.String">
        delete from invoice_address where address_id in
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>
    <!--查询收货地址列表-->
    <select id="selectInvoiceAddressList" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.vo.InvoiceAddVO">
         select
         address_id  as addressId, accepter, mobile, address
         from invoice_address
         where company_id = #{companyId}
         order by create_time,update_time
    </select>
    <select id="selectInvoiceAddressListCount" resultType="java.lang.Long">
         select count(*) from invoice_address
    </select>

</mapper>
