<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.JourneyUserCarPowerMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.JourneyUserCarPower" id="JourneyUserCarPowerResult">
        <result property="powerId"    column="power_id"    />
        <result property="applyId"    column="apply_id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="state"    column="state"    />
        <result property="type"    column="type"    />
        <result property="itIsReturn"    column="it_is_return"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJourneyUserCarPowerVo">
        select power_id, apply_id, node_id, journey_id, state, type, it_is_return, create_by, create_time, update_by, update_time from journey_user_car_power
    </sql>

    <select id="selectJourneyUserCarPowerList" parameterType="com.hq.ecmp.mscore.domain.JourneyUserCarPower" resultMap="JourneyUserCarPowerResult">
        <include refid="selectJourneyUserCarPowerVo"/>
        <where>
            <if test="applyId != null "> and apply_id = #{applyId}</if>
            <if test="nodeId != null "> and node_id = #{nodeId}</if>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="itIsReturn != null  and itIsReturn != ''"> and it_is_return = #{itIsReturn}</if>
        </where>
    </select>

    <select id="selectJourneyUserCarPowerById" parameterType="Long" resultMap="JourneyUserCarPowerResult">
        <include refid="selectJourneyUserCarPowerVo"/>
        where power_id = #{powerId}
    </select>

    <insert id="insertJourneyUserCarPower" parameterType="com.hq.ecmp.mscore.domain.JourneyUserCarPower">
        insert into journey_user_car_power
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="powerId != null ">power_id,</if>
            <if test="applyId != null ">apply_id,</if>
            <if test="nodeId != null ">node_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="type != null  and type != ''">type,</if>
            <if test="itIsReturn != null  and itIsReturn != ''">it_is_return,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="powerId != null ">#{powerId},</if>
            <if test="applyId != null ">#{applyId},</if>
            <if test="nodeId != null ">#{nodeId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="type != null  and type != ''">#{type},</if>
            <if test="itIsReturn != null  and itIsReturn != ''">#{itIsReturn},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJourneyUserCarPower" parameterType="com.hq.ecmp.mscore.domain.JourneyUserCarPower">
        update journey_user_car_power
        <trim prefix="SET" suffixOverrides=",">
            <if test="applyId != null ">apply_id = #{applyId},</if>
            <if test="nodeId != null ">node_id = #{nodeId},</if>
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="type != null  and type != ''">type = #{type},</if>
            <if test="itIsReturn != null  and itIsReturn != ''">it_is_return = #{itIsReturn},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where power_id = #{powerId}
    </update>

    <delete id="deleteJourneyUserCarPowerById" parameterType="Long">
        delete from journey_user_car_power where power_id = #{powerId}
    </delete>

    <delete id="deleteJourneyUserCarPowerByIds" parameterType="String">
        delete from journey_user_car_power where power_id in
        <foreach item="powerId" collection="array" open="(" separator="," close=")">
            #{powerId}
        </foreach>
    </delete>
    
    <select id="queryNoteAllUserAuthority" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.UserCarAuthority">
SELECT
	a.power_id AS ticketId,
	b.order_id as orderId,
	a.state AS authorityUse,
	a.type AS type
FROM
	journey_user_car_power a
LEFT JOIN (
	SELECT
		MAX(order_id) AS order_id,
		power_id
	FROM
		order_info
	GROUP BY
		power_id
) b ON a.power_id = b.power_id
WHERE
	a.node_id = #{nodeId}
    </select>
    
    <select id="queryUserAuthorityFromService"
	resultType="com.hq.ecmp.mscore.domain.ServiceTypeCarAuthority">
	SELECT
	a.node_id AS noteId,
	vehicle AS vehicle,
	b.power_id AS ticketId,
	b.state as useStatus,
	a.plan_begin_address AS cityName,
	a.plan_begin_city_code AS cityCode,
	c.regimen_id AS regimenId
	FROM
	journey_node_info a
	LEFT JOIN journey_user_car_power b ON a.node_id = b.node_id
	LEFT JOIN journey_info c ON a.journey_id = c.journey_id
	WHERE
	b.type = #{type}
	AND a.journey_id = #{journeyId}
</select>
    
    <select id="querySurplusNum" parameterType="com.hq.ecmp.mscore.domain.JourneyUserCarPower" resultType="java.lang.Integer">
    SELECT
	count(1)
FROM
	journey_user_car_power a
LEFT JOIN journey_node_info b ON a.node_id = b.node_id
WHERE
	b.journey_id = #{journeyId}
AND b.plan_begin_address = #{cityName}
AND a.state = 'U000'
AND a.type = #{type}
    </select>
    
    <insert id="batchInsert">
    insert into journey_user_car_power (apply_id,node_id,journey_id,state,type,create_by,create_time) values
    <foreach collection="list"  item="item" separator=",">
    (#{item.applyId},#{item.nodeId},#{item.journeyId},#{item.state},#{item.type},#{item.createUser},#{item.createDate})
    </foreach>
    </insert>
    
    <select id="queryJourneyAllUserAuthority" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.CarAuthorityInfo">
    SELECT
	a.power_id AS ticketId,
	b.order_id as orderId,
	a.state AS status,
	a.type AS returnIsType
FROM
	journey_user_car_power a
LEFT JOIN (
	SELECT
		MAX(order_id) AS order_id,
		power_id
	FROM
		order_info
	GROUP BY
		power_id
) b ON a.power_id = b.power_id
WHERE
	a.journey_id= #{journeyId}
    
    </select>
    
    <select id="queryOfficialPowerUseCity" parameterType="java.lang.Long"
	resultType="com.hq.ecmp.mscore.domain.CarAuthorityInfo">
	SELECT
	a.plan_begin_city_code AS planBeginCityCode,
	plan_end_city_code AS
	planEndCityCode,
	b.type AS type
	FROM
	journey_node_info a
	LEFT JOIN journey_user_car_power b ON a.node_id = b.node_id
	WHERE
	b.power_id =#{powerId}
</select>

<select id="queryOfficialOrderNeedPower" resultType="com.hq.ecmp.mscore.domain.CarAuthorityInfo"
	parameterType="java.lang.Long">
	SELECT
	power_id AS ticketId,
	regimen_id AS regimenId
	FROM
	journey_user_car_power a
	LEFT JOIN journey_info b ON a.journey_id = b.journey_id
	WHERE
	a.journey_id = #{journeyId}
</select>

</mapper>
