<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.JourneyNodeInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.JourneyNodeInfo" id="JourneyNodeInfoResult">
        <result property="nodeId"    column="node_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="userId"    column="user_id"    />
        <result property="planBeginAddress"    column="plan_begin_address"    />
        <result property="planBeginLongAddress"    column="plan_begin_long_address"    />
        <result property="planEndAddress"    column="plan_end_address"    />
        <result property="planEndLongAddress"    column="plan_end_long_address"    />
        <result property="planSetoutTime"    column="plan_setout_time"    />
        <result property="planArriveTime"    column="plan_arrive_time"    />
        <result property="planBeginLongitude"    column="plan_begin_longitude"    />
        <result property="planBeginLatitude"    column="plan_begin_latitude"    />
        <result property="planEndLongitude"    column="plan_end_longitude"    />
        <result property="planEndLatitude"    column="plan_end_latitude"    />
        <result property="itIsViaPoint"    column="it_is_via_point"    />
        <result property="vehicle"    column="vehicle"    />
        <result property="duration"    column="duration"    />
        <result property="distance"    column="distance"    />
        <result property="waitDuration"    column="wait_duration"    />
        <result property="nodeState"    column="node_state"    />
        <result property="number"    column="number"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
         <result property="planBeginCityCode"    column="plan_begin_city_code"    />
         <result property="planEndCityCode"    column="plan_end_city_code"    />

    </resultMap>

    <sql id="selectJourneyNodeInfoVo">
        select node_id, journey_id, user_id, plan_begin_address,plan_begin_long_address,plan_end_address,plan_end_long_address, plan_setout_time, plan_arrive_time, plan_begin_longitude, plan_begin_latitude, plan_end_longitude, plan_end_latitude, it_is_via_point, vehicle, duration, distance, wait_duration, node_state, number, create_by, create_time, update_by, update_time,plan_begin_city_code,plan_end_city_code from journey_node_info
    </sql>

    <select id="selectJourneyNodeInfoList" parameterType="com.hq.ecmp.mscore.domain.JourneyNodeInfo" resultMap="JourneyNodeInfoResult">
        <include refid="selectJourneyNodeInfoVo"/>
        <where>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="planBeginAddress != null  and planBeginAddress != ''"> and plan_begin_address = #{planBeginAddress}</if>
            <if test="planEndAddress != null  and planEndAddress != ''"> and plan_end_address = #{planEndAddress}</if>
            <if test="planSetoutTime != null "> and plan_setout_time = #{planSetoutTime}</if>
            <if test="planArriveTime != null "> and plan_arrive_time = #{planArriveTime}</if>
            <if test="planBeginLongitude != null "> and plan_begin_longitude = #{planBeginLongitude}</if>
            <if test="planBeginLatitude != null  and planBeginLatitude != ''"> and plan_begin_latitude = #{planBeginLatitude}</if>
            <if test="planEndLongitude != null "> and plan_end_longitude = #{planEndLongitude}</if>
            <if test="planEndLatitude != null  and planEndLatitude != ''"> and plan_end_latitude = #{planEndLatitude}</if>
            <if test="itIsViaPoint != null  and itIsViaPoint != ''"> and it_is_via_point = #{itIsViaPoint}</if>
            <if test="vehicle != null  and vehicle != ''"> and vehicle = #{vehicle}</if>
            <if test="duration != null  and duration != ''"> and duration = #{duration}</if>
            <if test="distance != null  and distance != ''"> and distance = #{distance}</if>
            <if test="waitDuration != null  and waitDuration != ''"> and wait_duration = #{waitDuration}</if>
            <if test="nodeState != null  and nodeState != ''"> and node_state = #{nodeState}</if>
            <if test="number != null "> and number = #{number}</if>
        </where>
            order by number asc
    </select>

    <select id="selectJourneyNodeInfoById" parameterType="Long" resultMap="JourneyNodeInfoResult">
        <include refid="selectJourneyNodeInfoVo"/>
        where node_id = #{nodeId}
    </select>

    <insert id="insertJourneyNodeInfo" parameterType="com.hq.ecmp.mscore.domain.JourneyNodeInfo">
        <selectKey keyColumn="node_id" keyProperty="nodeId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into journey_node_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="nodeId != null ">node_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="planBeginLongAddress != null  and planBeginLongAddress != ''">plan_begin_long_address,</if>
            <if test="planBeginAddress != null  and planBeginAddress != ''">plan_begin_address,</if>
            <if test="planBeginCityCode != null  and planBeginCityCode != ''">plan_begin_city_code,</if>
            <if test="planEndLongAddress != null  and planEndLongAddress != ''">plan_end_long_address,</if>
            <if test="planEndAddress != null  and planEndAddress != ''">plan_end_address,</if>
            <if test="planEndCityCode != null  and planEndCityCode != ''">plan_end_city_code,</if>
            <if test="planSetoutTime != null ">plan_setout_time,</if>
            <if test="planArriveTime != null ">plan_arrive_time,</if>
            <if test="planBeginLongitude != null ">plan_begin_longitude,</if>
            <if test="planBeginLatitude != null  and planBeginLatitude != ''">plan_begin_latitude,</if>
            <if test="planEndLongitude != null ">plan_end_longitude,</if>
            <if test="planEndLatitude != null  and planEndLatitude != ''">plan_end_latitude,</if>
            <if test="itIsViaPoint != null  and itIsViaPoint != ''">it_is_via_point,</if>
            <if test="vehicle != null  and vehicle != ''">vehicle,</if>
            <if test="duration != null  and duration != ''">duration,</if>
            <if test="distance != null  and distance != ''">distance,</if>
            <if test="waitDuration != null  and waitDuration != ''">wait_duration,</if>
            <if test="nodeState != null  and nodeState != ''">node_state,</if>
            <if test="number != null ">number,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="nodeId != null ">#{nodeId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="planBeginLongAddress != null  and planBeginLongAddress != ''">#{planBeginLongAddress},</if>
            <if test="planBeginAddress != null  and planBeginAddress != ''">#{planBeginAddress},</if>
            <if test="planBeginCityCode != null  and planBeginCityCode != ''">#{planBeginCityCode},</if>
            <if test="planEndLongAddress != null  and planEndLongAddress != ''">#{planEndLongAddress},</if>
            <if test="planEndAddress != null  and planEndAddress != ''">#{planEndAddress},</if>
            <if test="planEndCityCode != null  and planEndCityCode != ''">#{planEndCityCode},</if>
            <if test="planSetoutTime != null ">#{planSetoutTime},</if>
            <if test="planArriveTime != null ">#{planArriveTime},</if>
            <if test="planBeginLongitude != null ">#{planBeginLongitude},</if>
            <if test="planBeginLatitude != null  and planBeginLatitude != ''">#{planBeginLatitude},</if>
            <if test="planEndLongitude != null ">#{planEndLongitude},</if>
            <if test="planEndLatitude != null  and planEndLatitude != ''">#{planEndLatitude},</if>
            <if test="itIsViaPoint != null  and itIsViaPoint != ''">#{itIsViaPoint},</if>
            <if test="vehicle != null  and vehicle != ''">#{vehicle},</if>
            <if test="duration != null  and duration != ''">#{duration},</if>
            <if test="distance != null  and distance != ''">#{distance},</if>
            <if test="waitDuration != null  and waitDuration != ''">#{waitDuration},</if>
            <if test="nodeState != null  and nodeState != ''">#{nodeState},</if>
            <if test="number != null ">#{number},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJourneyNodeInfo" parameterType="com.hq.ecmp.mscore.domain.JourneyNodeInfo">
        update journey_node_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="planBeginAddress != null  and planBeginAddress != ''">plan_begin_address = #{planBeginAddress},</if>
            <if test="planEndAddress != null  and planEndAddress != ''">plan_end_address = #{planEndAddress},</if>
            <if test="planSetoutTime != null ">plan_setout_time = #{planSetoutTime},</if>
            <if test="planArriveTime != null ">plan_arrive_time = #{planArriveTime},</if>
            <if test="planBeginLongitude != null ">plan_begin_longitude = #{planBeginLongitude},</if>
            <if test="planBeginLatitude != null  and planBeginLatitude != ''">plan_begin_latitude = #{planBeginLatitude},</if>
            <if test="planEndLongitude != null ">plan_end_longitude = #{planEndLongitude},</if>
            <if test="planEndLatitude != null  and planEndLatitude != ''">plan_end_latitude = #{planEndLatitude},</if>
            <if test="itIsViaPoint != null  and itIsViaPoint != ''">it_is_via_point = #{itIsViaPoint},</if>
            <if test="vehicle != null  and vehicle != ''">vehicle = #{vehicle},</if>
            <if test="duration != null  and duration != ''">duration = #{duration},</if>
            <if test="distance != null  and distance != ''">distance = #{distance},</if>
            <if test="waitDuration != null  and waitDuration != ''">wait_duration = #{waitDuration},</if>
            <if test="nodeState != null  and nodeState != ''">node_state = #{nodeState},</if>
            <if test="number != null ">number = #{number},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where node_id = #{nodeId}
    </update>

    <delete id="deleteJourneyNodeInfoById" parameterType="Long">
        delete from journey_node_info where node_id = #{nodeId}
    </delete>

    <delete id="deleteJourneyNodeInfoByIds" parameterType="String">
        delete from journey_node_info where node_id in
        <foreach item="nodeId" collection="array" open="(" separator="," close=")">
            #{nodeId}
        </foreach>
    </delete>
    
    
    <select id="selectMaxAndMinDate" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.JourneyNodeInfo">
    SELECT
	MAX(plan_arrive_time) AS planArriveTime,
	MIN(plan_setout_time) AS planSetoutTime
FROM
	journey_node_info
WHERE
	journey_id = #{journeyId}
    </select>
    
    <select id="queryGroupCity" parameterType="java.lang.Long" resultType="string">
    select plan_begin_address from journey_node_info where journey_id=#{journeyId} GROUP BY plan_begin_address
    </select>
    
    <select id="queryJourneyNodeInfoOrderByNumber" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.JourneyNodeInfo">
    SELECT
	plan_begin_address AS planBeginAddress,
	plan_begin_city_code AS planBeginCityCode,
	plan_end_address AS planEndAddress,
	plan_end_city_code AS planEndCityCode,
	number,
	node_id AS nodeId,
	it_is_via_point as itIsViaPoint
FROM
	journey_node_info
WHERE
	journey_id = #{journeyId}
ORDER BY
	number
    </select>

</mapper>
