<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.JourneyPlanPriceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.JourneyPlanPriceInfo" id="JourneyPlanPriceInfoResult">
        <result property="priceId"    column="price_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="plannedDepartureTime"    column="planned_departure_time"    />
        <result property="duration"    column="duration"    />
        <result property="plannedArrivalTime"    column="planned_arrival_time"    />
        <result property="carTypeId"    column="car_type_id"    />
        <result property="price"    column="price"    />
    </resultMap>

    <sql id="selectJourneyPlanPriceInfoVo">
        select price_id, journey_id, node_id,order_id, car_type_id, price,planned_departure_time,duration,planned_arrival_time from journey_plan_price_info
    </sql>

    <select id="selectJourneyPlanPriceInfoList" parameterType="com.hq.ecmp.mscore.domain.JourneyPlanPriceInfo" resultMap="JourneyPlanPriceInfoResult">
        <include refid="selectJourneyPlanPriceInfoVo"/>
        <where>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="nodeId != null "> and node_id = #{nodeId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="carTypeId != null "> and car_type_id = #{carTypeId}</if>
            <if test="price != null "> and price = #{price}</if>
        </where>
    </select>

    <select id="selectJourneyPlanPriceInfoById" parameterType="Long" resultMap="JourneyPlanPriceInfoResult">
        <include refid="selectJourneyPlanPriceInfoVo"/>
        where price_id = #{priceId}
    </select>

    <insert id="insertJourneyPlanPriceInfo" parameterType="com.hq.ecmp.mscore.domain.JourneyPlanPriceInfo">
        insert into journey_plan_price_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="priceId != null ">price_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="nodeId != null ">node_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="carTypeId != null ">car_type_id,</if>
            <if test="price != null ">price,</if>
            <if test="plannedDepartureTime != null ">planned_departure_time,</if>
            <if test="duration != null ">duration,</if>
            <if test="plannedArrivalTime != null ">planned_arrival_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="priceId != null ">#{priceId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="nodeId != null ">#{nodeId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="carTypeId != null ">#{carTypeId},</if>
            <if test="price != null ">#{price},</if>
            <if test="plannedDepartureTime != null ">#{plannedDepartureTime},</if>
            <if test="duration != null ">#{duration},</if>
            <if test="plannedArrivalTime != null ">#{plannedArrivalTime},</if>
         </trim>
    </insert>

    <update id="updateJourneyPlanPriceInfo" parameterType="com.hq.ecmp.mscore.domain.JourneyPlanPriceInfo">
        update journey_plan_price_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="nodeId != null ">node_id = #{nodeId},</if>
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="carTypeId != null ">car_type_id = #{carTypeId},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="plannedDepartureTime != null ">planned_departure_time = #{plannedDepartureTime},</if>
            <if test="duration != null ">duration = #{duration},</if>
            <if test="plannedArrivalTime != null ">planned_arrival_Time = #{plannedArrivalTime},</if>
        </trim>
        where price_id = #{priceId}
    </update>

    <delete id="deleteJourneyPlanPriceInfoById" parameterType="Long">
        delete from journey_plan_price_info where price_id = #{priceId}
    </delete>

    <delete id="deleteJourneyPlanPriceInfoByIds" parameterType="String">
        delete from journey_plan_price_info where price_id in
        <foreach item="priceId" collection="array" open="(" separator="," close=")">
            #{priceId}
        </foreach>
    </delete>

</mapper>
