<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderServiceImagesInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.dto.ordercost.OrderServiceImagesInfo" id="Result">
        <result property="imageId"          column="image_id"    />
        <result property="recordId"         column="record_id"    />
        <result property="imageurl"         column="image_url"    />
        <result property="createBy"         column="create_by"    />
        <result property="createTime"       column="create_time"    />
        <result property="updateBy"         column="update_by"    />
        <result property="updateTime"       column="update_time"    />
    </resultMap>
    <sql id="key">
        select image_id, record_id ,image_url,create_by,create_time,update_by,update_time
        from order_service_images_info
    </sql>
    <select id="getList" parameterType="com.hq.ecmp.mscore.dto.ordercost.OrderServiceImagesInfo" resultMap="Result">
        <include refid="key"/>
        <where>
            <if test="recordId != null "> and record_id = #{recordId}</if>
        </where>
    </select>
</mapper>