<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.OrderInfo" id="OrderInfoResult">
        <result property="orderId"    column="order_id"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="nodeId"    column="node_id"    />
        <result property="powerId"    column="power_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="carId"    column="car_id"    />
        <result property="useCarMode"    column="use_car_mode"    />
        <result property="state"    column="state"    />
        <result property="actualSetoutAddress"    column="actual_setout_address"    />
        <result property="actualSetoutLongitude"    column="actual_setout_longitude"    />
        <result property="actualSetoutLatitude"    column="actual_setout_latitude"    />
        <result property="actualSetoutTime"    column="actual_setout_time"    />
        <result property="actualArriveAddress"    column="actual_arrive_address"    />
        <result property="actualArriveLongitude"    column="actual_arrive_longitude"    />
        <result property="actualArriveLatitude"    column="actual_arrive_latitude"    />
        <result property="actualArriveTime"    column="actual_arrive_time"    />
        <result property="tripartiteOrderId"    column="tripartite_order_id"    />
        <result property="tripartitePlatformCode"    column="tripartite_platform_code"    />
        <result property="driverName"    column="driver_name"    />
        <result property="driverMobile"    column="driver_mobile"    />
        <result property="carLicense"    column="car_license"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderInfoVo">
        select order_id, journey_id, node_id, power_id, driver_id, car_id, use_car_mode, state, actual_setout_address, actual_setout_longitude, actual_setout_latitude, actual_setout_time, actual_arrive_address, actual_arrive_longitude, actual_arrive_latitude, actual_arrive_time, tripartite_order_id, tripartite_platform_code, driver_name, driver_mobile, car_license, create_by, create_time, update_by, update_time from order_info
    </sql>

    <select id="selectOrderInfoList" parameterType="com.hq.ecmp.mscore.domain.OrderInfo" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        <where>
            <if test="journeyId != null "> and journey_id = #{journeyId}</if>
            <if test="nodeId != null "> and node_id = #{nodeId}</if>
            <if test="powerId != null "> and power_id = #{powerId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="carId != null "> and car_id = #{carId}</if>
            <if test="useCarMode != null  and useCarMode != ''"> and use_car_mode = #{useCarMode}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="actualSetoutAddress != null  and actualSetoutAddress != ''"> and actual_setout_address = #{actualSetoutAddress}</if>
            <if test="actualSetoutLongitude != null "> and actual_setout_longitude = #{actualSetoutLongitude}</if>
            <if test="actualSetoutLatitude != null "> and actual_setout_latitude = #{actualSetoutLatitude}</if>
            <if test="actualSetoutTime != null "> and actual_setout_time = #{actualSetoutTime}</if>
            <if test="actualArriveAddress != null  and actualArriveAddress != ''"> and actual_arrive_address = #{actualArriveAddress}</if>
            <if test="actualArriveLongitude != null "> and actual_arrive_longitude = #{actualArriveLongitude}</if>
            <if test="actualArriveLatitude != null "> and actual_arrive_latitude = #{actualArriveLatitude}</if>
            <if test="actualArriveTime != null "> and actual_arrive_time = #{actualArriveTime}</if>
            <if test="tripartiteOrderId != null  and tripartiteOrderId != ''"> and tripartite_order_id = #{tripartiteOrderId}</if>
            <if test="tripartitePlatformCode != null  and tripartitePlatformCode != ''"> and tripartite_platform_code = #{tripartitePlatformCode}</if>
            <if test="driverName != null  and driverName != ''"> and driver_name like concat('%', #{driverName}, '%')</if>
            <if test="driverMobile != null  and driverMobile != ''"> and driver_mobile = #{driverMobile}</if>
            <if test="carLicense != null  and carLicense != ''"> and car_license = #{carLicense}</if>
        </where>
    </select>

    <select id="selectOrderInfoById" parameterType="Long" resultMap="OrderInfoResult">
        <include refid="selectOrderInfoVo"/>
        where order_id = #{orderId}
    </select>

    <insert id="insertOrderInfo" parameterType="com.hq.ecmp.mscore.domain.OrderInfo">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">order_id,</if>
            <if test="journeyId != null ">journey_id,</if>
            <if test="nodeId != null ">node_id,</if>
            <if test="powerId != null ">power_id,</if>
            <if test="driverId != null ">driver_id,</if>
            <if test="carId != null ">car_id,</if>
            <if test="useCarMode != null  and useCarMode != ''">use_car_mode,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="actualSetoutAddress != null  and actualSetoutAddress != ''">actual_setout_address,</if>
            <if test="actualSetoutLongitude != null ">actual_setout_longitude,</if>
            <if test="actualSetoutLatitude != null ">actual_setout_latitude,</if>
            <if test="actualSetoutTime != null ">actual_setout_time,</if>
            <if test="actualArriveAddress != null  and actualArriveAddress != ''">actual_arrive_address,</if>
            <if test="actualArriveLongitude != null ">actual_arrive_longitude,</if>
            <if test="actualArriveLatitude != null ">actual_arrive_latitude,</if>
            <if test="actualArriveTime != null ">actual_arrive_time,</if>
            <if test="tripartiteOrderId != null  and tripartiteOrderId != ''">tripartite_order_id,</if>
            <if test="tripartitePlatformCode != null  and tripartitePlatformCode != ''">tripartite_platform_code,</if>
            <if test="driverName != null  and driverName != ''">driver_name,</if>
            <if test="driverMobile != null  and driverMobile != ''">driver_mobile,</if>
            <if test="carLicense != null  and carLicense != ''">car_license,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">#{orderId},</if>
            <if test="journeyId != null ">#{journeyId},</if>
            <if test="nodeId != null ">#{nodeId},</if>
            <if test="powerId != null ">#{powerId},</if>
            <if test="driverId != null ">#{driverId},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="useCarMode != null  and useCarMode != ''">#{useCarMode},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="actualSetoutAddress != null  and actualSetoutAddress != ''">#{actualSetoutAddress},</if>
            <if test="actualSetoutLongitude != null ">#{actualSetoutLongitude},</if>
            <if test="actualSetoutLatitude != null ">#{actualSetoutLatitude},</if>
            <if test="actualSetoutTime != null ">#{actualSetoutTime},</if>
            <if test="actualArriveAddress != null  and actualArriveAddress != ''">#{actualArriveAddress},</if>
            <if test="actualArriveLongitude != null ">#{actualArriveLongitude},</if>
            <if test="actualArriveLatitude != null ">#{actualArriveLatitude},</if>
            <if test="actualArriveTime != null ">#{actualArriveTime},</if>
            <if test="tripartiteOrderId != null  and tripartiteOrderId != ''">#{tripartiteOrderId},</if>
            <if test="tripartitePlatformCode != null  and tripartitePlatformCode != ''">#{tripartitePlatformCode},</if>
            <if test="driverName != null  and driverName != ''">#{driverName},</if>
            <if test="driverMobile != null  and driverMobile != ''">#{driverMobile},</if>
            <if test="carLicense != null  and carLicense != ''">#{carLicense},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrderInfo" parameterType="com.hq.ecmp.mscore.domain.OrderInfo">
        update order_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="journeyId != null ">journey_id = #{journeyId},</if>
            <if test="nodeId != null ">node_id = #{nodeId},</if>
            <if test="powerId != null ">power_id = #{powerId},</if>
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="useCarMode != null  and useCarMode != ''">use_car_mode = #{useCarMode},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="actualSetoutAddress != null  and actualSetoutAddress != ''">actual_setout_address = #{actualSetoutAddress},</if>
            <if test="actualSetoutLongitude != null ">actual_setout_longitude = #{actualSetoutLongitude},</if>
            <if test="actualSetoutLatitude != null ">actual_setout_latitude = #{actualSetoutLatitude},</if>
            <if test="actualSetoutTime != null ">actual_setout_time = #{actualSetoutTime},</if>
            <if test="actualArriveAddress != null  and actualArriveAddress != ''">actual_arrive_address = #{actualArriveAddress},</if>
            <if test="actualArriveLongitude != null ">actual_arrive_longitude = #{actualArriveLongitude},</if>
            <if test="actualArriveLatitude != null ">actual_arrive_latitude = #{actualArriveLatitude},</if>
            <if test="actualArriveTime != null ">actual_arrive_time = #{actualArriveTime},</if>
            <if test="tripartiteOrderId != null  and tripartiteOrderId != ''">tripartite_order_id = #{tripartiteOrderId},</if>
            <if test="tripartitePlatformCode != null  and tripartitePlatformCode != ''">tripartite_platform_code = #{tripartitePlatformCode},</if>
            <if test="driverName != null  and driverName != ''">driver_name = #{driverName},</if>
            <if test="driverMobile != null  and driverMobile != ''">driver_mobile = #{driverMobile},</if>
            <if test="carLicense != null  and carLicense != ''">car_license = #{carLicense},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where order_id = #{orderId}
    </update>

    <delete id="deleteOrderInfoById" parameterType="Long">
        delete from order_info where order_id = #{orderId}
    </delete>

    <delete id="deleteOrderInfoByIds" parameterType="String">
        delete from order_info where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>

</mapper>
