<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderDispatcheDetailInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.OrderDispatcheDetailInfo" id="OrderDispatcheDetailInfoResult">
        <result property="dispatchId"    column="dispatch_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="itIsUseInnerCarGroup"    column="it_is_use_inner_car_group"    />
        <result property="carGroupUserMode"    column="car_group_user_mode"    />
        <result property="itIsSelfDriver"    column="it_is_self_driver"    />
        <result property="nextCarGroupId"    column="next_car_group_id"    />
        <result property="charterCarType"    column="charter_car_type"    />
        <result property="carId"    column="car_id"    />
        <result property="carCgId"    column="car_cg_id"    />
        <result property="driverId"    column="driver_id"    />
        <result property="driverCgId"    column="driver_cg_id"    />
        <result property="dispatchState"    column="dispatch_state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderDispatcheDetailInfoVo">
        select dispatch_id, order_id, it_is_use_inner_car_group, car_group_user_mode, it_is_self_driver, next_car_group_id, charter_car_type, car_id, car_cg_id, driver_id, driver_cg_id, dispatch_state, create_by, create_time, update_by, update_time from order_dispatche_detail_info
    </sql>

    <select id="selectOrderDispatcheDetailInfoList" parameterType="OrderDispatcheDetailInfo" resultMap="OrderDispatcheDetailInfoResult">
        <include refid="selectOrderDispatcheDetailInfoVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="itIsUseInnerCarGroup != null  and itIsUseInnerCarGroup != ''"> and it_is_use_inner_car_group = #{itIsUseInnerCarGroup}</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''"> and car_group_user_mode = #{carGroupUserMode}</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''"> and it_is_self_driver = #{itIsSelfDriver}</if>
            <if test="nextCarGroupId != null  and nextCarGroupId != ''"> and next_car_group_id = #{nextCarGroupId}</if>
            <if test="charterCarType != null  and charterCarType != ''"> and charter_car_type = #{charterCarType}</if>
            <if test="carId != null "> and car_id = #{carId}</if>
            <if test="carCgId != null "> and car_cg_id = #{carCgId}</if>
            <if test="driverId != null "> and driver_id = #{driverId}</if>
            <if test="driverCgId != null "> and driver_cg_id = #{driverCgId}</if>
            <if test="dispatchState != null  and dispatchState != ''"> and dispatch_state = #{dispatchState}</if>
        </where>
    </select>

    <select id="selectOrderDispatcheDetailInfoById" parameterType="Integer" resultMap="OrderDispatcheDetailInfoResult">
        <include refid="selectOrderDispatcheDetailInfoVo"/>
        where dispatch_id = #{dispatchId}
    </select>

    <insert id="insertOrderDispatcheDetailInfo" parameterType="OrderDispatcheDetailInfo" useGeneratedKeys="true" keyProperty="dispatchId">
        insert into order_dispatche_detail_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">order_id,</if>
            <if test="itIsUseInnerCarGroup != null  and itIsUseInnerCarGroup != ''">it_is_use_inner_car_group,</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">car_group_user_mode,</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">it_is_self_driver,</if>
            <if test="nextCarGroupId != null  and nextCarGroupId != ''">next_car_group_id,</if>
            <if test="charterCarType != null  and charterCarType != ''">charter_car_type,</if>
            <if test="carId != null ">car_id,</if>
            <if test="carCgId != null ">car_cg_id,</if>
            <if test="driverId != null ">driver_id,</if>
            <if test="driverCgId != null ">driver_cg_id,</if>
            <if test="dispatchState != null  and dispatchState != ''">dispatch_state,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">#{orderId},</if>
            <if test="itIsUseInnerCarGroup != null  and itIsUseInnerCarGroup != ''">#{itIsUseInnerCarGroup},</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">#{carGroupUserMode},</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">#{itIsSelfDriver},</if>
            <if test="nextCarGroupId != null  and nextCarGroupId != ''">#{nextCarGroupId},</if>
            <if test="charterCarType != null  and charterCarType != ''">#{charterCarType},</if>
            <if test="carId != null ">#{carId},</if>
            <if test="carCgId != null ">#{carCgId},</if>
            <if test="driverId != null ">#{driverId},</if>
            <if test="driverCgId != null ">#{driverCgId},</if>
            <if test="dispatchState != null  and dispatchState != ''">#{dispatchState},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateOrderDispatcheDetailInfo" parameterType="OrderDispatcheDetailInfo">
        update order_dispatche_detail_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="itIsUseInnerCarGroup != null  and itIsUseInnerCarGroup != ''">it_is_use_inner_car_group = #{itIsUseInnerCarGroup},</if>
            <if test="carGroupUserMode != null  and carGroupUserMode != ''">car_group_user_mode = #{carGroupUserMode},</if>
            <if test="itIsSelfDriver != null  and itIsSelfDriver != ''">it_is_self_driver = #{itIsSelfDriver},</if>
            <if test="nextCarGroupId != null  and nextCarGroupId != ''">next_car_group_id = #{nextCarGroupId},</if>
            <if test="charterCarType != null  and charterCarType != ''">charter_car_type = #{charterCarType},</if>
            <if test="carId != null ">car_id = #{carId},</if>
            <if test="carCgId != null ">car_cg_id = #{carCgId},</if>
            <if test="driverId != null ">driver_id = #{driverId},</if>
            <if test="driverCgId != null ">driver_cg_id = #{driverCgId},</if>
            <if test="dispatchState != null  and dispatchState != ''">dispatch_state = #{dispatchState},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where dispatch_id = #{dispatchId}
    </update>

    <delete id="deleteOrderDispatcheDetailInfoById" parameterType="Integer">
        delete from order_dispatche_detail_info where dispatch_id = #{dispatchId}
    </delete>

    <delete id="deleteOrderDispatcheDetailInfoByIds" parameterType="String">
        delete from order_dispatche_detail_info where dispatch_id in
        <foreach item="dispatchId" collection="array" open="(" separator="," close=")">
            #{dispatchId}
        </foreach>
    </delete>
    <delete id="deleteOrderId" parameterType="Integer">
        delete from order_dispatche_detail_info where  = #{orderId}
    </delete>
</mapper>