<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderSettlingInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.OrderSettlingInfo" id="OrderSettlingInfoResult">
        <result property="billId"    column="bill_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="amount"    column="amount"    />
        <result property="amountDetail"    column="amount_detail"    />
        <result property="outPrice"    column="out_price"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderSettlingInfoVo">
        select bill_id, order_id, amount, amount_detail, out_price, create_by, create_time, update_by, update_time from order_settling_info
    </sql>

    <select id="selectOrderSettlingInfoList" parameterType="com.hq.ecmp.mscore.domain.OrderSettlingInfo" resultMap="OrderSettlingInfoResult">
        <include refid="selectOrderSettlingInfoVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="amountDetail != null  and amountDetail != ''"> and amount_detail = #{amountDetail}</if>
            <if test="outPrice != null "> and out_price = #{outPrice}</if>
        </where>
    </select>

    <select id="selectOrderSettlingInfoById" parameterType="Long" resultMap="OrderSettlingInfoResult">
        <include refid="selectOrderSettlingInfoVo"/>
        where bill_id = #{billId}
    </select>

    <insert id="insertOrderSettlingInfo" parameterType="com.hq.ecmp.mscore.domain.OrderSettlingInfo">
        insert into order_settling_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="billId != null ">bill_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="amount != null ">amount,</if>
            <if test="amountDetail != null  and amountDetail != ''">amount_detail,</if>
            <if test="totalMileage != null  and totalMileage != ''">total_mileage,</if>
            <if test="totalTime != null ">total_time,</if>
            <if test="outPrice != null ">out_price,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="totalMileage != null ">total_mileage,</if>
            <if test="totalTime != null ">total_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="billId != null ">#{billId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="amountDetail != null  and amountDetail != ''">#{amountDetail},</if>
            <if test="totalMileage != null  and totalMileage != ''">#{totalMileage},</if>
            <if test="totalTime != null ">#{totalTime},</if>
            <if test="outPrice != null ">#{outPrice},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="totalMileage != null ">#{totalMileage},</if>
            <if test="totalTime != null ">#{totalTime},</if>
         </trim>
    </insert>

    <update id="updateOrderSettlingInfo" parameterType="com.hq.ecmp.mscore.domain.OrderSettlingInfo">
        update order_settling_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="amountDetail != null  and amountDetail != ''">amount_detail = #{amountDetail},</if>
            <if test="outPrice != null ">out_price = #{outPrice},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where bill_id = #{billId}
    </update>

    <delete id="deleteOrderSettlingInfoById" parameterType="Long">
        delete from order_settling_info where bill_id = #{billId}
    </delete>

    <delete id="deleteOrderSettlingInfoByIds" parameterType="String">
        delete from order_settling_info where bill_id in
        <foreach item="billId" collection="array" open="(" separator="," close=")">
            #{billId}
        </foreach>
    </delete>

</mapper>
