<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderStateTraceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.OrderStateTraceInfo" id="OrderStateTraceInfoResult">
        <result property="traceId"    column="trace_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="state"    column="state"    />
        <result property="driverLongitude"    column="driver_longitude"    />
        <result property="driverLatitude"    column="driver_latitude"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="oldDriverId"    column="old_driver_id" />
        <result property="oldCarId"    column="old_car_id"    />
    </resultMap>

    <sql id="selectOrderStateTraceInfoVo">
        select trace_id, order_id, state, driver_longitude, driver_latitude, content, create_by, create_time, update_by, update_time,old_driver_id,old_car_id from order_state_trace_info
    </sql>

    <select id="selectOrderStateTraceInfoList" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="driverLongitude != null "> and driver_longitude = #{driverLongitude}</if>
            <if test="driverLatitude != null "> and driver_latitude = #{driverLatitude}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="oldCarId != null "> and old_car_id = #{oldCarId}</if>
            <if test="oldDriverId != null  "> and old_driver_id = #{oldDriverId}</if>
        </where>
    </select>

    <select id="selectOrderStateTraceInfoById" parameterType="Long" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        where trace_id = #{traceId}
    </select>

    <insert id="insertOrderStateTraceInfo" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
        <selectKey keyColumn="trace_id" keyProperty="traceId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into order_state_trace_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traceId != null ">trace_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="driverLongitude != null ">driver_longitude,</if>
            <if test="driverLatitude != null ">driver_latitude,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="oldDriverId != null ">old_driver_id,</if>
            <if test="oldCarId != null ">old_car_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traceId != null ">#{traceId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="driverLongitude != null ">#{driverLongitude},</if>
            <if test="driverLatitude != null ">#{driverLatitude},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="oldDriverId != null ">#{oldDriverId},</if>
            <if test="oldCarId != null ">#{oldCarId},</if>
         </trim>
    </insert>

    <update id="updateOrderStateTraceInfo" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
        update order_state_trace_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="driverLongitude != null ">driver_longitude = #{driverLongitude},</if>
            <if test="driverLatitude != null ">driver_latitude = #{driverLatitude},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="oldDriverId != null ">old_driver_id = #{oldDriverId},</if>
            <if test="oldCarId != null ">old_car_id = #{oldCarId},</if>
        </trim>
        where trace_id = #{traceId}
    </update>

    <delete id="deleteOrderStateTraceInfoById" parameterType="Long">
        delete from order_state_trace_info where trace_id = #{traceId}
    </delete>

    <delete id="deleteOrderStateTraceInfoByIds" parameterType="String">
        delete from order_state_trace_info where trace_id in
        <foreach item="traceId" collection="array" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </delete>
    
    <select id="queryOrderAllState" parameterType="java.lang.Long" resultType="string">
    select state from order_state_trace_info where order_id=#{orderId}
    </select>
    
   <select id="queryApplyReassignmentOrderInfo" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.DispatchDriverInfo">
   SELECT
	b.driver_name AS driverName,
	b.mobile AS driverTel,
	a.content AS reassignmentApplyReason,
	a.state as state,
	d.car_license AS carLicense,
	d.car_type AS carType
FROM
	order_state_trace_info a
LEFT JOIN driver_info b ON a.create_by = b.driver_id
LEFT JOIN order_info c ON c.order_id = a.order_id
LEFT JOIN car_info d ON d.car_id = c.car_id
WHERE
	a.order_id = #{orderId}
AND a.state ='S270' order by a.create_time desc limit 1
   </select>

	<select id="queryReassignmentOrderStatus" parameterType="java.lang.Long"
		resultType="com.hq.ecmp.mscore.domain.DispatchDriverInfo">
		SELECT
		state AS state,
		content AS content
		FROM
		order_state_trace_info
		WHERE
		order_id = #{orderId}
		ORDER BY
		create_time DESC
		LIMIT 1
	</select>

	<select id="queryStateInfo" parameterType="java.lang.Long"
		resultType="com.hq.ecmp.mscore.domain.SendCarInfo">
		SELECT
		CASE state
		WHEN 'S100' THEN
		'已提交用车申请'
		WHEN 'S200' THEN
		'已提交用车申请'
		WHEN 'S299' THEN
		'派车成功'
		WHEN 'S279' THEN
		'派车成功'
		WHEN 'S270' THEN
		'已提交改派申请'
		WHEN 'S277' THEN
		'改派驳回'
		ELSE
		'其他'
		END AS optType,
		b.nick_name AS optUserName,
		a.create_time AS optDate
		FROM
		order_state_trace_info a
		LEFT JOIN ecmp_user b ON a.create_by = b.user_id
		WHERE
		a.state IN (
		'S100',
		'S200',
		'S299',
		'S270',
		'S277',
		'S279'
		)
		AND order_id = #{orderId}
		ORDER BY
		a.create_time
	</select>


    <!--手动编写sql start-->
    <select id="getTraceMessageForPassenger" parameterType="Object" resultType="com.hq.ecmp.mscore.dto.MessageDto">
       SELECT  messageId,messageType,'改派' messageTypeStr,count(*) messageCount from (
        select trace_id as messageId,5 as messageType from order_state_trace_info
        where order_id in (select order_id from order_info where journey_id in (select journey_id from journey_info where user_id = #{userId}) ) and state=#{state}
         ) a  group by a.messageType
    </select>

    <select id="getTraceMessageForDriver" parameterType="Object" resultType="com.hq.ecmp.mscore.dto.MessageDto">
       SELECT  messageId,messageType,'改派' messageTypeStr,count(*) messageCount from (
        select order_id as messageId,3 as messageType from order_info
        where order_id in (select order_id from order_state_trace_info where state=#{state}) and driver_id=#{driverId} and state='S900'
         ) a  group by a.messageType
    </select>

    <select id="getOrderDispatcher" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.UserVO">
        select user_id userId,nick_name userName ,phonenumber userPhone
        from ecmp_user
        where user_id =(SELECT create_by  from order_state_trace_info
        where order_id=#{orderId} and find_in_set(state,#{states}) order by create_time desc limit 1)
    </select>

	<select id="queryJouneyCloseOrderIsCanle" parameterType="java.lang.Long"
		resultType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
		SELECT
		a.state as state,a.order_id as orderId
		FROM
		order_state_trace_info a
		LEFT JOIN order_info b ON a.order_id = b.order_id
		WHERE
		b.journey_id = #{jouneyId}
		AND a.state IN (
		'S900',
		'S901',
		'S911',
		'S921'
		)
		ORDER BY
		a.create_time
		LIMIT 1
	</select>
	
	<select id="queryPowerCloseOrderIsCanle" parameterType="java.lang.Long" resultType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
	SELECT
		a.state as state,a.order_id as orderId,a.content
		FROM
		order_state_trace_info a
		LEFT JOIN order_info b ON a.order_id = b.order_id
		WHERE
		b.power_id = #{powerId}
		AND a.state IN (
		'S900',
		'S901',
		'S911',
		'S921',
		'S930'
		)
		ORDER BY
		a.create_time desc
		LIMIT 1
	</select>
    
    <select id="getLatestInfoByOrderId" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        where order_id=#{orderId}
        order by trace_id desc limit 1
    </select>
    <select id="selectDispatcherUserId" resultType="java.lang.String">
        SELECT create_by as userId
        FROM order_state_trace_info
        WHERE order_id = #{orderId}
        AND (state = 'S299' OR state = 'S930')
        LIMIT 1
    </select>
    
    <select id="queryFirstDispatchIndo" parameterType="java.lang.Long"
	resultType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
	select state as state,content as content,create_by as createBy,create_time as
	createTime from order_state_trace_info
	where state in ('S279','S299') and order_id=#{orderId} order by create_time
	limit 1
</select>
   
    <select id="queryRecentlyDispatchInfo" parameterType="java.lang.Long"
	resultType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
	select state as state,content as content,create_by as createBy,create_time as
	createTime from order_state_trace_info
	where state in ('S277','S279','S299') and order_id=#{orderId} order by
	create_time desc limit 1
</select>

   <select id="getExpiredConfirmOrder" resultMap="OrderStateTraceInfoResult">
       select  s.trace_id, s.order_id, s.state, s.driver_longitude, s.driver_latitude, s.content, s.create_by, s.create_time, s.update_by, s.update_time from order_state_trace_info s where  s.trace_id=(
        select max(s1.trace_id) from order_state_trace_info s1 where s1.order_id=s.order_id
        )
        and s.state='S699'
        and TIMESTAMPDIFF(HOUR,s.create_time,NOW())>=#{timeout}
   </select>

	<select id="queryApplyReassignmentDriver" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		SELECT
		create_by
		FROM
		order_state_trace_info
		WHERE
		order_id = #{orderId}
		AND state = #{state}
		ORDER BY
		create_time DESC
		LIMIT 1
	</select>

    <select id="queryLatestInfoByOrderIdAndState" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        where order_id=#{orderId}
        and state=#{state}
        order by create_time desc limit 1
    </select>
    <select id="queryOrderLatestRessaignState" resultType="java.lang.String">
        select state from order_state_trace_info where order_id=#{orderId}
        and state in('S270','S277','S199','S279')
         order by create_time desc limit 1
    </select>

    <select id="getOldDispatcher" resultType="java.lang.Long" parameterType="java.lang.Long">
         select  s.create_by  from order_state_trace_info s
         where s.state in('S299','S200')
         and s.order_id=#{orderId}
        limit 1
    </select>


    <select id="reassignOrderList" resultType="com.hq.ecmp.mscore.vo.RejectDispatcherUserVO">
        select a.trace_id traceId,a.order_id orderId,if(a.state='S270',1,2) type,
        DATE_FORMAT(a.create_time, '%m月%d日 %H:%i') time,
        a.state,a.content,
        if(a.state='S270',c.driver_name,b.nick_name) userName,
        if(a.state='S270',c.mobile,b.phonenumber) userPhone,
        CASE a.state when 'S270' then '已提交申请'
                   when 'S277' then '审批驳回'
                   when 'S279' then '审批通过'
                   else '' end result
        from order_state_trace_info a
        left join ecmp_user b on (b.user_id=a.create_by and a.state in ('S277','S279') )
        left join driver_info c on (c.driver_id=a.create_by and a.state = 'S270' )
        where find_in_set(a.state,#{state}) and a.order_id=#{orderId}
        ORDER BY trace_id asc
    </select>
    <delete id="deleteOrderStateTrace" parameterType="Long">
        delete from order_state_trace_info where order_id=#{orderId} and state not in ('S000','S100')
    </delete>

    <select id="selectCountForAgainStrte" resultType="int">
        select  count(0) from order_state_trace_info a where find_in_set(a.state,#{state}) and a.order_id=#{orderId}
    </select>

    <select id="selectListByOrderState" resultMap="OrderStateTraceInfoResult">
        (<include refid="selectOrderStateTraceInfoVo"/>
        where order_id=#{orderId}
        and state='S616'
         <![CDATA[AND DATE_FORMAT(create_time, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d') ]]>
       order by trace_id ASC  limit 1)
       union (
        <include refid="selectOrderStateTraceInfoVo"/>
        where order_id=#{orderId}
        and state='S699'
        <![CDATA[AND DATE_FORMAT(create_time, '%Y-%m-%d') = DATE_FORMAT(#{date}, '%Y-%m-%d') ]]>
        order by trace_id DESC  limit 1
       )

    </select>
    <select id="selectDeptUseCarData" resultType="com.hq.ecmp.mscore.vo.UseCarDataVo">
         SELECT COUNT(1) totalTimes,SUM(
            CASE
                       WHEN ji.use_time IS NULL     THEN 0
                       ELSE  CONVERT(ji.use_time,SIGNED)
                    END
                ) AS totalDays,SUM(
              CASE WHEN osi.amount IS NULL THEN 0
              ELSE osi.amount END
                )  AS totalFee
            FROM order_state_trace_info  os
            LEFT JOIN order_info oi ON os.order_id = oi.order_id
            LEFT JOIN journey_info ji ON ji.journey_id = oi.journey_id
            LEFT JOIN ecmp_user eu ON ji.user_id = eu.user_id
            LEFT JOIN order_settling_info osi ON osi.order_id = os.order_id
            WHERE os.state = 'S900'  AND eu.dept_id = #{deptId}
            AND (DATE_FORMAT(os.create_time, '%Y-%m-%d') BETWEEN DATE_FORMAT(#{beginDate}, '%Y-%m-%d')
            AND DATE_FORMAT(#{endDate}, '%Y-%m-%d'));
    </select>
    <select id="userDeptUseCarDataByCarGroup" resultType="com.hq.ecmp.mscore.vo.UseCarDataVo">
        SELECT totalDays,totalFee,deptName,IF(totalDays IS NULL AND deptName IS NULL
        AND totalFee IS NULL AND totalTimes = 0,NULL,totalTimes) totalTimes
        FROM
        (SELECT COUNT(1) totalTimes,       -- 累计用车次数
            SUM(
               CASE
               WHEN ji.use_time IS NULL     THEN 0
               ELSE  CONVERT(ji.use_time,SIGNED)
               END
            ) AS totalDays,               --  累计用车天数
            SUM(
	          CASE WHEN osi.amount IS NULL THEN 0
	          ELSE osi.amount END
            )  AS totalFee,                -- 累计用车费用
            cgi.car_group_name AS deptName -- 车队名字
        FROM order_state_trace_info  os
        LEFT JOIN order_info oi ON os.order_id = oi.order_id
        LEFT JOIN journey_info ji ON ji.journey_id = oi.journey_id
        LEFT JOIN ecmp_user eu ON ji.user_id = eu.user_id
        LEFT JOIN order_settling_info osi ON osi.order_id = os.order_id
        LEFT JOIN car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
        LEFT JOIN car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
        WHERE os.state = 'S900'  AND eu.dept_id = #{deptId}
        AND (DATE_FORMAT(os.create_time, '%Y-%m-%d') BETWEEN DATE_FORMAT(#{beginDate}, '%Y-%m-%d') AND DATE_FORMAT(#{endDate}, '%Y-%m-%d'))
        <if test="carGroupId != null "> and cgi.car_group_id = #{carGroupId}</if>
        ORDER BY deptName) a
    </select>
</mapper>
