<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderStateTraceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.OrderStateTraceInfo" id="OrderStateTraceInfoResult">
        <result property="traceId"    column="trace_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="state"    column="state"    />
        <result property="driverLongitude"    column="driver_longitude"    />
        <result property="driverLatitude"    column="driver_latitude"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectOrderStateTraceInfoVo">
        select trace_id, order_id, state, driver_longitude, driver_latitude, content, create_by, create_time, update_by, update_time from order_state_trace_info
    </sql>

    <select id="selectOrderStateTraceInfoList" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        <where>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="driverLongitude != null "> and driver_longitude = #{driverLongitude}</if>
            <if test="driverLatitude != null "> and driver_latitude = #{driverLatitude}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectOrderStateTraceInfoById" parameterType="Long" resultMap="OrderStateTraceInfoResult">
        <include refid="selectOrderStateTraceInfoVo"/>
        where trace_id = #{traceId}
    </select>

    <insert id="insertOrderStateTraceInfo" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
        insert into order_state_trace_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traceId != null ">trace_id,</if>
            <if test="orderId != null ">order_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="driverLongitude != null ">driver_longitude,</if>
            <if test="driverLatitude != null ">driver_latitude,</if>
            <if test="content != null  and content != ''">content,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traceId != null ">#{traceId},</if>
            <if test="orderId != null ">#{orderId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="driverLongitude != null ">#{driverLongitude},</if>
            <if test="driverLatitude != null ">#{driverLatitude},</if>
            <if test="content != null  and content != ''">#{content},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateOrderStateTraceInfo" parameterType="com.hq.ecmp.mscore.domain.OrderStateTraceInfo">
        update order_state_trace_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="driverLongitude != null ">driver_longitude = #{driverLongitude},</if>
            <if test="driverLatitude != null ">driver_latitude = #{driverLatitude},</if>
            <if test="content != null  and content != ''">content = #{content},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where trace_id = #{traceId}
    </update>

    <delete id="deleteOrderStateTraceInfoById" parameterType="Long">
        delete from order_state_trace_info where trace_id = #{traceId}
    </delete>

    <delete id="deleteOrderStateTraceInfoByIds" parameterType="String">
        delete from order_state_trace_info where trace_id in
        <foreach item="traceId" collection="array" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </delete>

</mapper>
