<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ProjectInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ProjectInfo" id="ProjectInfoResult">
        <result property="projectId"    column="project_id"    />
        <result property="name"    column="name"    />
        <result property="leader"    column="leader"    />
        <result property="projectCode"    column="project_code"    />
        <result property="fatherProjectId"    column="father_project_id"    />
        <result property="startDate"    column="start_date"    />
        <result property="closeDate"    column="close_date"    />
        <result property="isAllUserUse"    column="is_all_user_use"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectProjectInfoVo">
        select project_id, name, leader, project_code,father_project_id, start_date, close_date, create_by, create_time, update_by, update_time,is_all_user_use from project_info
    </sql>

    <select id="selectProjectInfoList" parameterType="com.hq.ecmp.mscore.domain.ProjectInfo" resultMap="ProjectInfoResult">
        <include refid="selectProjectInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="leader != null "> and leader = #{leader}</if>
            <if test="projectCode != null  and projectCode != ''"> and project_code = #{projectCode}</if>
            <if test="fatherProjectId != null  and fatherProjectId != ''"> and father_project_id = #{fatherProjectId}</if>
            <if test="isAllUserUse != null  and isAllUserUse != ''"> and is_all_user_use = #{isAllUserUse}</if>
            <if test="startDate != null  and startDate != ''"> and start_date = #{startDate}</if>
            <if test="closeDate != null  and closeDate != ''"> and close_date = #{closeDate}</if>
        </where>
    </select>

    <select id="selectProjectInfoById" parameterType="Long" resultMap="ProjectInfoResult">
        <include refid="selectProjectInfoVo"/>
        where project_id = #{projectId}
    </select>

    <insert id="insertProjectInfo" parameterType="com.hq.ecmp.mscore.domain.ProjectInfo" useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into project_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null ">project_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="leader != null ">leader,</if>
            <if test="projectCode != null  and projectCode != ''">project_code,</if>
            <if test="fatherProjectId != null  and fatherProjectId != ''">father_project_id,</if>
            <if test="startDate != null  and startDate != ''">start_date,</if>
            <if test="closeDate != null  and closeDate != ''">close_date,</if>
            <if test="isAllUserUse != null ">is_all_user_use,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null ">#{projectId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="leader != null ">#{leader},</if>
            <if test="projectCode != null  and projectCode != ''">#{projectCode},</if>
            <if test="fatherProjectId != null  and fatherProjectId != ''">#{fatherProjectId},</if>
            <if test="startDate != null  and startDate != ''">#{startDate},</if>
            <if test="closeDate != null  and closeDate != ''">#{closeDate},</if>
            <if test="isAllUserUse != null ">#{isAllUserUse},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateProjectInfo" parameterType="com.hq.ecmp.mscore.domain.ProjectInfo">
        update project_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="leader != null ">leader = #{leader},</if>
            <if test="projectCode != null  and projectCode != ''">project_code = #{projectCode},</if>
            <if test="fatherProjectId != null  and fatherProjectId != ''">father_project_id = #{fatherProjectId},</if>
            <if test="startDate != null  and startDate != ''">start_date = #{startDate},</if>
            <if test="closeDate != null  and closeDate != ''">close_date = #{closeDate},</if>
            <if test="isAllUserUse != null">is_all_user_use = #{isAllUserUse},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteProjectInfoById" parameterType="Long">
        delete from project_info where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectInfoByIds" parameterType="String">
        delete from project_info where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>

    <!--手动编写sql start-->
    <select id="getListByUserId" parameterType="Object" resultMap="ProjectInfoResult">
        <include refid="selectProjectInfoVo"/>
        where project_id in(select project_id from project_user_relation_info where user_id=#{userId})
        <if test="projectName !=null and projectName!=''">
            and (name like CONCAT('%',#{projectName},'%') or project_code = #{projectName})
        </if>
    </select>

    <select id="getProjectList" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.ProjectInfoVO">
        select project_id, name, leader, project_code,father_project_id, start_date, close_date,
        (select project_id from project_user_relation_info where project_id=a.project_id) userCount
        from  project_info a
        <where>
            <if test="fatherProjectId!=null">
                father_project_id=#{fatherProjectId}
            </if>
        </where>
    </select>
</mapper>
