<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ProjectUserRelationInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.ProjectUserRelationInfo" id="ProjectUserRelationInfoResult">
        <result property="projectId"    column="project_id"    />
        <result property="userId"    column="user_id"    />
    </resultMap>

    <sql id="selectProjectUserRelationInfoVo">
        select project_id, user_id from project_user_relation_info
    </sql>

    <select id="selectProjectUserRelationInfoList" parameterType="com.hq.ecmp.mscore.domain.ProjectUserRelationInfo" resultMap="ProjectUserRelationInfoResult">
        <include refid="selectProjectUserRelationInfoVo"/>
        <where>
            <if test="projectId != null "> and project_id = #{projectId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>

    <select id="selectProjectUserRelationInfoById" parameterType="Long" resultMap="ProjectUserRelationInfoResult">
        <include refid="selectProjectUserRelationInfoVo"/>
        where project_id = #{projectId}
    </select>

    <insert id="insertProjectUserRelationInfo" parameterType="com.hq.ecmp.mscore.domain.ProjectUserRelationInfo">
        insert into project_user_relation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null ">project_id,</if>
            <if test="userId != null ">user_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null ">#{projectId},</if>
            <if test="userId != null ">#{userId},</if>
         </trim>
    </insert>

    <update id="updateProjectUserRelationInfo" parameterType="com.hq.ecmp.mscore.domain.ProjectUserRelationInfo">
        update project_user_relation_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
        </trim>
        where project_id = #{projectId}
    </update>

    <delete id="deleteProjectUserRelationInfoById" parameterType="Long">
        delete from project_user_relation_info where project_id = #{projectId}
    </delete>

    <delete id="deleteProjectUserRelationInfoByIds" parameterType="String">
        delete from project_user_relation_info where project_id in
        <foreach item="projectId" collection="array" open="(" separator="," close=")">
            #{projectId}
        </foreach>
    </delete>
    <delete id="removeProjectUser" parameterType="Object" >
        delete from project_user_relation_info where project_id = #{projectId} and user_id=#{userId}
    </delete>


    <!--手动编写sql start-->
    <insert id="insertProjectList" parameterType="java.util.List">
        insert ignore  into project_user_relation_info(project_id,user_id)  values
        <foreach collection ="list" item="item" index= "index" separator =",">
            (#{item.projectId},#{item.userId})
        </foreach>
    </insert>
    <select id="getProjectUserList" parameterType="Object" resultType="com.hq.ecmp.mscore.vo.ProjectUserVO">
        select t.project_id projectId,a.nick_name name,a.phonenumber phonenumber,a.job_number jobNumber,b.dept_name deptName,c.dept_name company
        from project_user_relation_info t
        LEFT join ecmp_user a on a.user_id=t.user_id
        LEFT join ecmp_org b on b.dept_id=a.dept_id
        LEFT join ecmp_org c on c.dept_id=b.parent_id
        where
        t.project_id=#{projectId}
        <if test="search!=null">
            and (a.nick_name like concat('%', #{search}, '%') or a.phonenumber=#{search} or a.job_number=#{search} )
        </if>
    </select>
    <select id="getProjectUserListCount" parameterType="Object" resultType="Long">
        select count(*) from project_user_relation_info t
        LEFT join ecmp_user a on a.user_id=t.user_id
        where t.project_id=#{projectId}
        <if test="search!=null">
            and (a.nick_name like concat('%', #{search}, '%') or a.phonenumber=#{search} or a.job_number=#{search} )
        </if>
    </select>

</mapper>
