<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.SceneInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.SceneInfo" id="SceneInfoResult">
        <result property="sceneId"    column="scene_id"    />
        <result property="name"    column="name"    />
        <result property="sortNo"    column="sort_no"    />
        <result property="icon"    column="icon"    />
        <result property="effectStatus"    column="effect_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSceneInfoVo">
        select scene_id, name, sort_no, icon, effect_status, create_by, create_time, update_by, update_time from scene_info
    </sql>

    <select id="selectSceneInfoList" parameterType="com.hq.ecmp.mscore.domain.SceneInfo" resultMap="SceneInfoResult">
        <include refid="selectSceneInfoVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sortNo != null "> and sort_no = #{sortNo}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="effectStatus != null  and effectStatus != ''"> and effect_status = #{effectStatus}</if>
        </where>
    </select>

    <select id="selectSceneInfoById" parameterType="Long" resultMap="SceneInfoResult">
        <include refid="selectSceneInfoVo"/>
        where scene_id = #{sceneId}
    </select>

    <insert id="insertSceneInfo" parameterType="com.hq.ecmp.mscore.domain.SceneInfo">
        <selectKey keyColumn="scene_id" keyProperty="sceneId" resultType="long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into scene_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sceneId != null ">scene_id,</if>
            <if test="name != null  and name != ''">name,</if>
            sort_no,
            <if test="icon != null  and icon != ''">icon,</if>
            <if test="effectStatus != null  and effectStatus != ''">effect_status,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sceneId != null ">#{sceneId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            SELECT IFNULL(a.x,0)*100 FROM (SELECT MAX(scene_id) X FROM scene_info) a,
            <if test="icon != null  and icon != ''">#{icon},</if>
            <if test="effectStatus != null  and effectStatus != ''">#{effectStatus},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSceneInfo" parameterType="com.hq.ecmp.mscore.domain.SceneInfo">
        update scene_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="sortNo != null ">sort_no = #{sortNo},</if>
            <if test="icon != null  and icon != ''">icon = #{icon},</if>
            <if test="effectStatus != null  and effectStatus != ''">effect_status = #{effectStatus},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where scene_id = #{sceneId}
    </update>

    <delete id="deleteSceneInfoById" parameterType="Long">
        delete from scene_info where scene_id = #{sceneId}
    </delete>

    <delete id="deleteSceneInfoByIds" parameterType="String">
        delete from scene_info where scene_id in
        <foreach item="sceneId" collection="array" open="(" separator="," close=")">
            #{sceneId}
        </foreach>
    </delete>

	<select id="selectAllSceneSort" parameterType="java.lang.Long"
		resultType="com.hq.ecmp.mscore.domain.SceneInfo">
		SELECT
		b. NAME AS NAME,
		b.icon AS icon,
		b.scene_id AS sceneId
		FROM
		scene_regime_relation a
		LEFT JOIN scene_info b ON a.scene_id = b.scene_id
		LEFT JOIN user_regime_relation_info c ON a.regimen_id = c.regimen_id
		WHERE
		c.user_id = #{userId}
		AND b.effect_status = '0'
		ORDER BY
		b.sort_no
	</select>
    <select id="selectAll" resultMap="SceneInfoResult" parameterType="String">
        select name,sort_no,icon,scene_id,effect_status
        from scene_info
        <where>
        <if test="name != null  and name != ''">name like CONCAT('%',#{name},'%')</if>
        </where>
        order by sort_no
    </select>

</mapper>
