<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.StatisticsForAdminMapper">

    <select id = "driverOutranking" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
		eo.dept_name deptName,
		osti.state state,
		count(oi.order_id) orders
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
        -- （加入内外部车队条件限制
        LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
        LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
        -- 加入内外部车队条件限制）
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
		LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		where osti.state in ('S900','S901')
		and oi.company_id = #{companyId}
        -- 加入内外部车队条件限制
        and cgi.it_is_inner in ('C000','C111')
        <if test="beginDate!=null and '' != beginDate">
            and  ji.end_date &gt;= #{beginDate}
        </if>
        <if test="endDate!=null and '' != endDate">
            and  ji.end_date &lt;= #{endDate}
        </if>
		group by eo.dept_id order by orders desc
    </select>

    <select id = "vehicleExpenses" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
        eo.dept_name deptName,
        osti.state state,
        sum(osi.amount) amount
        from order_info oi
        left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
        order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
        -- （加入内外部车队条件限制
        LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
        LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
        -- 加入内外部车队条件限制）
        LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
        LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
        LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		where osti.state in ('S900','S901')
		and oi.company_id = #{companyId}
        -- 加入内外部车队条件限制
        and cgi.it_is_inner in ('C000','C111')
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
        group by eo.dept_id order by amount desc
    </select>

    <select id = "unitVehicleByIn" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
		eo.dept_name deptName,
		GROUP_CONCAT(DISTINCT cgi.it_is_inner),
		osti.state state,
		count(oi.order_id) ordersByIn,
		sum(ji.use_time) useTimesByIn,
		sum(osi.amount) amountByIn
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
		LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		<if test="companyId!=null and '' != companyId">
			and oi.company_id = #{companyId}
		</if>
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="deptName!=null and '' != deptName">
			and  eo.dept_name = #{deptName}
		</if>
		group by eo.dept_id
		order by ordersByIn desc

    </select>

    <select id = "unitVehicleByOut" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
		eo.dept_name deptName,
		GROUP_CONCAT(DISTINCT cgi.it_is_inner),
		osti.state state,
		count(oi.order_id) ordersByOut,
		sum(ji.use_time) useTimesByOut,
		sum(osi.amount) amountByOut
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
		LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C111'
		<if test="companyId!=null and '' != companyId">
			and oi.company_id = #{companyId}
		</if>
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="deptName!=null and '' != deptName">
			and  eo.dept_name = #{deptName}
		</if>
		group by eo.dept_id
		order by ordersByOut desc

    </select>

    <select id = "useOfMechanismVehicles" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
      	select
		ci.car_license carLicense,
		ecti.name carName,
		ci.seat_num seatNum,
		osti.state state,
		count(oi.order_id) orders,
		sum(ji.use_time) useTimes,
		sum(osi.amount) amount
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_info ci ON ci.car_id = oi.car_id
		LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id = ci.car_type_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="carLicense!=null and '' != carLicense">
			and  ci.car_license = #{carLicense}
		</if>
		group by ci.car_license
		order by orders desc

    </select>

    <select id = "driverOut" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
		di.driver_id driverId,
		di.driver_name driverName,
		osti.state state,
		count(oi.order_id) orders,
		sum(ji.use_time) useTimes
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  driver_info di ON di.driver_id = oi.driver_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="driverName!=null and '' != driverName">
			and  di.driver_name = #{driverName}
		</if>
		group by di.driver_id
		order by orders desc

    </select>

    <select id = "appointmentTime" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">


    </select>

    <select id = "modelUse" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
		select
		ecti.name carName,
		osti.state state,
		count(oi.order_id) orders,
		sum(ji.use_time) useTimes,
		sum(osi.amount) amount
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_info ci ON ci.car_id = oi.car_id
		LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id = ci.car_type_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="carName!=null and '' != carName">
			and  ecti.name = #{carName}
		</if>
		group by ecti.name
		order by orders desc

    </select>

    <select id = "leasing" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminVo">
        select
		cgi.car_group_name carGroupName,
		osti.state state,
		count(oi.order_id) orders,
		sum(ji.use_time) useTimes,
		sum(osi.amount) amount
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C111'
		and oi.company_id = #{companyId}
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
		<if test="carGroupName!=null and '' != carGroupName">
			and  cgi.car_group_name = #{carGroupName}
		</if>
		group by cgi.car_group_name
		order by orders desc

    </select>

    <select id = "details" parameterType="com.hq.ecmp.mscore.dto.statistics.StatisticsForAdmin" resultType="com.hq.ecmp.mscore.vo.StatisticsForAdminDetailVo">

        select
		oi.order_id orderId,
		osti.state state,
		eo.dept_name deptName,
		ji.start_date beginTime,
		jpi.name vehicleUserName,
		ecti.name carName,
		ci.car_license carLicense,
		oai1.address beginAddress,
        oai2.address endAddress,
		ji.use_time useTime
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  driver_info di ON di.driver_id = oi.driver_id
		LEFT JOIN  journey_passenger_info jpi ON jpi.journey_id = ji.journey_id
		LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
		LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		LEFT JOIN  car_info ci ON ci.car_id = oi.car_id
		LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id = ci.car_type_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		left join
        (select order_id,type,address,address_long from order_address_info where type = 'A000') oai1 on  oai1.order_id = oi.order_id
        left join
        (select order_id,type,address,address_long from order_address_info where type = 'A999') oai2 on  oai2.order_id = oi.order_id
		where osti.state in ('S900','S901')
		and oi.company_id = #{companyId}
		<if test="beginDate!=null and '' != beginDate">
			and  ji.end_date &gt;= #{beginDate}
		</if>
		<if test="endDate!=null and '' != endDate">
			and  ji.end_date &lt;= #{endDate}
		</if>
        <if test="deptName!=null and '' != deptName">
			and cgi.it_is_inner in ('C000','C111')
            and  eo.dept_name = #{deptName}
        </if>
        <if test="carLicense!=null and '' != carLicense">
			and cgi.it_is_inner = 'C000'
            and  ci.car_license = #{carLicense}
        </if>
        <if test="driverName!=null and '' != driverName">
			and cgi.it_is_inner = 'C000'
            and  di.driver_name = #{driverName}
        </if>
        <if test="carName!=null and '' != carName">
			and cgi.it_is_inner = 'C000'
            and  ecti.name = #{carName}
        </if>
        <if test="carGroupName!=null and '' != carGroupName">
			and cgi.it_is_inner = 'C111'
            and  cgi.car_group_name = #{carGroupName}
        </if>
    </select>

	<select id="getDeptNames" resultType="String">
		select
		eo.dept_name deptName
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  ecmp_user eu  ON eu.user_id = oi.user_id
		LEFT JOIN  ecmp_org eo   ON eo.dept_id  = eu.dept_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and oi.company_id = #{companyId}
		group by eo.dept_id
	</select>

	<select id="getCarLicenses" resultType="String">
		select
		ci.car_license carLicense
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_info ci ON ci.car_id = oi.car_id
		LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id = ci.car_type_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		group by ci.car_license
	</select>

	<select id="getDriverNames" resultType="String">
		  select
		di.driver_name driverName
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  driver_info di ON di.driver_id = oi.driver_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		group by di.driver_id
	</select>

	<select id="getCarNames" resultType="String">
		select
		ecti.name carNames
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_info ci ON ci.car_id = oi.car_id
		LEFT JOIN  enterprise_car_type_info ecti ON ecti.car_type_id = ci.car_type_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C000'
		and oi.company_id = #{companyId}
		group by ecti.name
	</select>

	<select id="getCarGroupNames" resultType="String">
		select
		cgi.car_group_name carGroupName
		from order_info oi
		left join (SELECT state,order_id FROM `order_state_trace_info` where trace_id in (select max(trace_id) from
		order_state_trace_info GROUP BY order_id) ) osti on osti.order_id=oi.order_id
		LEFT JOIN  journey_info ji ON oi.journey_id = ji.journey_id
		LEFT JOIN  order_settling_info osi ON osi.order_id = oi.order_id
		LEFT JOIN  car_group_driver_relation cgdr ON cgdr.driver_id = oi.driver_id
		LEFT JOIN  car_group_info cgi ON cgi.car_group_id = cgdr.car_group_id
		where osti.state in ('S900','S901')
		and cgi.it_is_inner = 'C111'
		and oi.company_id = #{companyId}
		group by cgi.car_group_name
	</select>
</mapper>
