<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.UserEmergencyContactInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.UserEmergencyContactInfo" id="UserEmergencyContactInfoMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateBy" column="update_by" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="UserEmergencyContactInfoMap">
        select
          id, user_id, name, mobile, create_by, create_time, update_by, update_time
        from ecmp.user_emergency_contact_info
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserEmergencyContactInfoMap">
        select
          id, user_id, name, mobile, create_by, create_time, update_by, update_time
        from ecmp.user_emergency_contact_info
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserEmergencyContactInfoMap">
        select
          id, user_id, name, mobile, create_by, create_time, update_by, update_time
        from ecmp.user_emergency_contact_info
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="createBy != null">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ecmp.user_emergency_contact_info(user_id, name, mobile, create_by, create_time, update_by, update_time)
        values (#{userId}, #{name}, #{mobile}, #{createBy}, #{createTime}, #{updateBy}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ecmp.user_emergency_contact_info
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="createBy != null">
                create_by = #{createBy},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateBy != null">
                update_by = #{updateBy},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ecmp.user_emergency_contact_info where id = #{id}
    </delete>

    <!--通过userId查询列表-->
    <select id="queryByUserId" resultMap="UserEmergencyContactInfoMap">
        select
          id, user_id, name, mobile, create_by, create_time, update_by, update_time
        from ecmp.user_emergency_contact_info
        where user_id = #{user_id}
    </select>


</mapper>