<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.UserRegimeRelationInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.UserRegimeRelationInfo" id="UserRegimeRelationInfoResult">
        <result property="userId"    column="user_id"    />
        <result property="regimenId"    column="regimen_id"    />
    </resultMap>

    <sql id="selectUserRegimeRelationInfoVo">
        select user_id, regimen_id from user_regime_relation_info
    </sql>

    <select id="selectUserRegimeRelationInfoList" parameterType="com.hq.ecmp.mscore.domain.UserRegimeRelationInfo" resultMap="UserRegimeRelationInfoResult">
        <include refid="selectUserRegimeRelationInfoVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="regimenId != null "> and regimen_id = #{regimenId}</if>
        </where>
    </select>

    <select id="selectUserRegimeRelationInfoById" parameterType="Long" resultMap="UserRegimeRelationInfoResult">
        <include refid="selectUserRegimeRelationInfoVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertUserRegimeRelationInfo" parameterType="com.hq.ecmp.mscore.domain.UserRegimeRelationInfo">
        insert into user_regime_relation_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="regimenId != null ">regimen_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="regimenId != null ">#{regimenId},</if>
         </trim>
    </insert>

    <update id="updateUserRegimeRelationInfo" parameterType="com.hq.ecmp.mscore.domain.UserRegimeRelationInfo">
        update user_regime_relation_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="regimenId != null ">regimen_id = #{regimenId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteUserRegimeRelationInfoById" parameterType="Long">
        delete from user_regime_relation_info where user_id = #{userId}
    </delete>

    <delete id="deleteUserRegimeRelationInfoByIds" parameterType="String">
        delete from user_regime_relation_info where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
   <!--根据用户id查询制度id集合-->
    <select id="selectIdsByUserId" parameterType="long" resultType="Long">
        select regimen_id from user_regime_relation_info where user_id = #{userId}
    </select>

	<insert id="batchInsertUser">
		insert into user_regime_relation_info (user_id,regimen_id)
		values
		<foreach collection="list" item="userId" separator=",">
			(#{userId},#{regimenId})
		</foreach>
	</insert>
	
	<select id="queryRegimeUserCount" parameterType="java.lang.Long" resultType="java.lang.Integer">
	select count(1) from user_regime_relation_info where regimen_id=#{regimenId}
	</select>
	
	<delete id="deleteUserRegimeRelationInfoByRegimeId" parameterType="java.lang.Long">
	delete from user_regime_relation_info where user_regime_relation_info=#{regimeId}
	</delete>

</mapper>
