<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.UserCallPoliceInfoMapper">

    <resultMap type="com.hq.ecmp.mscore.domain.UserCallPoliceInfo" id="UserCallPoliceInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="userPhone"    column="user_phone"    />
        <result property="area"    column="area"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="carLicense"    column="car_license"    />
        <result property="journeyId"    column="journey_id"    />
        <result property="state"    column="state"    />
        <result property="result"    column="result"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserCallPoliceInfoVo">
        select id, user_id, user_phone, area, longitude, latitude, car_license, journey_id, state, result, create_by, create_time, update_by, update_time from user_call_police_info
    </sql>

    <select id="selectUserCallPoliceInfoList" parameterType="com.hq.ecmp.mscore.domain.UserCallPoliceInfo" resultMap="UserCallPoliceInfoResult">
        <include refid="selectUserCallPoliceInfoVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and user_id = #{userId}</if>
            <if test="userPhone != null  and userPhone != ''"> and user_phone = #{userPhone}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="carLicense != null  and carLicense != ''"> and car_license = #{carLicense}</if>
            <if test="journeyId != null  and journeyId != ''"> and journey_id = #{journeyId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="result != null  and result != ''"> and result = #{result}</if>
        </where>
    </select>

    <select id="selectUserCallPoliceInfoById" parameterType="Long" resultMap="UserCallPoliceInfoResult">
        <include refid="selectUserCallPoliceInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertUserCallPoliceInfo" parameterType="com.hq.ecmp.mscore.domain.UserCallPoliceInfo">
        insert into user_call_police_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="userId != null  and userId != ''">user_id,</if>
            <if test="userPhone != null  and userPhone != ''">user_phone,</if>
            <if test="area != null  and area != ''">area,</if>
            <if test="longitude != null ">longitude,</if>
            <if test="latitude != null ">latitude,</if>
            <if test="carLicense != null  and carLicense != ''">car_license,</if>
            <if test="journeyId != null  and journeyId != ''">journey_id,</if>
            <if test="state != null  and state != ''">state,</if>
            <if test="result != null  and result != ''">result,</if>
            <if test="createBy != null ">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null ">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="userId != null  and userId != ''">#{userId},</if>
            <if test="userPhone != null  and userPhone != ''">#{userPhone},</if>
            <if test="area != null  and area != ''">#{area},</if>
            <if test="longitude != null ">#{longitude},</if>
            <if test="latitude != null ">#{latitude},</if>
            <if test="carLicense != null  and carLicense != ''">#{carLicense},</if>
            <if test="journeyId != null  and journeyId != ''">#{journeyId},</if>
            <if test="state != null  and state != ''">#{state},</if>
            <if test="result != null  and result != ''">#{result},</if>
            <if test="createBy != null ">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null ">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserCallPoliceInfo" parameterType="com.hq.ecmp.mscore.domain.UserCallPoliceInfo">
        update user_call_police_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null  and userId != ''">user_id = #{userId},</if>
            <if test="userPhone != null  and userPhone != ''">user_phone = #{userPhone},</if>
            <if test="area != null  and area != ''">area = #{area},</if>
            <if test="longitude != null ">longitude = #{longitude},</if>
            <if test="latitude != null ">latitude = #{latitude},</if>
            <if test="carLicense != null  and carLicense != ''">car_license = #{carLicense},</if>
            <if test="journeyId != null  and journeyId != ''">journey_id = #{journeyId},</if>
            <if test="state != null  and state != ''">state = #{state},</if>
            <if test="result != null  and result != ''">result = #{result},</if>
            <if test="createBy != null ">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null ">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserCallPoliceInfoById" parameterType="Long">
        delete from user_call_police_info where id = #{id}
    </delete>

    <delete id="deleteUserCallPoliceInfoByIds" parameterType="String">
        delete from user_call_police_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
