<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.CarInfo">
        <id column="car_id" property="carId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="car_group_id" property="carGroupId" />
        <result column="dept_id" property="deptId" />
        <result column="car_type_id" property="carTypeId" />
        <result column="car_license" property="carLicense" />
        <result column="state" property="state" />
        <result column="car_type" property="carType" />
        <result column="seat_num" property="seatNum" />
        <result column="car_color" property="carColor" />
        <result column="car_license_color" property="carLicenseColor" />
        <result column="power_type" property="powerType" />
        <result column="car_type_01" property="carType01" />
        <result column="engine_number" property="engineNumber" />
        <result column="engine_cc" property="engineCc" />
        <result column="engine_power" property="enginePower" />
        <result column="car_number" property="carNumber" />
        <result column="car_imgae_url" property="carImgaeUrl" />
        <result column="car_driving_license_images_url" property="carDrivingLicenseImagesUrl" />
        <result column="car_license_image_url" property="carLicenseImageUrl" />
        <result column="buy_date" property="buyDate" />
        <result column="rent_end_date" property="rentEndDate" />
        <result column="owner_org_id" property="ownerOrgId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        car_id, car_group_id, dept_id, car_type_id, car_license, state, car_type, seat_num, car_color, car_license_color, power_type, car_type_01, engine_number, engine_cc, engine_power, car_number, car_imgae_url, car_driving_license_images_url, car_license_image_url, buy_date, rent_end_date, owner_org_id
    </sql>

</mapper>
