<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.OrderInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.OrderInfo">
        <id column="order_id" property="orderId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="journey_id" property="journeyId" />
        <result column="node_id" property="nodeId" />
        <result column="power_id" property="powerId" />
        <result column="driver_id" property="driverId" />
        <result column="car_id" property="carId" />
        <result column="use_car_mode" property="useCarMode" />
        <result column="state" property="state" />
        <result column="actual_setout_address" property="actualSetoutAddress" />
        <result column="actual_setout_address_long" property="actualSetoutAddressLong" />
        <result column="actual_setout_longitude" property="actualSetoutLongitude" />
        <result column="actual_setout_latitude" property="actualSetoutLatitude" />
        <result column="actual_setout_time" property="actualSetoutTime" />
        <result column="actual_arrive_address" property="actualArriveAddress" />
        <result column="actual_arrive_address_long" property="actualArriveAddressLong" />
        <result column="actual_arrive_longitude" property="actualArriveLongitude" />
        <result column="actual_arrive_latitude" property="actualArriveLatitude" />
        <result column="actual_arrive_time" property="actualArriveTime" />
        <result column="tripartite_order_id" property="tripartiteOrderId" />
        <result column="tripartite_platform_code" property="tripartitePlatformCode" />
        <result column="driver_name" property="driverName" />
        <result column="driver_mobile" property="driverMobile" />
        <result column="car_license" property="carLicense" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        order_id, journey_id, node_id, power_id, driver_id, car_id, use_car_mode, state, actual_setout_address, actual_setout_address_long, actual_setout_longitude, actual_setout_latitude, actual_setout_time, actual_arrive_address, actual_arrive_address_long, actual_arrive_longitude, actual_arrive_latitude, actual_arrive_time, tripartite_order_id, tripartite_platform_code, driver_name, driver_mobile, car_license
    </sql>

</mapper>
