<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.ApproveTemplateNodeInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.ApproveTemplateNodeInfo">
        <id column="approve_node_id" property="approveNodeId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="approve_template_id" property="approveTemplateId" />
        <result column="approver_type" property="approverType" />
        <result column="leader_level" property="leaderLevel" />
        <result column="role_id" property="roleId" />
        <result column="user_id" property="userId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        approve_node_id, approve_template_id, approver_type, leader_level, role_id, user_id
    </sql>

</mapper>
