<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.CarHeartbeatInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.CarHeartbeatInfo">
        <id column="car_heartbeat_id" property="carHeartbeatId" />
        <result column="Attribute9" property="Attribute9" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        car_heartbeat_id, Attribute9
    </sql>

</mapper>
