<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.DriverInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.DriverInfo">
        <id column="driver_id" property="driverId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="driver_name" property="driverName" />
        <result column="country" property="country" />
        <result column="nation" property="nation" />
        <result column="id_card" property="idCard" />
        <result column="birthday" property="birthday" />
        <result column="gender" property="gender" />
        <result column="mobile" property="mobile" />
        <result column="address" property="address" />
        <result column="emergency_contact_a" property="emergencyContactA" />
        <result column="emergency_contact_b" property="emergencyContactB" />
        <result column="emergency_contact_c" property="emergencyContactC" />
        <result column="it_is_full_time" property="itIsFullTime" />
        <result column="license_type" property="licenseType" />
        <result column="license_issue_date" property="licenseIssueDate" />
        <result column="license_init_issue_date" property="licenseInitIssueDate" />
        <result column="license_number" property="licenseNumber" />
        <result column="license_archives_number" property="licenseArchivesNumber" />
        <result column="license_expire_date" property="licenseExpireDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        driver_id, user_id, driver_name, country, nation, id_card, birthday, gender, mobile, address, emergency_contact_a, emergency_contact_b, emergency_contact_c, it_is_full_time, license_type, license_issue_date, license_init_issue_date, license_number, license_archives_number, license_expire_date
    </sql>

</mapper>
