<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.JourneyInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.JourneyInfo">
        <id column="journey_id" property="journeyId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="regimen_id" property="regimenId" />
        <result column="service_type" property="serviceType" />
        <result column="use_car_mode" property="useCarMode" />
        <result column="use_car_time" property="useCarTime" />
        <result column="it_is_return" property="itIsReturn" />
        <result column="estimate_price" property="estimatePrice" />
        <result column="project_id" property="projectId" />
        <result column="flight_number" property="flightNumber" />
        <result column="use_time" property="useTime" />
        <result column="wait_time_long" property="waitTimeLong" />
        <result column="charter_car_type" property="charterCarType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        journey_id, user_id, regimen_id, service_type, use_car_mode, use_car_time, it_is_return, estimate_price, project_id, flight_number, use_time, wait_time_long, charter_car_type
    </sql>

</mapper>
