<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hq.ecmp.mscore.mapper.JourneyPassengerInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hq.ecmp.mscore.domain.JourneyPassengerInfo">
        <id column="journey_passenger_id" property="journeyPassengerId" />
    <result column="create_by" property="createBy" />
    <result column="create_time" property="createTime" />
    <result column="update_by" property="updateBy" />
    <result column="update_time" property="updateTime" />
        <result column="journey_id" property="journeyId" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="it_is_peer" property="itIsPeer" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_by,
        create_time,
        update_by,
        update_time,
        journey_passenger_id, journey_id, name, mobile, it_is_peer
    </sql>

</mapper>
